﻿@model ConferenceSubmission.BindingModels.CreditCardPaymentBindingModel
@{
    ViewData["Title"] = "Submission Payment";
}


<h1 class="color-primary">Submission Payment</h1>
<hr />
<p>
    Please enter all the information below to pay the $@String.Format("{0:0.00}", Model.PaymentAmount) submission fee.
    If you do not pay the submission fee your submission will not be reviewed. Visa, MasterCard and American Express are accepted.
</p>
<form asp-action="SubmissionPayment" asp-controller="Payment">
    <div class="form-group">
        <label asp-for="BillingFirstName"></label>
        <input class="form-control" asp-for="BillingFirstName" />
        <span asp-validation-for="BillingFirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BillingLastName"></label>
        <input class="form-control" asp-for="BillingLastName" />
        <span asp-validation-for="BillingLastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BillingStreet"></label>
        <input class="form-control" asp-for="BillingStreet" />
        <span asp-validation-for="BillingStreet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BillingCity"></label>
        <input class="form-control" asp-for="BillingCity" />
        <span asp-validation-for="BillingCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BillingZip"></label>
        <input class="form-control" asp-for="BillingZip" />
        <span asp-validation-for="BillingZip" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreditCardNumber"></label>
        <input class="form-control" asp-for="CreditCardNumber" />
        <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreditCardCsvCode"></label>
        <input class="form-control" asp-for="CreditCardCsvCode" />
        <span asp-validation-for="CreditCardCsvCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreditCardExpirationDate"></label>
        <input class="form-control" asp-for="CreditCardExpirationDate" />
        <span asp-validation-for="CreditCardExpirationDate" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="SubmissionId" value="@Model.SubmissionId" />
    <input type="hidden" asp-for="PaymentAmount" value="@Model.PaymentAmount" />
    <button type="submit" class="btn btn-primary">Pay For Submission</button> &nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="@Url.Action("Index", "Home" )">Cancel</a>
</form>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }