﻿@model ConferenceSubmission.ViewModels.SubmissionPaymentViewModel
@{
    ViewData["Title"] = "Submission Payment Processed";
}
<h3>@Model.PaymentResult</h3>
@if (Model.SuccessfulPayment == false)
{

    <p class="text-15">Your payment was not successful.  You can try to pay again after completing the submission process
    and then clicking on view submission.  On that page will be a link you can use to try paying again. </p>

}


@if (Model.ShowDisclosureLink)
{

    <p class="text-15">You need to complete a disclosure.</p>
    <a class="text-15" asp-controller="Disclosure" asp-action="@Model.DisclosureLinkMethod" asp-route-submissionId="@Model.SubmissionId"><i class="fas fa-pen"></i> Complete Disclosure</a>


}
else
{
    <p>
        Click here to <a class="text-16" asp-controller="Submission" asp-action="ProposalSuccess" asp-route-submissionId="@Model.SubmissionId"><i class="fas fa-eye"></i> View Submission</a>
        and read through additional instructions for how to add presenters to your submission.
    </p>
}
