﻿@model ConferenceSubmission.Models.Submission
@{
    ViewData["Title"] = "Submission Payment Receipt";
}

<h3>Submission Payment Receipt</h3>

<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.Conference.ConferenceLongName)</span></p>

    <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.SubmissionCategory.SubmissionCategoryName, AcceptedCategory = Model.AcceptedCategory.SubmissionCategoryName }" />

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>

    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>

</div>
<div class="mar-bot-20">
    <p class="cat-name-md">Payment Details</p>
    <p class="cat-info-md">Amount: $@Model.SubmissionPayment.PaymentAmount <br />
    Payment Date: @Model.SubmissionPayment.PaymentDateTime.ToString("MMMM dd, yyyy") <br />
    Payment Transaction Id: @Model.SubmissionPayment.SubmissionPaymentId </p>

</div>

<div class="col-xl-2 col-lg-2 col-md-3">
    <p class="cat-info-md"><a class="card-link" asp-controller="Submission" asp-action="ViewSubmission" asp-route-submissionId="@Model.SubmissionId"> <i class="fas fa-eye" aria-hidden="true"></i> Return to Submission</a></p>
</div>