﻿@model ConferenceSubmission.ViewModels.SubmissionAdminHomeViewModel
@{
    ViewData["Title"] = "Submission Admin";
}
<h1 class="text-primary">Committee Member View Submissions and Reviews</h1>

<hr />

<div class="card border-primary mb-3">
    <div class="card-body">
        <h4>Find Specific Submission</h4>
        <div>
            <form asp-action="ViewSubmission" asp-controller="CommitteeMember" class="form-inline">
                Enter submission number: <input placeholder="Submission Id" class="form-control form-control-sm" name="submissionId" id="submissionId" width="10" />
                <button class="btn-sm" type="submit">Find Submission</button>
            </form>
        </div>
    </div>
</div>

    @foreach (var activeConferenceViewModel in Model.ActiveConferenceViewModels.OrderByDescending(c => c.ConferenceCFPEndDate))
    {
        <div class="card border-primary mb-3">
            
            <div class="card-body">
                <h4 class="card-title">
                    @Html.Raw(activeConferenceViewModel.ConferenceLongName)

                </h4>

                <span class="badge badge-primary pad-5 text-13 mar-top-3">
                    <a class="card-link" asp-controller="CommitteeMember" asp-action="ViewSubmissionsForConference" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Submissions</a>
                </span>

            </div>
        </div>
        <hr />
    }

    @section scripts {
        <script src="~/js/SubmissionAdmin.js"></script>
    }
