﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
@using ConferenceSubmission.Extensions

@{
    ViewData["Title"] = $"View Submission: {Model.SubmissionId}";

    var acceptedSubmissionStatuses = new List<SubmissionStatusType> { SubmissionStatusType.ACCEPTED, SubmissionStatusType.PENDING, SubmissionStatusType.WILL_PRESENT_AT_VIRTUAL_CONFERENCE };
}

<h3><a href="/committeemember"><i class="fas fa-home mr-1"></i> Committee Member Home</a></h3>
<h3><a asp-controller="CommitteeMember" asp-action="SubmissionDetailedReviews" asp-route-submissionId="@Model.SubmissionId" target="_blank">All Reviews of This Submission</a></h3>
<h1 class="text-primary mar-top-10">Submission Details </h1>
<hr />
@await Html.PartialAsync("AuditLogs", new AuditLogsViewModel() { EntityId = Model.SubmissionId, EntityType = EntityType.Submission })

<div class="row">
    <div class="col-lg-7">
        <div class="card mb-3">
            <h3 class="card-header">Submission Metadata</h3>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="cat-name-md">
                            Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span>
                            @if (Model.ConferenceVirtual)
                            {
                                <span><b>(Virtual Conference)</b></span>
                            }
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">Submitted Category: <span class="cat-info-md">@Model.SubmissionCategoryName</span></p>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">
                            Accepted Category: <span class="cat-info-md">@Model.SubmissionAcceptedCategoryName</span>


                        </p>

                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">Submission Completed: <span class="cat-info @(Model.SubmissionCompleted ? "text-green" : "text-red")">@Model.SubmissionCompleted</span></p>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">Submission Status: <span class="cat-info-md">@Model.SubmissionStatus</span>  </p>

                    </li>
                    @if (Model.VirtualMaterials.Count > 0)
                    {
                        <li class="list-group-item">
                            <p class="cat-name-md">Uploaded Files:</p>
                            @foreach (var file in Model.VirtualMaterials)
                            {
                                <p class="cat-name-md mar-left-10">
                                    <span class="badge badge-primary pad-5 text-12">@file.MaterialType</span>
                                    @if (file.MaterialType.ToLower() == "link")
                                    {
                                        <span class="cat-info-md"><a target="_blank" href="@file.MaterialValue">@file.MaterialValue</a></span>
                                    }
                                    else
                                    {
                                        <span class="cat-info-md">@file.MaterialValue</span>
                                    }
                                </p>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <h3 class="card-header">Participants</h3>
            <div class="card-body">
                <ul class="list-group list-group-flush">



                    @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
                    {
                        <li class="list-group-item">
                            <div id="participant-@presenter.SubmissionParticipantId-container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-8">
                                        <span class="cat-info-lg mar-right-5">
                                            @if (!string.IsNullOrWhiteSpace(presenter.Email))
                                            {
                                                <a href="mailto:@presenter.Email">@presenter.FullName</a>
                                            }
                                            else
                                            {
                                                @($"{presenter.FullName}")
                                            }
                                        </span>&nbsp;
                                        <span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span>
                                        <span>(@presenter.SortOrder)</span>
                                    </div>

                                </div>

                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mar-bot-20 mar-top-20">
    <h3 class="mar-bot-5">Submission Abstract</h3>
    <hr class="hr-sm" />
    <p class="text-14">@Html.Raw(Model.SubmissionAbstract.ReplaceLineBreaksWithBreakTags())</p>
</div>

@if (Model.SubmissionFormFields.Count > 0)
{
    <div class="mar-bot-20">
        <h3 class="mar-bot-5">Submission Proposal Questions</h3>
        <hr class="hr-sm" />
        @foreach (var submissionFormField in Model.SubmissionFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
        {
            string question = submissionFormField.FormField.GetPropertyValue("label");
            if (!question.Equals(""))
            {
                <div class="mar-bot-15">
                    <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
                    @if (submissionFormField.FormField.FormFieldType.ToLower() == "textarea")
                    {
                        <p class="cat-name-sm">Response:</p>
                        <p class="cat-info-sm">@Html.Raw(submissionFormField.SubmissionFormFieldValue.ReplaceLineBreaksWithBreakTags())</p>
                    }
                    else
                    {
                        <p class="cat-name-sm">Response: <span class="cat-info-sm">@submissionFormField.SubmissionFormFieldValue</span></p>
                    }
                </div>
            }
        }
    </div>
}

<hr />

<h3><a href="/committeemember"><i class="fas fa-home mr-1"></i> Committee Member Home</a></h3>
<h3><a asp-controller="CommitteeMember" asp-action="SubmissionDetailedReviews" asp-route-submissionId="@Model.SubmissionId" target="_blank">All Reviews of This Submission</a></h3>




@section scripts {
    <script src="~/js/SubmissionAdminViewSubmission.js"></script>
}


