﻿@model IEnumerable<ConferenceSubmission.Models.Announcement>
<div class="mar-top-15">
    @foreach (var a in Model)
    {
        <div class="well" id="announcementContainer-@a.AnnouncementId">
            <div id="announcementInfoContainer-@a.AnnouncementId">
                <p class="color-primary font-weight-bold">
                    <span class="text-15" id="announcementContentContainer-@a.AnnouncementId">@a.Content</span>
                    <a href="javascript:void(0)" class="mar-right-10 mar-left-5" onclick="showEditAnnouncementForm(@a.AnnouncementId)"><i class="fas fa-edit" style="font-size: 1.25em;"></i></a>
                    <a href="javascript:void(0)" onclick="deleteAnnouncement(@a.AnnouncementId)"><i class="fas fa-trash-alt text-red" style="font-size: 1.25em;"></i></a>
                </p>
            </div>
            <div id="editAnnouncementForm-@a.AnnouncementId" class="mar-left-20" style="display:none;">
                <div class="form-group">
                    <textarea id="editAnnouncemenTextArea-@a.AnnouncementId" class="form-control" rows="2"></textarea>
                    <div class="pad-top-15">
                        <a href="javascript:void(0)" onclick="editAnnouncement(@a.AnnouncementId, @a.SortOrder)" class="mar-right-10"><i class="fas fa-check-square text-green" style="font-size: 1.5em;"></i></a>
                        <a href="javascript:void(0)" onclick="cancelEditAnnouncement(@a.AnnouncementId)"><i class="fas fa-ban text-red" style="font-size: 1.5em;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>