﻿@model ConferenceSubmission.ViewModels.ManageAnnouncementsViewModel
@{
    ViewData["Title"] = "ManageAnnouncements";
}

<div id="createAnnouncementContainer">
    <h2 class="color-primary">Manage Announcements</h2>
    <hr />

    <div class="alert alert-primary help-text" role="alert">
        <div>
            <p class="mar-bot-0">The "Announcements" panel will show directly above the "Open Calls for Proposals" panel on the home page. Click "Create Announcement" to add a new message. Type the message and click the green check-mark to save and display the announcement. To delete an announcement, click the red trashcan icon. Note deleting an announcement is permanent.</p>
        </div>
    </div>

    <a id="showAnnouncementFormLink" class="card-link" href="javascript:void(0)" onclick="showCreateAnnouncementForm()"><i class="fas fa-plus-square" aria-hidden="true"></i> Create Announcement</a>
    <div id="createAnnouncementFormContainer" style="display:none;">

        <div class="form-group">
            <label>Create a new announcement</label>
            <textarea id="announcemenTextArea" class="form-control" rows="2"></textarea>
            <div class="pad-top-15">
                <a href="javascript:void(0)" onclick="createAnnouncement()" class="mar-right-10"><i class="fas fa-check-square text-green" style="font-size: 1.5em;"></i></a>
                <a href="javascript:void(0)" onclick="cancelCreateAnnouncement()"><i class="fas fa-ban text-red" style="font-size: 1.5em;"></i></a>
            </div>
        </div>
        <hr />
    </div>
</div>


<div id="allAnnouncementsContainer">
    @await Html.PartialAsync("AllAnnouncements", Model.Announcements)
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ManageAnnouncements.js"></script>
}
