﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Proposal Created</title>
</head>
<body>
    <p>
        You have entered the following submission to conference @Model.ConferenceName: <br />
        Submission ID #: @Model.SubmissionId <br />
        Category:   @Model.SubmissionCategoryName<br />
        Title: @Model.SubmissionTitle <br />
        Abstract: @Model.SubmissionAbstract
    </p>
    @if (Model.SubmissionFormFields.Count > 0)
    {
        <p>You have provided these answers to the submission proposal questions: </p>


        @foreach (var submissionFormField in Model.SubmissionFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
        {
            string question = submissionFormField.FormField.GetPropertyValue("label");
            if (!question.Equals(""))
            {

                <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
                <p class="cat-name-sm">Response: <span class="cat-info-sm">@submissionFormField.SubmissionFormFieldValue</span></p>

            }
        }

    }
    else
    {

        <p>You have not answered the submission proposal questions.  See below for how to edit this submission and the submission deadline.</p>

    }
    @if (Model.SubmissionCompleted)
    {
        <p>
            You have answered all the required submission proposal questions.  See below for how to edit this submission if you want
            to update your answers.
        </p>

    }
    else
    {
        <p>
            You have NOT answered all the required submission proposal questions.  See below for how to edit this submission and the
            submission deadline.  If you do not answer all the required submission proposal questions by the deadline this submission
            will not be reviewed.
        </p>

    }
    <p>
        The submission deadline is <b>@Model.ConferenceCfpEndDate.ToString("MM/dd/yyyy") 11:00 PM CST</b>.  Up until that date/time
        you may edit this submission.  Just visit <a href="https://conferenceadmin.azurewebsites.net">https://conferenceadmin.azurewebsites.net</a>
    </p>
    <p>Invite Participant to Submission</p>
    <p>Copy the URL below and email it to each person that you want to invite to this submission.<p>
    <p>@Model.AddParticipantUrl</p>
</body>
</html>
