﻿@model ConferenceSubmission.Models.Submission
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Created</title>
</head>
<body>
    <p>
        You have entered the following submission to conference @Model.Conference.ConferenceLongName : <br />

        Submission ID #: @Model.SubmissionId <br />

        Category:  @Model.SubmissionCategory.SubmissionCategoryName <br />

        Title: @Model.SubmissionTitle <br />

        Abstract: @Model.SubmissionAbstract

    </p>

    <p>The next step is to finish your submission by answering the proposal questions.</p>

    <p>
        The submission deadline is <b>@Model.Conference.ConferenceCFPEndDate.ToString("MM/dd/yyyy") 11:00 PM CST</b>.  Up until that date/time
        you may edit your submission.  Just visit <a href="https://conferenceadmin.azurewebsites.net">https://conferenceadmin.azurewebsites.net</a>
    </p>

</body>
</html>