﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel

@{
    ViewData["Title"] = $"Submission: {Model.SubmissionId}";
}

<h3 style="color:red">Our records show that a poster has previously been provided for this submission.  See details below.</h3>
<h4 class="text-primary">Submission Details</h4>
<hr />
<div class="mar-bot-20">

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>

    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>

    @if (Model.VirtualMaterials.Count > 0)
    {
        <li class="list-group-item">
            <p class="cat-name-md">Uploaded Files:</p>
            @foreach (var file in Model.VirtualMaterials)
            {
        <p class="cat-name-md mar-left-10">
            <span class="badge badge-primary pad-5 text-12">@file.MaterialType</span>
            @if (file.MaterialType.ToLower() == "link")
            {
                <span class="cat-info-md"><a target="_blank" href="@file.MaterialValue">@file.MaterialValue</a></span>
            }
            else
            {
                <span class="cat-info-md">@file.MaterialValue</span>
            }

            - Uploaded on @file.UploadedDateTime.ToString("MM/dd/yyyy") at @file.UploadedDateTime.ToString("HH:mm")
        </p>
            }
        </li>
    }

    <p>If you want to remove all uploaded material for this submission and start over click on 
    <a class="btn btn-primary" asp-controller="Submission" asp-action="RemoveUploadedMaterial" asp-route-submissionId="@Model.SubmissionId"><i class="far fa-plus-square mar-right-3"></i> Remove Uploaded Material</a>. <br />
    <b>IMPORTANT: Removing these uploaded file(s) 
    cannot be undone. You will need to upload new files for presentation.</b></p>

    <p>If you have questions please email us at <a href="mailto:stfmoffice@stfm.org">stfmoffice@stfm.org</a></p>
</div>


