﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
@using ConferenceSubmission.Extensions
@{
    ViewData["Title"] = "CERA Survey Proposal";
}
<h1 class="text-primary">Submission Details</h1>
<hr />
<div class="alert alert-primary help-text" role="alert">
    <p class="mar-bot-0">Your CERA survey proposal has been successfully submitted.</p>
    <a href="/Cera" class="card-link">Return to the CERA dashboard</a>
</div>
<div class="mar-bot-20">
    <p class="cat-name-md">CERA Survey: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>
    <p class="cat-name-md">Category: <span class="cat-info-md">@Model.SubmissionCategoryName</span></p>
    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>
    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>
    <p class="cat-name-md">
        Submission Completed: <span class="cat-info @(Model.SubmissionCompleted ? "text-green" : "text-red")">@Model.SubmissionCompleted</span>
    </p>
    <p class="cat-name-md">
        <a class="card-link" asp-controller="Submission" asp-action="EditProposalAnswers" asp-route-submissionId="@Model.SubmissionId"><i class="fas fa-pen" aria-hidden="true"></i> Edit Submission</a>
    </p>
</div>

@if (Model.SubmissionFormFields.Count > 0)
{
    <div class="mar-bot-20">
        <h3 class="mar-bot-5">Submission Proposal Questions</h3>
        <hr class="hr-sm" />
        @foreach (var submissionFormField in Model.SubmissionFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
        {
            string question = submissionFormField.FormField.GetPropertyValue("label");
            if (!question.Equals(""))
            {
                <div class="mar-bot-25">
                    <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
                    @if (submissionFormField.FormField.FormFieldType.ToLower() == "textarea")
                    {
                        <p class="cat-name-sm">Response:</p>
                        <p class="cat-info-sm">@Html.Raw(submissionFormField.SubmissionFormFieldValue.ReplaceLineBreaksWithBreakTags())</p>
                    }
                    else
                    {
                        <p class="cat-name-sm">Response: <span class="cat-info-sm">@submissionFormField.SubmissionFormFieldValue</span></p>
                    }
                </div>
            }
        }
    </div>
}


