﻿@model ConferenceSubmission.ViewModels.SubmissionProposalInputViewModel
@using ConferenceSubmission.Extensions
@{
    ViewData["Title"] = "Edit Not Allowed";
}
<h1 class="color-primary">Edit Not Allowed</h1>
<hr />
<div class="alert alert-primary help-text" role="alert">
    <p class="mar-bot-0">You are not allowed to edit this submission.</p>
</div>

<div class="mar-bot-20">
    <h3>Get Help</h3>
    <p class="text-14">For assistance, contact the STFM office at 800-274-7928 ext 5415 or email <a href="mailto:stfmoffice@stfm.org">stfmoffice@stfm.org</a> </p>
</div>