﻿@model ConferenceSubmission.BindingModels.EditSubmissionWithProposalAnswersBindingModel

@{
    if (Model.ConferenceName.Contains("CERA", StringComparison.InvariantCultureIgnoreCase))
    {
        ViewData["Title"] = "Edit CERA Survey Proposal";

    }
    else
    {
        ViewData["Title"] = "Edit Submission Proposal";
    }
}

<h1 class="text-primary">Edit Submission Proposal</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-lg">Conference: <span class="cat-info-lg">@Html.Raw(Model.ConferenceName)</span></p>
    <p class="cat-name-lg">Category: <span class="cat-info-lg">@Model.SubmissionCategoryName</span></p>
    <p class="cat-name-lg">Submission Id: <span class="cat-info-lg">@Model.SubmissionId</span></p>
    <p class="cat-name-lg">Submission Title: <span class="cat-info-lg">@Model.SubmissionTitle</span></p>
</div>

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditProposalAnswers" method="post" onsubmit="return checkForm(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="SubmissionId" class="form-control" type="hidden" />
            @foreach (var formField in Model.FormFields)
            {
                switch (formField.FormFieldType)
                {
                    case "screentext":
                        ////Get the text value for this screen text
                        <p class="font-size-1rem">
                            @Html.Raw(formField.GetPropertyValue("textvalue"))
                        </p>
                        break;

                    case "text":
                        <div class="form-group">
                            <label for="FIELD_@formField.FormFieldType">
                                @formField.GetPropertyValue("label")
                                @if (formField.AnswerRequired)
                                {<span style="color:red"><b>*</b></span>}
                                @if (!string.IsNullOrWhiteSpace(formField.GetPropertyValue("maxlength")))
                                {<span>(Character limit including spaces: @formField.GetPropertyValue("maxlength"))</span>}
                            </label>

                            <input type="text" class="form-control" name="FIELD_@formField.FormFieldId" value="@Model.GetSubmissionFormFieldValue(formField.FormFieldId)" maxlength="@(formField.GetPropertyValue("maxlength"))" />
                        </div>
                        break;

                    case "textarea":
                        <div class="form-group">
                            <label for="FIELD_@formField.FormFieldType">
                                @formField.GetPropertyValue("label")
                                @if (formField.AnswerRequired)
                                {<span style="color:red"><b>*</b></span>}
                                @if (!string.IsNullOrWhiteSpace(formField.GetPropertyValue("maxlength")))
                                {<span>(Character limit including spaces: @formField.GetPropertyValue("maxlength"))</span>}
                            </label>
                            <textarea class="form-control" name="FIELD_@formField.FormFieldId" rows="10" cols="50" maxlength="@(formField.GetPropertyValue("maxlength"))">@Model.GetSubmissionFormFieldValue(formField.FormFieldId)</textarea>
                        </div>
                        break;

                    case "checkbox":
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="FIELD_@formField.FormFieldId"
                                       value="@formField.GetPropertyValue("value")"
                                       @(Model.GetSubmissionFormFieldValue(formField.FormFieldId) == formField.GetPropertyValue("value") ? "checked" : "")>
                                <label class="form-check-label font-size-1rem label-not-bold" for="inlineCheckbox1">@formField.GetPropertyValue("label")</label>
                            </div>
                        </div>
                        break;

                    case "select":
                        <div class="form-group">
                            @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                            <label for="FIELD_@formField.FormFieldId">
                                @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                                {<span style="color:red"><b>*</b></span>}
                            </label>
                            <select class="form-control" name="FIELD_@formField.FormFieldId">
                                @foreach (var optionValue in formField.GetPropertyValue("options").Split('|').ToList<string>())
                                {
                                    if (optionValue.Equals(Model.GetSubmissionFormFieldValue(formField.FormFieldId)))
                                    {
                                        <option value="@optionValue" selected>@optionValue</option>
                                    }
                                    else
                                    {
                                        <option value="@optionValue">@optionValue</option>
                                    }
                                }
                            </select>
                        </div>
                        break;


                    case "checkboxlist":
                        <div class="form-group">
                            @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                            <label for="FIELD_@formField.FormFieldId">
                                @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                                {<span style="color:red"><b>*</b></span>}
                            </label>
                            @foreach (var optionValue in formField.GetPropertyValue("options").Split('|').ToList<string>())
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="FIELD_@formField.FormFieldId" value="@optionValue" @(Model.GetSubmissionFormFieldValue(formField.FormFieldId).Contains(optionValue) ? "checked" : "")>
                                    <label class="form-check-label font-size-1rem label-not-bold" for="inlineCheckbox1">@optionValue</label>
                                </div>
                            }
                        </div>
                        break;
                }
            }
            <p class="font-size-1rem">Questions with a <span style="color:red"><b>red *</b></span> must be answered for the submission to be considered complete.</p>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" id="AddButton" name="AddButton" />
                @if (Model.ConferenceName.Contains("CERA", StringComparison.InvariantCultureIgnoreCase))
                {
                    <a class="btn btn-default" href="@Url.Action("Index", "Cera" )">Cancel</a>
                }
                else
                {
                    <a class="btn btn-default" href="@Url.Action("Index", "Home" )">Cancel</a>
                }
            </div>
        </form>
    </div>
</div>

    <script type="text/javascript">

   function checkForm(form) // Submit button clicked
        {
            //
            // check form input values
            //

            form.AddButton.disabled = true;
            form.AddButton.value = "Please wait...";
            return true;
    }

    </script>



