﻿@model ConferenceSubmission.BindingModels.EditBaseSubmissionDetailsBindingModel
@{
    ViewData["Title"] = "EditSubmissionBaseDetails";
}
<h1 class="text-primary">Edit Submission</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-lg">Conference: <span class="cat-info-lg">@Html.Raw(Model.ConferenceLongName)</span></p>
    <p class="cat-name-lg">Submission Category: <span class="cat-info-lg">@Model.Category</span></p>
    <p class="cat-name-lg">Submission Id: <span class="cat-info-lg">@Model.SubmissionId</span></p>
</div>
<form asp-action="EditSubmissionBaseDetails" method="post" onsubmit="return checkForm(this);">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="SubmissionId" />
    <div class="form-group">
        <label asp-for="SubmissionTitle" class="control-label"></label>
        <input asp-for="SubmissionTitle" class="form-control" />
        <span asp-validation-for="SubmissionTitle" class="text-danger"></span>
    </div>


    <div class="form-group">
        @Html.Raw(@Model.CategoryAbstractInstructions)
    </div>

    <div class="form-group">
        <label asp-for="SubmissionAbstract" class="control-label"></label> <span><strong>(Max length including spaces: @Model.CategoryAbstractMaxLength)</strong></span>
        <textarea class="form-control" asp-for="SubmissionAbstract" rows="8" maxlength="@Model.CategoryAbstractMaxLength"></textarea>
        <span asp-validation-for="SubmissionAbstract" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save & Continue" class="btn btn-primary"  id="AddButton" name="AddButton" />
        <a asp-controller="Home" asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
$("#SubmissionTitle").characterCounter({
            limit: '125',
            counterFormat: 'Chars Remaining %1'
        });

        $("#SubmissionAbstract").characterCounter({
            limit: '@Model.CategoryAbstractMaxLength',
            counterFormat: 'Chars Remaining %1'
        });

   function checkForm(form) // Submit button clicked
        {
            //
            // check form input values
            //

            form.AddButton.disabled = true;
            form.AddButton.value = "Please wait...";
            return true;
    }

</script>


}
