﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
@{
    ViewData["Title"] = "Submission Payment Required";
}
<h1>Submission Payment Required</h1>
<p>There is a fee of $@Model.SubmissionFee to submit this submission.</p>
<p><a asp-controller="Payment" asp-action="Index" asp-route-submissionId="@Model.SubmissionId">Click here to pay</a> for submitting this submission.  If you do not complete the payment successfully 
your submission will not be reviewed.</p>
