﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
@using ConferenceSubmission.Extensions
@{
    ViewData["Title"] = "Submission Proposal";
}
<h1 class="text-primary">Submission Details</h1>
<hr />
<div class="alert alert-primary help-text" role="alert">
    <p class="mar-bot-0">Your submission has been successfully submitted. To <strong>add presenters</strong> follow the instructions listed below under "Invite Presenter(s) to Submission".</p>
    <a href="/" class="card-link">Return to the main dashboard</a>
</div>
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>
    <p class="cat-name-md">Category: <span class="cat-info-md">@Model.SubmissionCategoryName</span></p>
    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>
    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>
    <p class="cat-name-md">
        Submission Completed: <span class="cat-info @(Model.SubmissionCompleted ? "text-green" : "text-red")">@Model.SubmissionCompleted</span>
    </p>
    <p class="cat-name-md">
        <a class="card-link" asp-controller="Submission" asp-action="EditSubmissionBaseDetails" asp-route-submissionId="@Model.SubmissionId"><i class="fas fa-pen" aria-hidden="true"></i> Edit Submission</a>
    </p>
</div>
<div class="mar-bot-25">
    <h3 class="mar-bot-5">Invite Presenter(s) to Submission</h3>
    <hr class="hr-sm" />

    <partial name="ExampleAddParticipantEmail" model="new ConferenceSubmission.ViewModels.ExampleAddParticipantEmailViewModel { AddParticipantUrl = Model.AddParticipantUrl, ConferenceName = Model.ConferenceName, SubmissionTitle = Model.SubmissionTitle }" />


    <!-- The following commented out code displays a clickable icon that allows the user to copy the AddParticipantUrl to the clipboard.
     Leaving this code in because we may want to use it at some point. -->
    @*<p class="cat-info-md">
            <button type="button"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Copy link to clipboard"
                    class="mar-right-10 btn btn-outline-primary btn-lg"
                    onclick="copyToClipboard('@Model.AddParticipantUrl')">
                <i class="far fa-copy"></i>
            </button> @Model.AddParticipantUrl
        </p>*@
</div>
<div class="mar-bot-20">
    <h3 class="mar-bot-5">Submission Abstract</h3>
    <hr class="hr-sm" />
    <p class="text-14">@Html.Raw(Model.SubmissionAbstract.ReplaceLineBreaksWithBreakTags())</p>
</div>
@if (Model.SubmissionFormFields.Count > 0)
{
    <div class="mar-bot-20">
        <h3 class="mar-bot-5">Submission Proposal Questions</h3>
        <hr class="hr-sm" />
        @foreach (var submissionFormField in Model.SubmissionFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
        {
            string question = submissionFormField.FormField.GetPropertyValue("label");
            if (!question.Equals(""))
            {
                <div class="mar-bot-25">
                    <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
                    @if (submissionFormField.FormField.FormFieldType.ToLower() == "textarea")
                    {
                        <p class="cat-name-sm">Response:</p>
                        <p class="cat-info-sm">@Html.Raw(submissionFormField.SubmissionFormFieldValue.ReplaceLineBreaksWithBreakTags())</p>
                    }
                    else
                    {
                        <p class="cat-name-sm">Response: <span class="cat-info-sm">@submissionFormField.SubmissionFormFieldValue</span></p>
                    }
                </div>
            }
        }
    </div>
}

@if (Model.SubmissionPaymentRequirement != SubmissionPaymentRequirement.NONE)
{
    <div class="mar-bot-20">
        <h3 class="mar-bot-5">Submission Payment</h3>
        <hr class="hr-sm" />
        <p class="cat-name-sm mar-bot-1">Submission Fee: <span class="cat-info-sm color-green">$@Model.SubmissionFee</span></p>
        @if (Model.SubmissionPaymentAmountPaid != Model.SubmissionFee)
        {
            <p class="cat-name-sm mar-bot-1">Amount due: <span class="cat-info-sm color-green">$@Model.SubmissionFee</span></p>
            <a asp-controller="Payment" asp-action="Index" asp-route-submissionId="@Model.SubmissionId" class="text-16"><i class="far fa-credit-card"></i> Make Payment</a>
        }
        else
        {
            <p class="cat-name-sm mar-bot-1">Amount paid: <span class="cat-info-sm color-green">$@Model.SubmissionPaymentAmountPaid</span></p>
        }
    </div>
}

<div class="mar-bot-20">
    <h3>Disclosure</h3>
    <hr class="hr-sm" />
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 pad-left-1">

        <partial name="DisplayDisclosureStatus" model="new ConferenceSubmission.ViewModels.DisplayDisclosureStatusViewModel { IsDisclosureCurrent = Model.isDisclosureCurrent }" />

    </div>
</div>