﻿@model ConferenceSubmission.BindingModels.ProvideRecordedOnDemandPresentationBindingModel

<h2 class="color-primary">@Model.ConferenceName Virtual Conference Supplement Online Presentation</h2>
<hr />
<p>Your submission [@Model.SubmissionId] is eligilble to be included in the @Model.ConferenceName Virtual Conference Supplement. 
    If you would like your Submission to be included in the Virtual Conference Supplement, you will need to 
    provide STFM with a recorded version of your presentation.</p>

<p>
    An FAQ about the Virtual Conference Supplement is available on the STFM website at <a href="@Model.VirtualConferenceFAQ" target="_blank">@Model.VirtualConferenceFAQ</a> -
    if you have questions please email stfmoffice@stfm.org.</p>

<p>Instructions for how to prepare your presentation for the Virtual Conference Supplement were provided in your accept email.</p>

<p>If you agree to prepare your presentation for the Virtual Conference Supplement then you must provide your Virtual Conference Supplement presentation to STFM by 
    @Model.Deadline.
</p>

<div class="mar-top-20">
    <form asp-action="ProvideRecordedOnDemandPresentation" asp-controller="Submission">
        <input class="form-control" asp-for="@Model.SubmissionId" type="hidden" />
        <div class="form-group">
            <select class="form-control" name="WillProvideRecordedOnDemandPresentation">
                <option value="true">Yes, I will provide STFM with a recorded version of my presentation for the virtual conference supplement.</option>
                <option value="false">No, I do not want my submission included in the virtual conference supplement.</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;&nbsp;
            <a class="btn btn-default" href="@Url.Action("Index", "Home" )">Cancel</a>
        </div>
    </form>
</div>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}