﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel

@{
    ViewData["Title"] = $"Submission: {Model.SubmissionId}";
}

<h3>We successfully removed the material uploaded for: </h3>

<div class="mar-bot-20">

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>

    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>

    <p> The submission status was changed back to @Model.SubmissionStatus.GetDescription()</p>

    <p>Return to the submission hope page to click on the Upload Material link for this submission to provide new material.</p>


</div>


