﻿@model ConferenceSubmission.BindingModels.BaseSubmissionBindingModel
@{
    ViewData["Title"] = "Create Submission";
}
<h1 class="text-primary">Create Submission</h1>
<hr />
<div class="mar-bot-15">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>
    <p class="cat-name-md">Category: <span class="cat-info-md">@Model.SelectedSubmissionCategoryName</span></p>
</div>



<form asp-action="CreateSubmission" asp-controller="Submission">

    @if (Model.CategoryInstructions != null)
    {
    <div class="alert alert-primary help-text" role="alert">

        @Html.Raw(@Model.CategoryInstructions)

    </div>
    }

    @if (Model.ParticipantRoleDefinitions != null && Model.ParticipantRoleDefinitions.Count > 0)
    {
        <div class="alert alert-primary help-text" role="alert">
            <div>
                <h5 class="help-text">Submission Role Definitions</h5>
                <hr class="mar-bot-7 mar-top-1 hr-sm" />
            </div>
            <div>
                @foreach (var participantRoleDefintion in Model.ParticipantRoleDefinitions)
                {
                    <p class="mar-bot-7">@Html.Raw(participantRoleDefintion)</p>
                }
            </div>
        </div>
    }

    <div class="form-group">
        <label asp-for="SelectedUserRole"></label>
        <select asp-for="SelectedUserRole" asp-items="@Model.UserRoleItems" class="form-control">
            <option value="">- Select -</option>
        </select>
        <span asp-validation-for="SelectedUserRole" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SubmissionTitle"></label>
        <input class="form-control" asp-for="SubmissionTitle" />
        <span asp-validation-for="SubmissionTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        @Html.Raw(@Model.CategoryAbstractInstructions)
    </div>

    <div class="form-group">
        <label asp-for="SubmissionAbstract"></label> <span class="font-weight-bold">(@Model.CategoryAbstractMaxLength characters including spaces)</span>
        <textarea class="form-control" asp-for="SubmissionAbstract" rows="8" maxlength="@Model.CategoryAbstractMaxLength"></textarea>
        <span asp-validation-for="SubmissionAbstract" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="ConferenceId" value="@Model.ConferenceId" />

    <input type="hidden" asp-for="SelectedSubmissionCategory" value="@Model.SelectedSubmissionCategory" />

    <button type="submit" class="btn btn-primary">Save and Continue</button> &nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Cancel</a>

</form>
@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
$("#SubmissionTitle").characterCounter({
            limit: '125',
            counterFormat: 'Chars Remaining %1'
        });

        $("#SubmissionAbstract").characterCounter({
            limit: '@Model.CategoryAbstractMaxLength',
            counterFormat: 'Chars Remaining %1'
        });</script>
}
