﻿@model ConferenceSubmission.BindingModels.SubmissionCategoryBindingModel
@{
    ViewData["Title"] = "Select CERA Survey";
}
<h1 class="text-primary">Select CERA Survey</h1>
<hr />
<div class="mar-bot-15">
      <p>Learn more about the CERA Surveys here: <a href="@Model.CategoryDetailUrl" target="_blank">@Model.CategoryDetailUrl</a></p>
</div>
@if (Model.DisplaySubmissionRequirementText)
{
    <div class="alert alert-primary help-text" role="alert">
        @Model.SubmissionPaymentRequirementText
    </div>

}

<form asp-action="StartCeraSubmission" asp-controller="Submission">
    <div class="form-group">
        <label asp-for="SelectedSubmissionCategory"></label>
        <select asp-for="SelectedSubmissionCategory" asp-items="@Model.SubmissionCategoryItems" class="form-control">
            <option value="">- Select -</option>
        </select>
        <span asp-validation-for="SelectedSubmissionCategory" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="ConferenceId" value="@Model.ConferenceId" />
    <button type="submit" class="btn btn-primary">Save and Continue</button> &nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="@Url.Action("Index", "Cera")">Cancel</a>

</form>
@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $("#SubmissionTitle").characterCounter({
            limit: '125',
            counterFormat: 'Chars Remaining %1'
        });

        $("#SubmissionAbstract").characterCounter({
            limit: '2500',
            counterFormat: 'Chars Remaining %1'
        });</script>
}
