﻿@model ConferenceSubmission.BindingModels.CategoryProposalBindingModel
@{
    if (Model.ConferenceName.Contains("CERA", StringComparison.InvariantCultureIgnoreCase))
    {
        ViewData["Title"] = "Create CERA Survey Proposal";

    } else
    {
        ViewData["Title"] = "Create Submission Proposal";
    }

}
<h1 class="text-primary">Create Submission Proposal</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>
    <p class="cat-name-md">Category: <span class="cat-info-md">@Model.CateogryName</span></p>
    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>
    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>
</div>
<form asp-action="CreateSubmissionProposal" asp-controller="Submission" onsubmit="return checkForm(this);">

    @* loop over the formField objects stored in the model and create HTML form elements for each one *@

    @foreach (var formField in Model.FormFields)
    {

        @switch (formField.FormFieldType)
        {
            case "text":
                <div class="form-group">
                    @* we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                    <label for="FIELD_@formField.FormFieldId">
                        @formField.GetPropertyValue("label")
                        @if (formField.AnswerRequired)
                        {<span style="color:red"><b>*</b></span>}
                        @if (!string.IsNullOrWhiteSpace(formField.GetPropertyValue("maxlength")))
                        {<span>(Character limit including spaces: @formField.GetPropertyValue("maxlength"))</span>}
                    </label>
                    <input type="text" class="form-control" name="FIELD_@formField.FormFieldId" maxlength="@(formField.GetPropertyValue("maxlength"))">
                </div>
                break;

            case "textarea":
                <div class="form-group">
                    @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                    <label for="FIELD_@formField.FormFieldId">
                        @formField.GetPropertyValue("label")
                        @if (formField.AnswerRequired)
                        {<span style="color:red"><b>*</b></span>}
                        @if (!string.IsNullOrWhiteSpace(formField.GetPropertyValue("maxlength")))
                        {<span>(Character limit including spaces: @formField.GetPropertyValue("maxlength"))</span>}
                    </label>
                    <textarea class="form-control" name="FIELD_@formField.FormFieldId" rows="10" cols="50" maxlength="@(formField.GetPropertyValue("maxlength"))"></textarea>
                </div>
                break;

            case "screentext":

                ////Get the text value for this screen text
                <p class="font-size-1rem">
                    @Html.Raw(formField.GetPropertyValue("textvalue"))
                </p>
                break;

            case "checkbox":
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="FIELD_@formField.FormFieldId" value="@formField.GetPropertyValue("value")">
                        <label class="form-check-label font-size-1rem label-not-bold" for="inlineCheckbox1">@formField.GetPropertyValue("label")</label>
                    </div>
                </div>
                break;

            case "select":
                <div class="form-group">
                    @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                    <label for="FIELD_@formField.FormFieldId">
                        @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                        {<span style="color:red"><b>*</b></span>}
                    </label>
                    <select class="form-control" name="FIELD_@formField.FormFieldId">
                        @foreach (var optionValue in formField.GetPropertyValue("options").Split('|').ToList<string>())
                        {
                            <option value="@optionValue">@optionValue</option>
                        }
                    </select>
                </div>

                break;

            case "checkboxlist":
                <div class="form-group">
                    @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                    <label for="FIELD_@formField.FormFieldId">
                        @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                        {<span style="color:red"><b>*</b></span>}
                    </label>
                    @foreach (var optionValue in formField.GetPropertyValue("options").Split('|').ToList<string>())
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="FIELD_@formField.FormFieldId" value="@optionValue">
                            <label class="form-check-label font-size-1rem label-not-bold" for="inlineCheckbox1">@optionValue</label>
                        </div>
                    }
                </div>
                break;
        }
    }
    <p class="font-size-1rem">Questions with a <span style="color:red"><b>red *</b></span> must be answered for the submission to be considered complete.</p>
    <p>
        <input type="hidden" name="submissionId" value="@Model.SubmissionId" />
        <button type="submit" class="btn btn-primary" id="AddButton" name="AddButton">Save and Continue</button> &nbsp;&nbsp;&nbsp;
        @if (Model.ConferenceName.Contains("CERA", StringComparison.InvariantCultureIgnoreCase))
        {
            <a class="btn btn-default" href="@Url.Action("Index", "Cera" )">Cancel</a>
        }
        else
        {
            <a class="btn btn-default" href="@Url.Action("Index", "Home" )">Cancel</a>
        }

    </p>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">function checkForm(form) // Submit button clicked
        {
            //
            // check form input values
            //

            form.AddButton.disabled = true;
            form.AddButton.value = "Please wait...";
            return true;
        }</script>
}



