﻿@model ConferenceSubmission.ViewModels.SubmissionPrintViewModel
@using ConferenceSubmission.Extensions

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .mb--0 {
            margin-bottom: 0px;
        }

        .mt--30 {
            margin-top: 30px;
        }

        .mt--20 {
            margin-top: 20px;
        }

        .mt--8 {
            margin-top: 8px;
        }

        .mt--3 {
            margin-top: 3px;
        }

        .mt--5 {
            margin-top: 5px;
        }
        .font-size-18{
            font-size: 18px;
        }
        .font-size-22{
            font-size: 22px;
        }
    </style>
</head>
<body style="font-family:Helvetica, Arial, sans-serif;">
    <div>
        <img src="@Model.ImagePath" style="display: block;margin-left:auto;margin-right:auto;" />
        <h1 class="font-size-22" style="text-align:center;margin-top:7px;">@Html.Raw(Model.ConferenceName)</h1>
        <hr />
    </div>
    <div class="font-size-18 mt--30">
        <p class="mb--0"><strong>Submission Id: </strong>@Model.SubmissionId</p>
    </div>
    <div class="font-size-18 mt--20">
        <p class="mb--0"><strong>Title</strong></p>
        <p class="mt--8"><em>@Model.SubmissionTitle</em></p>
    </div>
    <div class="font-size-18 mt--20">
        <p class="mb--0"><strong>Submitted Category</strong></p>
        <p class="mt--5">@Model.SubmissionCategory</p>
    </div>
    <div class="font-size-18 mt--20">
        <p class="mb--0"><strong>Accepted Category</strong></p>
        <p class="mt--5">@Model.AcceptedCategory</p>
    </div>


    <div class="font-size-18 mt--20">

        @if (!string.IsNullOrWhiteSpace(Model.sessionCode))
    {


        <p class="cat-name-md">
            Session Code: <span class="cat-info-md">@Model.sessionCode</span> <br />
            Session Date: <span class="cat-info-md">@Model.sessionStartDatetime.Date.ToString("dddd, dd MMMM yyyy")</span> <br />
            Session Time: <span class="cat-info-md">@Model.sessionStartDatetime.ToString("h:mm tt") - @Model.sessionEndDatetime.ToString("h:mm tt")</span> <br />
            Session Location: <span class="cat-info-md">@Model.sessionLocation</span> <br />
            Session Track:  <span class="cat-info-md">@Model.sessionTrack</span>

        </p>

}

    </div>

    <div class="font-size-18 mt--20">
        <p class="mb--0"><strong>Presenters</strong></p>
        @foreach (var presenter in Model.Presenters)
        {
            <p class="mt--5 mb--0">@presenter.FullName - @presenter.GetRolesAsStringPretty()</p>
        }
    </div>
    <div class="font-size-18 mt--20">
        <p class="mb--0"><strong>Abstract</strong></p>
        <p class="mt--5" style="white-space:pre-wrap">@Html.Raw(Html.Encode(Model.SubmissionAbstract).Replace(Environment.NewLine, "<br />"))</p>
    </div>
    @foreach (var formField in Model.SubmissionFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
    {
        <div class="font-size-18 mt--20">
            <p class="mb--0"><strong>@formField.FormField.GetPropertyValue("label")</strong></p>
            <p class="mt--5">@formField.SubmissionFormFieldValue</p>
        </div>

    }
</body>

</html>