﻿@model ConferenceSubmission.ViewModels.SubmissionProposalInputViewModel
@using ConferenceSubmission.Extensions
@{
    ViewData["Title"] = "Submission Created";
}
<h1 class="color-primary">Submission Created</h1>
<hr />
<div class="alert alert-primary help-text" role="alert">
    <p class="mar-bot-0">Next Step: Create submission proposal. The submission proposal consists of category specific questions.</p>
</div>
<p><a class="btn btn-primary" asp-controller="Submission" asp-action="SubmissionProposalInput" asp-route-submissionId="@Model.SubmissionId" asp-route-categoryId="@Model.SubmissionCategoryId"><i class="far fa-plus-square mar-right-3"></i> Create Submission Proposal</a></p>
<hr />
<h3>Submission Details</h3>
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>
    <p class="cat-name-md">Category: <span class="cat-info-md">@Model.SubmissionCategoryName</span></p>
    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>
    <p class="cat-name-md">Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>
</div>
<div class="mar-bot-20">
    <h3>Submission Abstract</h3>
    <p class="text-14">@Html.Raw(Model.SubmissionAbstract.ReplaceLineBreaksWithBreakTags())</p>
</div>