﻿@model ConferenceSubmission.ViewModels.VirtualConferenceDataViewModel
@using ConferenceSubmission.Extensions

@{
    ViewData["Title"] = $"Upload Material For Non-Poster Submission: {Model.Submission.SubmissionId}";
}

<h1 class="text-primary">Upload Material For Non-Poster Submission</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.Submission.Conference.ConferenceShortName)</span></p>

    <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.Submission.SubmissionCategory.SubmissionCategoryName, AcceptedCategory = Model.Submission.AcceptedCategory.SubmissionCategoryName }" />

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.Submission.SubmissionId</span></p>

    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.Submission.SubmissionTitle</span></p>
</div>

<h3>Step 1 Upload Video File</h3>

    <p>
        Click on this link <a href="@Model.VirtualConferenceData.DropboxUploadUrl" target="_blank">Upload Video File</a> to upload your video file to our Dropbox folder.
        IMPORTANT - Only upload the single video file that is for this presentation. File
        name must be <span>@Model.Submission.SubmissionId</span>_video.mp4 (or .mov, .avi, and .wmv).
        After successfully uploading your video file return here to complete step 2.
    </p>



<h3>Step 2 Provide Video File Name and Optional Handout File</h3>

<p>After uploading your video file use the form below to provide these two items:</p>

    <ol>
        <li>File name of the narrated PowerPoint video that you previously uploaded to Dropbox - REQUIRED</li>
        <ol type="a">
            <li>File name must be <span>@Model.Submission.SubmissionId</span>_video.mp4 (or .mov, .avi, .wmv)</li>
        </ol>
        <li>PDF file containing handouts - OPTIONAL</li>
        <ol type="a">
            <li>File name cannot include any spaces and must be a single PDF file.</li>
        </ol>
    </ol>

@if (ViewData.ContainsKey("Error"))
{
    <h3 style="color:red;font-weight:bold">@ViewData["Error"]</h3>
}

<div class="row">

    <div class="col-md-6">

        <form method="post" enctype="multipart/form-data" asp-controller="Submission" asp-action="UploadMaterialOralPresentation" onsubmit="return checkForm(this);">

            <div class="form-group">

                <label>Video Filename with extension (<span>@Model.Submission.SubmissionId</span>_video.mp4 or .mov, .avi, .wmv) (Required)</label>

                <input class="form-control" name="videoFilename" type="text" />

            </div>

            <div class="form-group">

                <label> Select Handout File (Optional - file name cannot have any spaces) </label>

                <input class="form-control" name="handoutFile" type="file" />

            </div>

            <div class="form-group">
                <input type="hidden" name="submissionId" value="@Model.Submission.SubmissionId" />
                <input id="AddButton" name="AddButton" class="btn btn-success" type="submit" value="Submit Material" />

            </div>

        </form>

        <h3 style="color:red;font-weight:bold">@ViewData["Error"]</h3>

    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    function checkForm(form) // Submit button clicked
        {
            //
            // check form input values
            //

            form.AddButton.disabled = true;
            form.AddButton.value = "Please wait uploading...";
            return true;
        }</script>
}
