﻿@model ConferenceSubmission.ViewModels.VirtualConferenceDataViewModel
@using ConferenceSubmission.Extensions

@{
    ViewData["Title"] = $"Upload Material For Poster Submission: {Model.Submission.SubmissionId}";
}

<h1 class="text-primary">Upload Material For Poster Submission</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.Submission.Conference.ConferenceShortName)</span></p>

    <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.Submission.SubmissionCategory.SubmissionCategoryName, AcceptedCategory = Model.Submission.AcceptedCategory.SubmissionCategoryName }" />

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.Submission.SubmissionId</span></p>

    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.Submission.SubmissionTitle</span></p>
</div>

@if (ViewData.ContainsKey("Error"))
{
    <h3 style="color:red;font-weight:bold">@ViewData["Error"]</h3>
}


    <p>Use the form below to upload these three files (1 required, 2 optional):</p>
    <ol>
        <li>Poster file of type .jpg or .png  - REQUIRED</li>
        <ol type="a">
            <li>File name must be <span>@Model.Submission.SubmissionId</span>_poster.png (or .jpg)</li>
        </ol>
        <li>Link to 10-minute presentation YouTube video about your poster project - OPTIONAL</li>
        <ol type="a">
            <li>YouTube link must be to the embedded version - something like https://www.youtube.com/embed/XXXXXX </li>
            <li>See: <a href="https://wpexplorer-themes.com/total/docs/get-embed-urllink-youtube-video/" target="_blank">https://wpexplorer-themes.com/total/docs/get-embed-urllink-youtube-video/</a></li>
        </ol>
        <li>Handout file of type .pdf - OPTIONAL</li>
        <ol type="a">
            <li>File name must be <span>@Model.Submission.SubmissionId</span>_handout.pdf</li>
        </ol>
    </ol>

    <div class="row">

        <div class="col-md-6">

            <form method="post" enctype="multipart/form-data" asp-controller="Submission" asp-action="UploadMaterialPosterPresentation" onsubmit="return checkForm(this);">

                <div class="form-group">

                    <label> Select Poster File (Required)</label>

                    <input class="form-control" name="posterFile" type="file" />

                </div>

                <div class="form-group">

                    <label> Link to YouTube video (format is like https://www.youtube.com/embed/Of-KGSJQcq4) </label>

                    <input class="form-control" name="youtubeLink" type="text" />

                </div>

                <div class="form-group">

                    <label> Select Handout File (Optional)</label>

                    <input class="form-control" name="handoutFile" type="file" />

                </div>

                <div class="form-group">
                    <input type="hidden" name="submissionId" value="@Model.Submission.SubmissionId" />
                    <input id="AddButton" name="AddButton" class="btn btn-success" type="submit" value="Submit Material" />

                </div>

            </form>

            <h2 style="color:red;font-weight:bold">@ViewData["Error"]</h2>

        </div>

    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function checkForm(form) // Submit button clicked
        {
            //
            // check form input values
            //

            form.AddButton.disabled = true;
            form.AddButton.value = "Please wait uploading...";
            return true;
        }</script>
}
