﻿@{
    ViewData["Title"] = $"Upload Material Success";
}

<h1>Uploaded Material Successfully Processed</h1>
<p>Thank you for providing the material for your virtual presentation.  STFM staff will review and contact you with any questions.</p>

<p>If you need any assistance please contact Melissa Abuel, <a href="mailto:mabuel@stfm.org">mabuel@stfm.org</a>.</p>