﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
@using ConferenceSubmission.Extensions

@{
    ViewData["Title"] = $"CERA Submission: {Model.SubmissionId}";
}

<h1 class="text-primary">CERA Submission Details</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>

    <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.SubmissionCategoryName, AcceptedCategory = Model.SubmissionAcceptedCategoryName }" />

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>

    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>

    <p class="cat-name-md">Submission Completed: <span class="cat-info @(Model.SubmissionCompleted ? "text-green" : "text-red")">@Model.SubmissionCompleted</span></p>
    @if (Model.SubmissionStatus == SubmissionStatusType.ACCEPTED || Model.SubmissionStatus == SubmissionStatusType.DECLINED || 
        (Model.ConferenceName.Contains("2020 Annual") && Model.SubmissionStatus == SubmissionStatusType.WILL_PRESENT_IN_AUGUST))
    {
        <p class="cat-name-md">Submission Status: <span class="cat-info-md">@Model.SubmissionStatus.GetDescription()</span></p>

    }

   


</div>
<div class="mar-bot-20">
    <h3 class="mar-bot-5">Participants</h3>
    <hr class="hr-sm" />
    @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
    {
        <p class="mar-bot-4"><span class="cat-info-lg mar-right-5">@($"{presenter.FullName}")</span>&nbsp;<span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span></p>
    }
</div>



@if (Model.SubmissionFormFields.Count > 0)
{
    <div class="mar-bot-20">
        <h3 class="mar-bot-5">CERA Proposal Questions</h3>
        <hr class="hr-sm" />
        @foreach (var submissionFormField in Model.SubmissionFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
        {
            string question = submissionFormField.FormField.GetPropertyValue("label");
            if (!question.Equals(""))
            {
        <div class="mar-bot-15">
            <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
            @if (submissionFormField.FormField.FormFieldType.ToLower() == "textarea")
            {
                <p class="cat-name-sm">Response:</p>
                <p class="cat-info-sm">@Html.Raw(submissionFormField.SubmissionFormFieldValue.ReplaceLineBreaksWithBreakTags())</p>
            }
            else
            {
                <p class="cat-name-sm">Response: <span class="cat-info-sm">@submissionFormField.SubmissionFormFieldValue</span></p>
            }
        </div>
            }
        }
    </div>
}

<a class="btn btn-primary mar-bot-20" asp-action="PrintPdf" asp-route-submissionId="@Model.SubmissionId"><i class="glyphicon glyphicon-download-alt"></i> <i class="fas fa-file-download"></i> <span class="mar-left-4">Download Pdf</span></a>




