﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
@using ConferenceSubmission.Extensions

@{
    ViewData["Title"] = $"Submission: {Model.SubmissionId}";
}

<h1 class="text-primary">Submission Details</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>

    <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.SubmissionCategoryName, AcceptedCategory = Model.SubmissionAcceptedCategoryName }" />

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>

    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>

    <p class="cat-name-md">Submission Completed: <span class="cat-info @(Model.SubmissionCompleted ? "text-green" : "text-red")">@Model.SubmissionCompleted</span></p>
    @if (Model.SubmissionStatus == SubmissionStatusType.ACCEPTED || Model.SubmissionStatus == SubmissionStatusType.DECLINED ||
(Model.ConferenceName.Contains("2020 Annual") && Model.SubmissionStatus == SubmissionStatusType.WILL_PRESENT_AT_VIRTUAL_CONFERENCE))
    {
        <p class="cat-name-md">Submission Status: <span class="cat-info-md">@Model.SubmissionStatus.GetDescription()</span></p>

    }

    @if (Model.SubmissionStatus == SubmissionStatusType.WILL_PRESENT_AT_VIRTUAL_CONFERENCE)
    {
        <p class="cat-name-md"><a asp-controller="Submission" asp-action="UploadMaterial" asp-route-submissionId="@Model.SubmissionId"><i class="fas fa-pen" aria-hidden="true"></i>Upload Material</a></p>
    }



    @if (!string.IsNullOrWhiteSpace(Model.sessionCode) || (Model.VirtualConferenceSessions?.Count ?? 0) > 0)
    {
        <div class="mar-bot-20 mt-3">
            <h3 class="mar-bot-5">Session@((!string.IsNullOrWhiteSpace(Model.sessionCode) && (Model.VirtualConferenceSessions?.Count ?? 0) > 0) || (Model.VirtualConferenceSessions?.Count ?? 0) > 1 ? "s" : "")</h3>
            <div class="row mt-3">
                @if (!string.IsNullOrWhiteSpace(Model.sessionCode))
                {
                    <div class="col-lg-4 mb-2">
                        <div class="card">
                            <div class="card-body">
                                @if (Model.sessionPresentationMethod != null)
                                {
                                    <h3 class="card-title"><span class="badge badge-primary p-2">@(Model.sessionPresentationMethod.PresentationMethod.PresentationMethodName.GetDescription())</span></h3>
                                }
                                    <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Code: </span>@Model.sessionCode</p>
                                    <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Date: </span>@Model.sessionStartDatetime.Date.ToString("dddd, dd MMMM yyyy")</p>
                                    <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Time: </span>@Model.sessionStartDatetime.ToString("h:mm tt") - @Model.sessionEndDatetime.ToString("h:mm tt")</p>
                                    <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Location: </span>@Model.sessionLocation</p>
                                    <p class="card-text font-size-point85rem"><span class="font-weight-bold">Session Track: </span>@Model.sessionTrack</p>
                                </div>
                        </div>
                    </div>
                }
                @if ((Model.VirtualConferenceSessions?.Count ?? 0) > 0)
                {
                    @foreach (var virtualConferenceSession in Model.VirtualConferenceSessions)
                    {
                        <div class="col-lg-4 mb-2">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title"><span class="badge badge-primary p-2">@(virtualConferenceSession.SubmissionPresentationMethod.PresentationMethod.PresentationMethodName.GetDescription())</span></h3>
                                    <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Code: </span>@virtualConferenceSession.SessionCode</p>
                                    @if (virtualConferenceSession.SubmissionPresentationMethod.PresentationMethod.PresentationMethodName == PresentationMethodType.LIVE_ONLINE)
                                    {
                                        <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Date: </span>@virtualConferenceSession.SessionStartDateTime.Date.ToString("dddd, dd MMMM yyyy")</p>
                                        <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Time: </span>@virtualConferenceSession.SessionStartDateTime.ToString("h:mm tt") - @virtualConferenceSession.SessionEndDateTime.ToString("h:mm tt")</p>
                                    }
                                    else
                                    {
                                        <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Start Date: </span>@virtualConferenceSession.SessionStartDateTime.Date.ToString("dddd, dd MMMM yyyy") @virtualConferenceSession.SessionStartDateTime.ToString("h:mm tt")</p>
                                        <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session End Date: </span>@virtualConferenceSession.SessionEndDateTime.Date.ToString("dddd, dd MMMM yyyy") @virtualConferenceSession.SessionEndDateTime.ToString("h:mm tt")</p>
                                    }
                                    <p class="card-text font-size-point85rem"><span class="font-weight-bold">Session Track: </span>@virtualConferenceSession.SessionTrack</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>
<div class="mar-bot-20">
    <h3 class="mar-bot-5">Participants</h3>
    <hr class="hr-sm" />
    @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
    {
        <p class="mar-bot-4"><span class="cat-info-lg mar-right-5">@($"{presenter.FullName}")</span>&nbsp;<span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span></p>
    }
</div>

<div class="mar-bot-20">
    <h3 class="mar-bot-5">Submission Abstract</h3>
    <hr class="hr-sm" />
    <p class="text-14">@Html.Raw(Model.SubmissionAbstract.ReplaceLineBreaksWithBreakTags())</p>
</div>

@if (Model.SubmissionFormFields.Count > 0)
{
    <div class="mar-bot-20">
        <h3 class="mar-bot-5">Submission Proposal Questions</h3>
        <hr class="hr-sm" />
        @foreach (var submissionFormField in Model.SubmissionFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
        {
            string question = submissionFormField.FormField.GetPropertyValue("label");
            if (!question.Equals(""))
            {
                <div class="mar-bot-15">
                    <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
                    @if (submissionFormField.FormField.FormFieldType.ToLower() == "textarea")
                    {
                        <p class="cat-name-sm">Response:</p>
                        <p class="cat-info-sm">@Html.Raw(submissionFormField.SubmissionFormFieldValue.ReplaceLineBreaksWithBreakTags())</p>
                    }
                    else
                    {
                        <p class="cat-name-sm">Response: <span class="cat-info-sm">@submissionFormField.SubmissionFormFieldValue</span></p>
                    }
                </div>
            }
        }
    </div>
}

<a class="btn btn-primary mar-bot-20" asp-action="PrintPdf" asp-route-submissionId="@Model.SubmissionId"><i class="glyphicon glyphicon-download-alt"></i> <i class="fas fa-file-download"></i> <span class="mar-left-4">Download Pdf</span></a>

@if (Model.SubmissionPaymentRequirement != SubmissionPaymentRequirement.NONE)
{
    <div class="mar-bot-20">
        <h3 class="mar-bot-5">Submission Payment</h3>
        <hr class="hr-sm" />
        <p class="cat-name-sm mar-bot-1">Submission Fee: <span class="cat-info-sm">$@Model.SubmissionFee</span></p>
        @if (Model.SubmissionPaymentAmountPaid != Model.SubmissionFee)
        {
            <p class="cat-name-sm mar-bot-1">Amount due: <span class="cat-info-sm">$@Model.SubmissionFee</span></p>
            <a asp-controller="Payment" asp-action="Index" asp-route-submissionId="@Model.SubmissionId" class="text-16"><i class="far fa-credit-card"></i> Make Payment</a>
        }
        else
        {
            <p class="cat-name-sm mar-bot-1">Amount paid: <span class="cat-info-sm">$@Model.SubmissionPaymentAmountPaid</span></p>
            <p class="cat-name-sm mar-bot-1"><a class="card-link" asp-controller="Payment" asp-action="ViewPayment" asp-route-submissionId="@Model.SubmissionId"> <i class="fas fa-eye" aria-hidden="true"></i> View Receipt</a></p>
        }
    </div>

}

<div class="mar-bot-20">
    <h3 class="mar-bot-5">Disclosure</h3>
    <hr class="hr-sm" />
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 pad-left-1">

        <partial name="DisplayDisclosureStatus" model="new ConferenceSubmission.ViewModels.DisplayDisclosureStatusViewModel { IsDisclosureCurrent = Model.isDisclosureCurrent }" />

    </div>
</div>


