﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Agree To Online Presentation</title>
</head>
<body>
    <p>Dear Conference Presenter,</p>
    <p>
        Congratulations on being accepted to present at the @Model.ConferenceName in Indianapolis.  The conference will be held in-person April 30-May 4.  In addition to our in-person conference in Indianapolis, STFM will also be offering a virtual supplement to include recordings of our general sessions, on-demand presentations and a virtual poster hall. Note, your recording for the virtual supplement is a separate presentation from your in-person conference presentation.  STFM will not be recording presentations at the in-person conference in Indianapolis.
    </p>

    <p>The virtual supplement and option to submit a recorded presentation and/or digital poster file is only IN ADDITION to also presenting in-person at the conference in Indianapolis. <b>We do not have an option for presenters to only present virtually.</b></p>

    <p>
        An FAQ about the Virtual Conference Supplement is available on the STFM website at <a href="https://www.stfm.org/conferences/annual/conferencefaqs/" target="_blank">https://www.stfm.org/conferences/annual/conferencefaqs/</a> - if you have questions please email stfmoffice@stfm.org.
    </p>


    <p>
        ------------------------------------------------------------------------------------ <br />
        Submission Summary:
        Submission ID #: @Model.SubmissionId <br />
        <b>Accepted Category:   @Model.SubmissionAcceptedCategoryName </b><br />
        Submitted Category: @Model.SubmissionCategoryName <br />
        Title: @Model.SubmissionTitle <br />

    </p>



    <p class="mar-bot-5">Participants</p>
    <p>
        @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
        {
            <span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}") </span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />
        }


        <h3>Preparing for Your Online Presentation:</h3>

        <h3>Step 1: Agree or Decline To Present Online IN ADDITION To In-Person</h3>

    <p>
        Go to https://submit.stfm.org. For each of your accepted @Model.ConferenceName abstracts that are eligible to present at the virtual conference you will
        see a link to "Accept or Decline to Provide Recorded On-Demand Presentation".  Click on that link and let STFM know whether or not you will participate in our virtual conference in addition to presenting in-person.
        <b>Please be sure to follow the instructions in Step 1 above otherwise we will be sending you reminder emails each week.</b>

    </p>



    <h3>Step 2: Preparing Your Virtual Presentation Based on Your Accepted Category </h3>

    <p>
        All presentations will be pre-recorded and available to attendees to view at their own convenience on-demand in the virtual supplement. There will be a comment section under each video presentation for viewers to leave comments/questions and for the presenter to comment/reply.

    </p>


    @if (!Model.SubmissionAcceptedCategoryName.Contains("Poster"))
    {

        <h4>Oral Presentations</h4>

        <p>
            <b>Oral Presentations:</b> Presentations will be limited to no more than 30 minutes maximum. Presenters will be responsible for creating a recorded, narrated PowerPoint that will then be available for viewing on the conference platform. If you are more comfortable and prefer to use another program such as Zoom, WebEx, etc that would be acceptable as long as the program used can save the file as an MP4.
        </p>

        <h4>How to Record Your Presentation with PowerPoint:</h4>
        <ol>
            <li>
                Use this PowerPoint templates <a href="https://stfmwebsite.azurewebsites.net/media/3779/an22_4x3.pptx">Standard (4x3)</a>

            </li>
            <li>
                Record a narrated PowerPoint in a quiet, uncluttered
                environment (video narration is optional)
            </li>

            <li>Save your file as a .pptx (for your records)</li>
            <li>
                Export your file as an .mp4 (when choosing video quality, please
                select
                Internet Quality)
            </li>
            <li>File must be named @Model.SubmissionId<span>_video.mp4</span></li>
        </ol>

        <p>Resources on creating a narrated PowerPoint:</p>
        <ol>
            <li><a href="https://support.office.com/en-us/article/record-a-slide-show-with-narration-and-slide-timings-0b9502c6-5f6c-40ae-b1e7-e47d8741161c#OfficeVersion=macOS">Record A Slide Show With Narration</a></li>
            <li><a href="https://vimeo.com/399853974/e46eda5029">Making A PowerPoint Video Presentation</a> © American Academy of PAs. Used with permission.</li>
        </ol>

        <h4>Handouts</h4>
        <p>
            All handouts associated with your presentation should be saved as a single PDF file and named @Model.SubmissionId<span>_handout.pdf</span>
        </p>
    }

    @if (Model.SubmissionAcceptedCategoryName.Contains("Poster"))
    {

        <h4><b>Poster Presentation Sessions:</b> </h4>

        <p>All poster presentations will include a visual of the poster, abstract, and an optional 10-minute video recording.</p>

        <p>How to Create Your Poster Presentation For Optimal Online Viewing:</p>
        <ol>
            <li>
                Create your poster with PowerPoint
                <ol type="a">
                    <li>Your document should be 12" x 9"</li>
                    <li>No font size smaller than 16 pt should be used</li>
                    <li>Don’t use small graphics or charts</li>
                    <li>
                        If you want to share a lot of data, information, and/or small graphics we recommend you use a
                        QR code on the poster for attendees to access this additional information. Or you can include any additional data,
                        resources, etc as a PDF handout and note on your poster "for additional information see handout."
                    </li>
                </ol>
            </li>


            <li>Save the file for your records</li>
            <li>Export the file as a .jpg or .png to send to STFM</li>
            <li>File must be named:  @Model.SubmissionId<span>_poster.png (or.jpg)</span> </li>
            <li>
                Record 10-minute presentation video about your poster project (Optional)
                <ol type="a">
                    <li>Upload your video to YouTube</li>
                    <li><a href="https://support.google.com/youtube/answer/57407?hl=en&co=GENIE.Platform=Desktop">How-to resource for uploading a video to YouTube: Upload videos - YouTube Help</a> </li>
                    <li>Link for YouTube video should be for embedded link - similar to https://www.youtube.com/embed/xxxxxx </li>
                    <li>See https://wpexplorer-themes.com/total/docs/get-embed-urllink-youtube-video/ for how to get the embed link</li>
                </ol>
            </li>

            <li>
                Supplemental Handout (Optional)
                <ol type="a">
                    <li>All handouts associated with your presentation should be saved as a single PDF file and must be named @Model.SubmissionId<span>_handout.pdf</span> </li>
                </ol>
            </li>

        </ol>

    }
    <h3>
        Step 3: Upload Your Presentation to STFM

    </h3>

    <p>Instructions on how to upload your presentation and file to STFM will be sent in March, 2022</p>

    <p><b>Important Information</b></p>

    <p>
        <b>
            **Please note: Once your file is submitted no changes or modifications can be made to the file. Be sure to practice and
            review your file(s) before submitting.**

        </b>
    </p>

    <p>
        <b>DEADLINE:</b> In order to include your presentation in the virtual supplement, your video file will be due to STFM by <b>Friday, April 1, 2022.</b> Only presentations received by this deadline will be available in the virtual supplement. We are unable to accept any additional presentations after this date.  The virtual conference supplement will be available for purchase immediately following the conference in Indianapolis.
    </p>



    <h3>Questions or Assistance</h3>
    <p>
        For technical assistance with creating your presentation video or poster contact: <br />
        Ray Biggs, rbiggs@stfm.org<br />
        Rusty Nail, rnail@stfm.org<br />
        For general questions contact Melissa Abuel, mabuel@stfm.org

    </p>

    <p>
        Thank you for reviewing these instructions. We look forward to seeing you in Indianapolis and hope you will decide to also contribute to our virtual conference supplement.
    </p>


    <p>
        Ray Rosetta, CMP <br />
        Director of Conferences<br />
        rrosetta@stfm.org


    </p>


    <p>
        Melissa Abuel <br />
        Manager of Conferences and Special Projects <br />
        mabuel@stfm.org
    </p>

</body>
</html>
