﻿@model int
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Update Dislosure for CPQI</title>
</head>
<body>


    <p>Dear Presenter,</p>

    <p>
        <b>Reminder - Action Required - STFM Conference Presentation Disclosre</b> <br />
        Since you are a presenter for the 2024 Conference on Practice and Quality Improvement 
        we need you to update your disclosure.
        For this conference, presenters must complete the disclosure form and upload a 
        CV file of type PDF.

    </p>

    <p>Once you have your CV PDF file ready please go to 
        <a href="https://submit.stfm.org/disclosure/editdisclosure?submissionId=@Model">https://submit.stfm.org/disclosure/editdisclosure?submissionId=@Model</a></p>

    <p>
        <b>Presenters without an up-to-date disclosure, including an uploaded CV file, will be removed from the presentation. Completion must be done by May 15, 2024.</b>
    </p>

    <p>Contact Melissa Abuel, mabuel@stfm.org, if you have any questions.</p>
   
    


</body>
</html>
