﻿@model ConferenceSubmission.Models.Disclosure
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Disclosure Email</title>
</head>
<body>
    <p>Thank you for completing the disclosure. </p>

    <p>Your disclosure is current for any conference that starts before @Model.DisclosureDate.AddYears(1).ToString("MM/dd/yyyy")</p>

</body>
</html>