﻿@model ConferenceSubmission.Models.Submission
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Incomplete Reminder</title>
</head>
<body>


    <p>
        <b>Reminder - Please complete </b> this submission to the @Html.Raw(Model.Conference.ConferenceLongName) 
        <b>before the submission deadline of @Model.Conference.ConferenceCFPEndDate CST</b>.
    </p>
    <p>
        Login at <a href="https://submit.stfm.org">submit.stfm.org</a> to finish your submission.
        
        <br /><br />
        ------------------------------------------------------------------------------------ <br />
        Submission Summary:
    </p>
    <p>
        Submission ID #: @Model.SubmissionId <br />

        <b>Category:   @Model.AcceptedCategory.SubmissionCategoryName </b><br />

        Title: @Model.SubmissionTitle <br />

    </p>


    <p>If you do not complete this submission by the deadline it will be automatically cancelled and will not be reviewed.</p>

    <p>
        Melissa Abuel <br />
        Manager of Conferences/Special Projects <br />
        mabuel@stfm.org
    </p>


</body>
</html>
