﻿@model ConferenceSubmission.DTOs.SubmissionParticipantAdded
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Participant Added</title>
</head>
<body>
    <p>
        For the following submission to conference @Model.ConferenceTitle : <br />

        &nbsp;&nbsp;&nbsp; Submission ID #: @Model.SubmissionId <br />
        &nbsp;&nbsp;&nbsp; Category:  @Model.SubmissionAcceptedCategory <br />
        &nbsp;&nbsp;&nbsp; Title: @Model.SubmissionTitle <br />

    </p>

    <p>
        The following person has been added as a submission participant: <br />

        &nbsp;&nbsp;&nbsp; Name: @Model.ParticipantAdded.GetFullNamePretty(); <br />
        &nbsp;&nbsp;&nbsp; Email: @Model.ParticipantAdded.Email <br />
        &nbsp;&nbsp;&nbsp; Role: @Model.ParticipantRoleType


    </p>

</body>
</html>