﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Proposal Created</title>
</head>
<body>
    <p>
        You have entered the following submission to conference @Html.Raw(Model.ConferenceName): <br />
        Submission ID #: @Model.SubmissionId <br />
        Category:   @Model.SubmissionCategoryName<br />
        Title: @Model.SubmissionTitle <br />
        Abstract: @Model.SubmissionAbstract
    </p>
    @if (Model.SubmissionFormFields.Count > 0)
    {
        <p>You have provided these answers to the submission proposal questions: </p>


        @foreach (var submissionFormField in Model.SubmissionFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
        {
            string question = submissionFormField.FormField.GetPropertyValue("label");
            if (!question.Equals(""))
            {

                <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
                <p class="cat-name-sm">Response: <span class="cat-info-sm">@submissionFormField.SubmissionFormFieldValue</span></p>

            }
        }

    }

    @if (Model.SubmissionCompleted)
    {
        <p>
            You have answered all the required submission proposal questions.  See below for how to edit this submission if you want
            to update your answers.
        </p>

    }
    else
    {
        <p>
            <b>You have NOT answered all the required submission proposal questions.</b>  See below for how to edit this submission and the
            submission deadline.  If you do not answer all the required submission proposal questions by the deadline this submission
            will not be reviewed.
        </p>

    }
    <p>
        The submission deadline is <b>@Model.ConferenceCfpEndDate.ToString("MM/dd/yyyy") 11:59 PM CST</b>.  Up until that date/time
        you may edit this submission.  Just visit <a href="https://submit.stfm.org">https://submit.stfm.org</a>
    </p>
    <p>Invite Presenter(s) to the Submission</p>
    <p>For instructions on how to invite someone to be a presenter on this submission go to <a href="https://submit.stfm.org">https://submit.stfm.org</a>
    and then click on Update Participants link.
    </p>
    
</body>
</html>
