﻿@model ConferenceSubmission.ViewModels.ProvideRecordedOnDemandPresentationNotificationReceivedViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Recorded On-Demand Presenation</title>
</head>
<body>
    @if (!Model.WillProvideRecordedOnDemandPresentation)
    {
        <p>Thank you for notifying STFM that you will <strong>not</strong> provide a recorded version of your submission for the virtual conference supplement.</p>
    }
    else
    {
        <p>Thank you for notifying STFM that you will provide a recorded version of your submission for the virtual conference supplement.</p>
        <p>Within the next few weeks, instructions will be emailed to you detailing the process for for creating and uploading the recorded version of your submission.</p>
    }
    <p>

        Conference: @Html.Raw(Model.ConferenceName) <br />

        Submission ID #: @Model.SubmissionId <br />

        Category:  @Model.SubmissionCategory <br />

        Title: @Model.SubmissionTitle <br />

    </p>



</body>
</html>