﻿@model ConferenceSubmission.Models.Submission
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AN 2020 Presenter Reschedule Email</title>
</head>
<body>


    <p>Dear Presenter,</p>

    <p> STFM has announced the 2020 Annual Conference in Salt Lake City has been canceled and will now be held entirely as a virtual conference event.</p>

    <p>We invite you to be a presenter for our virtual STFM Annual Conference. We have a virtual poster hall option for poster presenters, and an oral presentation option for all other presentation categories.</p>

    <p><b>Step 1: Update Your Presentation Status</b></p>
    <p>Go to <a href="https://submit.stfm.org/">https://submit.stfm.org</a>. For each Annual 2020 
    submission STFM previously accepted you will see two links - "Will Present at Virtual Conference" and "Withdraw." 
    If after reviewing these instructions for presenting at our virtual conference you agree to present virtually then 
    you must click on the link "Will Present at Virtual Conference."  If you cannot present virtually, then 
    you must click on the "Withdraw" link.  <b>You must click one of these two links for each Annual 2020 accepted submission.</b></p>

    <p><b>Step 2: Prepare Your Virtual Presentation</b></p>

    <p>Oral Presentation Sessions:</p>
    <p>  All presentations will be pre-recorded and available to attendees on-demand. On-demand presentations will be available during 
    and up to 90 days following the virtual conference anytime an attendee wants to view them. There will also be an comment 
    section uder the video presentation for viewers to leave comments/questions and for the presenter to comment/reply.  
    Presenters will be responsible for creating a maximum 25-30 minute recorded narrated PowerPoint.</p>

    <p>How to Record Your Oral Presentation:</p>
    <ol>
        <li>Use the provided <a href="http://www.stfm.org/media/2875/an20_virtual_16x9.pptx">STFM PowerPoint template</a></li>
        <li>Record a narrated PowerPoint in a quiet, uncluttered environment (webcam  narration is optional)</li>

        <li>Save your file as a .pptx (for your records)</li>
        <li>Export your file as an .mp4 file (when choosing video quality, please select Internet Quality)</li>
        <li>File should be named: submission ID #_Lead Author Last Name_Lead Author First Name (i.e.  4567_Abuel_Melissa)</li>
    </ol>

    <p>Resources on creating a narrated PowerPoint:</p>
    <ol>
        <li><a href="https://support.office.com/en-us/article/record-a-slide-show-with-narration-and-slide-timings-0b9502c6-5f6c-40ae-b1e7-e47d8741161c#OfficeVersion=macOS">Record A Slide Show With Narration</a></li>
        <li><a href="https://vimeo.com/399853974/e46eda5029">Making A PowerPoint Video Presentation</a> © American Academy of PAs. Used with permission.</li>
    </ol>

    <p>Handouts</p>
    <p>All handouts associated with your presentation should be saved as a single PDF file.</p>

    <p>Poster Presentation Sessions:</p>
    <p>All poster presentations will include a visual of the poster, abstract, and optional 10 minute video recording.</p>

    <p>How to Create Your Poster Presentation:</p>

    <ol>
        <li>Create your poster as you would for display at the conference</li>
        <li>Save the file for your records</li>
        <li>Export the file as a .jpg or .png to send STFM</li>
        <li>Record 10-minute presentation video about your poster project (Optional)</li>
        <li><a href="https://support.google.com/youtube/answer/57407?hl=en&co=GENIE.Platform=Desktop">How-to resource for uploading a video to YouTube: Upload videos - YouTube Help</a></li>
        <li>Upload your video to YouTube</li>
        <li>File should be named: submission ID #_Lead Author Last Name_Lead Author First Name (i.e.  4567_Abuel_Melissa)</li>
    </ol>

    <p><b>Step 3 Upload Your Presentation to STFM</b></p>

    <p>Instructions on how to upload your presentation and file to STFM will be sent in July.</p>

    <p><b>Important Information</b></p>

    <p><b>
    **Please note: Once your file is submitted no changes or modifications can be made to the file. Be sure to practice and review your file(s) before submitting.
    Only videos that are 30 minutes or less will be accepted. Those over this time limit will not be included in the virtual conference.**
</b></p>

    <p>In order to release this content by the August 24 conference, recorded presentations and handouts are <b>due to STFM by July 20</b>. Only presentations received by this deadline will be available at the virtual conference. We are unable to accept any additional presentations after this date.</p>

    <p>All presenters are required to register for the annual conference. Registration is available at www.stfm.org/annual.</p>

    <p>Please be sure to follow the instructions in Step 1 above otherwise we will be sending you reminder emails each week.</p>

    <p>
        For presentation help on a PC contact Allison Woodworth, awoodworth@stfm.org or Vince Munoz, vmunoz@stfm.org.
        For presentation help on a MAC contact Rusty Nail, rnail@stfm.org.
        For general presenter questions contact Melissa Abuel, mabuel@stfm.org.
    </p>

    <p>Thank you for reviewing these instructions.  We hope you will decide to present at our virtual 2020 STFM Annual Conference.</p>

    <p>
        Melissa Abuel <br />
        Manager of Conferences/Special Projects <br />
        mabuel@stfm.org
    </p>


</body>
</html>