﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Accepted</title>
</head>
<body>
    <p>
        Congratulations. The submission listed below has been accepted for presentation at the 2024 STFM
        Conference on Practice and Quality Improvement (September 15-17, 2024; Denver, CO).

    </p>


    <p>
        ------------------------------------------------------------------------------------ <br />
        Submission Summary:
        Submission ID #: @Model.SubmissionId <br />
        <b>Accepted Category:   @Model.SubmissionAcceptedCategoryName </b><br />
        Submitted Category: @Model.SubmissionCategoryName <br />
        Title: @Model.SubmissionTitle <br />

    </p>

    @if (!Model.SubmissionCategoryName.Equals(Model.SubmissionAcceptedCategoryName))
    {

        <p style="font-weight:bold">
            We have accepted your submission in a different category then you submitted for.
            Please visit <a href="https://www.stfm.org/conferences/cpqi/sessioncategories/">https://www.stfm.org/conferences/cpqi/sessioncategories/</a>
            for details on the accepted category.
        </p>


    }

    <p class="mar-bot-5">Participants</p>
    <p>
        @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
        {
            <span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}") </span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />
        }


    <p style="font-weight:bold">
        Registering For The Conference
    </p>
    <p>
        Visit www.stfm.org/conferences/cpqi/overview to register for the conference beginning in mid-June.
        All presenters attending the conference are required to pay the conference registration fee.
        No honoraria or travel expense reimbursement will be provided for presenters.
    </p>

    <p style="font-weight:bold">
        Presentation Guidelines
        </p>
    <p>Conference presenters are strongly encouraged to include data to inform about the effectiveness/impact of your project for all conference presentations.</p>

    <p style="font-weight:bold">
        View Your Submission or Add Presenters
    </p>
    <p>
        Visit https://submit.stfm.org to view your submission or to get instructions on how to invite
        people to be additional presenters.
    </p>

    <p>
        Please visit the "Presenter Information" tab on the conference website, to locate useful information
        for presenters including session descriptions, Audio-visual equipment overviews, poster dimensions,
        slide templates and other useful tips. We encourage presenters to include interactive time with the
        audience in your presentation, ie, polling, work groups, etc. Audio-visual equipment is NOT provided
        for breakfast or poster presentations. Handout materials are encouraged.
    </p>

    <p style="font-weight:bold">
        Presenters/Co-presenters Information for Conference Brochure and ID Badges:
    </p>
    <p>
        All presenters/co-presenters are required to update their credentials and institutions in their STFM profile.
        To do so visit www.stfm.org and click "My Account" in the top right menu. STFM will use information from presenter
        profiles for the promotional brochures, sessions search tool on the conference website/mobile app, and
        conference name-badges. If a co-presenter needs assistance, please have them call the STFM office at 800-274-7928.
    </p>


    <p>
        STFM will provide a mobile app at the conference. To make the mobile app and the overall conference experience as
        beneficial as possible for all attendees, we encourage presenters to upload presentations and handouts in advance
        to be included as part of the app. You will receive detailed instructions on how to upload your presentation
        and handouts prior to the conference.
    </p>


    <p>On behalf of STFM, we appreciate your submission and look forward to seeing you at the conference in Denver.  </p>

    <p>
        Melissa Abuel, CMP <br />
        Director of Conferences<br />
        mabuel@stfm.org
        800-274-7928


    </p>


</body>
</html>
