﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Declined</title>
</head>
<body>

    <p>
        Thank you for submitting for the 2021 STFM Annual Spring Conference. We appreciate your enthusiasm and
        energy for innovation and willingness to contribute to STFM. Unfortunately, your submission was not
        accepted for presentation at the conference.
    </p>

    <p>
        ------------------------------------------------------------------------------------<br />
        Submission Summary: <br />


        Submission ID #: @Model.SubmissionId <br />
        Category:   @Model.SubmissionCategoryName<br />
        Title: @Model.SubmissionTitle <br />

    </p>

    <p class="mar-bot-5">Participants</p>
    <p>
        @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
        {
            <span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}") </span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />
        }
        ------------------------------------------------------------------------------------<br />
    </p>

    <p>
        We had to make the difficult decision to move to a virtual format again, for the 2021 STFM
        Annual Spring Conference. Therefore, considerations in our review process included submissions
        could be presented virtually, that best met review criteria and offered a balance of program
        topics to be incorporated into the virtual conference.
    </p>

    <p>
        There were many submissions, such as yours that could not fit into the virtual 2021 STFM Annual 
        Spring Conference but were determined by the Program Committee to have quality content worthy of 
        dissemination in other venues throughout STFM. The Program Committee invites you to consider sharing 
        your work in some of these other aspects of STFM:
    </p>
    <ol>
        <li>For curriculum resources, consider adding to the STFM Resource Library (you may submit either as a curriculum resource or for peer review) at https://resourcelibrary.stfm.org</li>
        <li>For research studies, consider rewriting and submitting to PRIMER. https://journals.stfm.org/primer </li>
        <li>You may want to submit an STFM Education Column. Learn more by reading the submission guidelines at https://www.stfm.org/publicationsresearch/publications/educationcolumns/submissions-guidelines/ </li>
        <li>For quality improvement projects, consider submitting your proposal for the September 2021 STFM Conference on Practice and Quality Improvement</li>

        <li>For medical student education proposals, consider the 2022 STFM Conference on Medical Student Education</li>
        <li>If your project aligns with the interests of one of the STFM Collaboratives, please consider sharing your work with that group. There may be a way to enhance your project through collaborating with other STFM colleagues who share your interests. See the complete listing of the current STFM Collaboratives at https://connect.stfm.org/communities/allcommunities </li>

    </ol>
   

    <p>
        Let us know if you are interested in receiving feedback from the Program Committee.
        If so, send your request, including submission ID number (see above) and lead author
        information to my attention at: rrosetta@stfm.org.
    </p>

    <p>
        We encourage you to continue your good work and welcome your submissions for the
        2022 Annual Spring Conference. On behalf of STFM, we appreciate your submission
        and hope you will still plan to join us at the conference next spring.

    <p>Best Regards,</p>

    <p>
        Ray Rosetta, CMP <br />
        Director of Conferences<br />
        rrosetta@stfm.org<br />

    </p>



</body>
</html>

