﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Accepted</title>
</head>
<body>
    <p>
        Congratulations. The submission listed below has been accepted for presentation at the 2024
        STFM Conference on Medical Student Education in Atlanta, GA, February 8-11, 2024.

    </p>

  

    <p>
        ------------------------------------------------------------------------------------ <br />
        Submission Summary:
        Submission ID #: @Model.SubmissionId <br />
        <b>Accepted Category:   @Model.SubmissionAcceptedCategoryName </b><br />
        Submitted Category: @Model.SubmissionCategoryName <br />
        Title: @Model.SubmissionTitle <br />

    </p>

    @if (!Model.SubmissionCategoryName.Equals(Model.SubmissionAcceptedCategoryName))
    {

        <p style="font-weight:bold">
            We have accepted your submission in a different category then you submitted for.
            Please visit <a href="https://www.stfm.org/conferences/mse/callforpresentations/">https://www.stfm.org/conferences/mse/callforpresentations/</a>
            for details on the accepted category.
        </p>


    }

    <p class="mar-bot-5">Participants</p>
    <p>
        @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
        {
            <span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}") </span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />
        }

    <p>
        Registering For The Conference <br />
        All presenters attending the conference are required to pay the conference 
        registration fee. No honorarium or travel expense reimbursement will be provided 
        for presenters. Registration will open at <a href="https://www.stfm.org/mse">https://www.stfm.org/mse</a> 
        in early November.

    </p>

    <p>
        View Your Submission or Add Presenters <br />
        Visit <a href="https://submit.stfm.org">https://submit.stfm.org</a> to view your submission or to 
        get instructions on how to invite people to be additional presenters.

    </p>
    <p>
        Presenters/Co-presenters Information for Conference Brochure and ID Badges: <br />
        All presenters/co-presenters are required to update their credentials and institutions in 
        their STFM profile. To do so visit <a href="https://www.stfm.org">www.stfm.org</a> and click 
        "My Account" in the top right menu. STFM will use information from presenter profiles for 
        the promotional brochures, sessions search tool on the conference website/mobile app, and 
        conference name-badges. <br />
        If a co-presenter needs assistance, please have them call the STFM office at 800-274-7928 or 
        Email stfmoffice@stfm.org.

    </p>

    <p>
        Preparing and Uploading Your Presentation to Mobile App <br />
        Please use the conference PowerPoint template, which will be available in November 
        at <a href="https://www.stfm.org/mse">https://www.stfm.org/mse</a>. In January, you will receive 
        detailed instructions on how to upload your presentation and handouts to the mobile app 
        and the STFM Resource Library.

    </p>


    <p>
        We appreciate your submission for the Conference on Medical Student Education and 
        look forward to seeing you in Atlanta.
    </p>

            <p>
                Melissa Abuel, CMP <br />
                Director of Conferences<br />
                mabuel@stfm.org <br />
                913-800-5593

            </p>


</body>
</html>
