﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Accepted</title>
</head>
<body>
    <p>
        Congratulations! Your submission has been accepted for presentation at the 2021 STFM Annual Spring Conference. The conference dates are May 3-6, 2021 (Monday-Thursday).

    </p>

    @if ("6659,6636,6683,6559,6668,6567,6703,6666,6543,6602,6569,6807,6596,6601,6614,6542,6757,6774".Contains(Model.SubmissionId.ToString()))
    {

        <p>
            The conference steering committee has reviewed all the accepted conference submissions and identified those highest rated,
            including topics most requested by attendees and of most interest and relevance.
        </p>

        <p>I am pleased to share that your presentation has been selected to be presented live.</p>

        <p>
            Your poster presentation will be presented consecutively with 4 others within a 1-hour presentation slot.
            You will have 10 minutes to share and discuss your research with conference attendees. We recommend a 6
            minute presentation with 4 minutes for Q&A. You will be able to share your screen to show your poster
            and/or slides as needed. We do ask that you plan to attend the entire 1-hour presentation time as to not
            disrupt our other presenters. The session will be moderated to ensure all 5 oral presentations get an equal amount of time.
        </p>

        <p>
            Please confirm by Monday, February 22 if you would like to accept this invitation and present in this live format.
            You can confirm and choose your presentation time slot by adding your name and presentation title (in the comments)
            on this sign-up page: <a href="https://www.signupgenius.com/go/9040544AAAD2FABFF2-20216">https://www.signupgenius.com/go/9040544AAAD2FABFF2-20216</a>.
        </p>

        <p>Please note scheduling will be first come, first served.</p>
    }

    <p>
        ------------------------------------------------------------------------------------ <br />
        Submission Summary:
        Submission ID #: @Model.SubmissionId <br />
        <b>Accepted Category:   @Model.SubmissionAcceptedCategoryName </b><br />
        Submitted Category: @Model.SubmissionCategoryName <br />
        Title: @Model.SubmissionTitle <br />

    </p>

    @if (!Model.SubmissionCategoryName.Equals(Model.SubmissionAcceptedCategoryName))
    {

        <p style="font-weight:bold">
            We have accepted your submission in a different category then you submitted for.
            Please visit <a href="https://www.stfm.org/conferences/annual/callforpresentations/">https://www.stfm.org/conferences/annual/callforpresentations/</a>
            for details on the accepted category.
        </p>


    }

    <p class="mar-bot-5">Participants</p>
    <p>
        @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
        {
            <span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}") </span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />
        }


    <p>
        Please review the above information for accuracy.
        View your submission or add presenters at
        https://submit.stfm.org
    </p>



    <h3>Preparing for Your Virtual Presentation:</h3>

    

    <h3>Step 1: Preparing Your Virtual Presentation Based on Your Accepted Category </h3>

   

    <h4><b>Poster Presentation Sessions:</b> </h4>

    <p>All poster presentations will include a visual of the poster, abstract, and an optional 10 minute video recording.</p>

    <p>How to Create Your Poster Presentation For Optimal Online Viewing:</p>
    <ol>
        <li>Create your poster with PowerPoint</li>

        <li>Your document should be 12" x 9"</li>
        <li>No font size smaller than 16 pt should be used</li>
        <li>Don’t use small graphics or charts</li>
        <li>If you want to share a lot of data, information, and/or small graphics we recommend you use a QR code on the poster for attendees to access this additional information.</li>
        <li>Save the file for your records</li>
        <li>Export the file as a .jpg or .png to send to STFM</li>
        <li>File must be named:  @Model.SubmissionId<span>_poster.png (or.jpg)</span></li>
        <li>Record 10-minute presentation video about your poster project (Optional)</li>
        <li>Upload your video to YouTube</li>
        <li>How-to resource for uploading a video to YouTube: Upload videos - YouTube Help</li>
        <li>Link for YouTube video should be for embedded link - similar to https://www.youtube.com/embed/xxxxxx </li>
        <li>See https://wpexplorer-themes.com/total/docs/get-embed-urllink-youtube-video/ for how to get the embed link</li>
        <li>Supplemental Handout (Optional) </li>
        <li>All handouts associated with your presentation should be saved as a single PDF file and must be named @Model.SubmissionId<span>_handout.pdf</span> </li>
    </ol>
    <h3>
        Step 2: Upload Your Presentation to STFM

    </h3>

    <p>Instructions on how to upload your presentation and file to STFM will be sent in February 2021.</p>

    <p><b>Important Information</b></p>

    <p>
        <b>
            **Please note: Once your file is submitted no changes or modifications can be made to the file. Be sure to practice and
            review your file(s) before submitting.**

        </b>
    </p>

    <p>
        In order to release this content by the start of the STFM Annual Spring Conference (May 3) all materials are
        due to STFM by April 1, 2021. Only presentations received by this deadline will be available at the virtual
        conference. We are unable to accept any additional presentations after this date.
    </p>

    <p>
        All presenters are required to register for the STFM annual meeting. Registration will open in late January and information can be found on
        <a href="https://stfm.org/annual">www.stfm.org/annual</a>.
    </p>

    <h3>Questions or Assistance</h3>
    <p>
        For technical assistance with creating your presentation video or poster contact: <br />
        Ray Biggs, rbiggs@stfm.org<br />
        Rusty Nail, rnail@stfm.org<br />
        For general questions contact Melissa Abuel, mabuel@stfm.org

    </p>
    <p>
        Please review your profile by visiting https://www.stfm.org and clicking "Member Portal" in the upper
        right menu to ensure your name, credentials, and address are complete. Also ask your co-presenters to review their profiles.
        We use your profile information for the conference!
    </p>

    <p>
        Thank you for reviewing these instructions. We look forward to you joining us at
        the virtual 2021 STFM Annual Spring Conference.
    </p>

    <!--
        <p>
            Ray Rosetta, CMP <br />
            Director of Conferences<br />
            rrosetta@stfm.org


        </p>
    -->

    <p>
        Melissa Abuel <br />
        Manager of Conferences/Special Projects <br />
        mabuel@stfm.org
    </p>

</body>
</html>
