﻿@model ConferenceSubmission.Models.Submission
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Withdrawn</title>
</head>
<body>

    <p>
        The following submission has been withdrawn and will not be considered for presentation. <br />

        Conference: @Html.Raw(Model.Conference.ConferenceLongName) <br />

        Submission ID #: @Model.SubmissionId <br />

        Category:  @Model.SubmissionCategory.SubmissionCategoryName <br />

        Title: @Model.SubmissionTitle <br />



    </p>



</body>
</html>