﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Declined</title>
</head>
<body>

    <p>
        Thank you for submitting for the 2021 STFM Annual Spring Conference. Unfortunately, 
        your submission was not accepted for presentation at the conference.
    </p>

    <p>We appreciate your enthusiasm and energy for innovation and willingness to contribute to 
    STFM. We received a large volume of submissions and accepted submissions that best met 
    criteria and offered the best balance for program topics. Most of the submissions we received 
    are applicable to our discipline and have good potential to disseminate as best practices. 
    Many submissions however, did not accurately apply to the category in which they were 
    submitted, because the project was too early in progress, or had unclear, minimal or no 
    results of the interventions being described.</p>

    <p>Another consideration in our review 
    process was the ability of the submission to be incorporated into the virtual conference.</p>

    <p>
        Depending on the category, your submission was rated on most, if not all of the 
        following factors:</p>
    <ul>
        <li>Relevance to family medicine education</li>
        <li>Methods that maximize audience engagement to deepen learning</li>
        <li>Content areas that are conference priority areas</li>
        <li>Originality and innovation</li>
        <li>Organization and clarity (including timeline and objectives)</li>
        <li>Adherence to submission instructions and appropriate category submission</li>
        <li>Successful implementation of project to be presented as demonstrated by outcomes</li>
        <li>Suitability for virtual delivery of content</li>
    </ul>

    <p>
        Successful submissions included the following components: </p>
    <ul>
        <li>Multi-institution and/or interprofessional</li>
        <li>Detailed description of the innovation or intervention</li>
        <li>Timeline of implementation</li>
        <li>Description of metrics used to gauge outcome</li>
        <li>Report of specific results (what was the outcome of implementing this intervention)</li>
        <li>Well suited to a virtual platform</li>
        </ul>    


            <p>
                ------------------------------------------------------------------------------------<br />
                Submission Summary: <br />


                Submission ID #: @Model.SubmissionId <br />
                Category:   @Model.SubmissionCategoryName<br />
                Title: @Model.SubmissionTitle <br />

            </p>

            <p class="mar-bot-5">Participants</p>
            <p>
                @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
                {
                    <span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}") </span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />
                }
            </p>

            <p>One way to further enhance your presentation in the future, is to explore 
    collaboration within and outside of your program or department to bring multiple 
    perspectives to the project. Please note this link created by our Research Committee 
    which includes relevant information on how to improve your submission.
    <a href="http://www.stfm.org/publicationsresearch/otherresearchresources/tips-for-new-researchers/">www.stfm.org/publicationsresearch/otherresearchresources/tips-for-new-researchers/</a></p>


            <p>
                Let us know if you are interested in receiving feedback from the Research Committee. 
                If so, send your request, including submission ID number (see above) and lead author 
                information to my attention at: mabuel@stfm.org.
            </p>

            <p>
                We encourage you to continue your good work and welcome your submissions for the 
                2022 Annual Spring Conference. On behalf of STFM, we appreciate your submission 
                and hope you will still plan to join us at the conference this spring.

<p>Sincerely,</p>

            <p>
                Melissa Abuel, CMP <br />
                Manager of Conferences and Special Projects<br />
                mabuel@stfm.org<br />

            </p>



</body>
</html>

