﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Declined</title>
</head>
<body>

    <p>
        Thank you for submitting for the 2025 STFM Annual Spring Conference, which will be held 
        in Salt Lake City, UT, May 3-7, 2025. Unfortunately,
        your submission was not accepted for presentation at the conference.
    </p>

    <p>
        We appreciate your enthusiasm and energy for innovation and willingness to contribute to
        STFM. We received a record number of submissions and accepted submissions that best met
        criteria and offered the best balance for program topics. 
    </p>

    

    <p>
        Common reasons submissions were not accepted: :
    </p>
    <ul>
        <li>Lack clarity</li>
        <li>Unclear, minimal or no results provided</li>
        <li>Project too early progress or not yet started </li>
        <li>Missing sections</li>
        <li>Not research (no case reports)</li>
        <li>No research question</li>


    </ul>

            <p>
                ------------------------------------------------------------------------------------<br />
                Submission Summary: <br />


                Submission ID #: @Model.SubmissionId <br />
                Category:   @Model.SubmissionCategoryName<br />
                Title: @Model.SubmissionTitle <br />

            </p>

            <p class="mar-bot-5">Participants</p>
            <p>
                @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
                {
                    <span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}") </span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />
                }
            </p>

            <p>
                Let us know if you are interested in receiving feedback from the Research Committee. 
                If so, send your request, including submission ID number (see above) and lead author
        information to my attention at: mabuel@stfm.org. Requests must be sent by February 28, 2025.
            </p>

            <p>
                We encourage you to continue your good work and welcome your submissions for the
                2026 Annual Spring Conference. On behalf of STFM, we appreciate your submission
                and hope you will still plan to join us at the conference next spring in Salt Lake City.

<p>Best Regards,</p>

            <p>
                Melissa Abuel, CMP <br />
                Director of Conferences<br />
                mabuel@stfm.org
                913-800-5593

            </p>



</body>
</html>

