﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Declined</title>
</head>
<body>
    <p>
        Thank you for submitting for the 2024 STFM Conference on Medical Student Education. Unfortunately, 
        your submission was not accepted for presentation at the conference.
    </p>

    

    <p>
        Because of the large number of submissions and limited presentation opportunities, 
        we were unable to accept some submissions. Your submission was rated according to 
        the following review factors:
    </p>
    <ul>
        <li>Relevance to Medical Student Education</li>
        <li>Conference priority areas</li>
        <li>Innovativeness</li>
        <li>Quality and clarity</li>
        <li>Organization (including timeline and objectives)</li>
        <li>Appropriateness to presentation category</li>
        <li>Project track record</li>
        <li>Successful Implementation</li>
    </ul>

    
            <p>
                ------------------------------------------------------------------------------------<br />
                Submission Summary: <br />


                Submission ID #: @Model.SubmissionId <br />
                Category:   @Model.SubmissionCategoryName<br />
                Title: @Model.SubmissionTitle <br />

            </p>

            <p class="mar-bot-5">Participants</p>
            <p>
                @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
                {
                    <span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}") </span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />
                }
            </p>

            <p>
                For additional feedback and/or suggestions to improve your submission for future conferences, 
                please send your request, including submission id number (see above) and lead author information 
                to my attention at: mabuel@stfm.org. 
                A member of the conference steering committee will provide additional information for you.
            </p>

            <p>
                On behalf of STFM, we appreciate your submission for the Conference on Medical Student Education and
                we hope you will still plan to join us in Atlanta.
            </p>
            

<p>Best Regards,</p>

            <p>
                Melissa Abuel, CMP <br />
                Director of Conferences<br />
                mabuel@stfm.org<br />
                913-800-5393

            </p>



</body>
</html>

