﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Declined</title>
</head>
<body>

    <p>
        Thank you for submitting for the 2024 STFM Annual Spring Conference, which will be held 
        Los Angles, CA, May 4-8, 2024. Unfortunately,
        your submission was not accepted for presentation at the conference.
    </p>

    <p>
        We appreciate your enthusiasm and energy for innovation and willingness to contribute to
        STFM. We received a record number of submissions and accepted submissions that best met
        criteria and offered the best balance for program topics. Most of the submissions we received
        are applicable to our discipline and have good potential to disseminate as best practices.
        Many submissions however, did not accurately apply to the category in which they were
        submitted.  Other submissions lacked clarity in the way that they were written. Another 
        common reasons for not being accepted included the project being too early in progress, or 
        having unclear, minimal or no results of the interventions being described.
    </p>

    

    <p>
        Considerations for submission acceptance include the following review factors:
    </p>
    <ul>
        <li>Adherence to submission instructions and appropriate category submission</li>
        <li>Relevance to family medicine education</li>
        <li>Methods that maximize audience engagement to deepen learning</li>
        <li>Content areas that maintain balance and breadth of topics being presented</li>
        <li>Originality and innovation</li>
        <li>Organization and clarity (including timeline and objectives)</li>
        <li>Successful implementation of project to be presented as demonstrated by outcomes</li>

    </ul>

            <p>
                ------------------------------------------------------------------------------------<br />
                Submission Summary: <br />


                Submission ID #: @Model.SubmissionId <br />
                Category:   @Model.SubmissionCategoryName<br />
                Title: @Model.SubmissionTitle <br />

            </p>

            <p class="mar-bot-5">Participants</p>
            <p>
                @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
                {
                    <span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}") </span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />
                }
            </p>

            <p>
                Let us know if you are interested in receiving feedback from the Program or Research Committee. 
                If so, send your request, including submission ID number (see above) and lead author 
                information to my attention at: mabuel@stfm.org.
            </p>

            <p>
                We encourage you to continue your good work and welcome your submissions for the
                2025 Annual Spring Conference. On behalf of STFM, we appreciate your submission
                and hope you will still plan to join us at the conference next spring in Los Angeles.

<p>Best Regards,</p>

            <p>
                Melissa Abuel, CMP <br />
                Director of Conferences<br />
                mabuel@stfm.org
                913-800-5593

            </p>



</body>
</html>

