﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Declined</title>
</head>
<body>

    <p>
        Thank you for submitting for the 2025 STFM Conference on Practice and Quality Improvement.
        Unfortunately, your submission below was not accepted for presentation at the conference.
    </p>


    <p>
        ------------------------------------------------------------------------------------<br />
        Submission Summary: <br />


        Submission ID #: @Model.SubmissionId <br />
        Category:   @Model.SubmissionCategoryName<br />
        Title: @Model.SubmissionTitle <br />

    </p>

    <p class="mar-bot-5">Participants</p>
    <p>
        @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
        {
            <span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}") </span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />
        }
    </p>
    <p>
        STFM received a large volume of submissions and accepted submissions that best met criteria and
        offered the best balance for program topics. Submissions that are not accepted generally
        do not meet the qualifications of the conference/submission category, are incomplete, or
        the topic is not relevant to practice/quality improvement or behavioral science education.


    </p>
    <p>
        For additional feedback and/or suggestions to improve your submission for future conferences,
        please send your request, including submission id number (see above) and lead author information
        to my attention at: mabuel@stfm.org by April 30, 2025. A member of the conference planning committee will
        provide additional information for you.
    </p>

    <p>
        On behalf of STFM, we appreciate your submission and hope you will still plan to join us at
        the conference September 8-10, 2025, in Pittsburgh, PA.

    <p>Best Regards,</p>

    <p>
        Melissa Abuel, CMP <br />
        Director of Conferences<br />
        mabuel@stfm.org <br />
        800-274-7928


    </p>



</body>
</html>

