﻿@model ConferenceSubmission.ViewModels.SubmissionBaseEdited
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Base Edited</title>
</head>
<body>
    <p>
        The following submission's title and/or abstract were edited. <br /> 

        Conference: @Html.Raw(Model.Conference.ConferenceLongName) <br />

        Submission ID #: @Model.SubmissionId <br />

        Category:  @Model.SubmissionCategory.SubmissionCategoryName <br />

        Title: @Model.SubmissionTitle <br />

        Abstract: @Model.SubmissionAbstract

    </p>



    <p>
        The submission deadline is <b>@Model.Conference.ConferenceCFPEndDate.ToString("MM/dd/yyyy") 11:59 PM CST</b>.  Up until that date/time
        you may edit your submission.  Just visit <a href="https://submit.stfm.org">https://submit.stfm.org</a>
    </p>

</body>
</html>