﻿@model ConferenceSubmission.Models.SubmissionPayment
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Payment Successful</title>
</head>
<body>
    <p>
        You have successfully paid for the following submission: <br />

        Submission ID #: @Model.SubmissionId <br />

        Conference: @Html.Raw(Model.Submission.Conference.ConferenceLongName) <br />

        Amount: @Model.PaymentAmount <br />

        Transaction ID: @Model.PaymentTransactionId

    </p>



</body>
</html>