﻿@model ConferenceSubmission.Models.Submission
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Created</title>
</head>
<body>
    <p>
        You have entered the following submission to conference @Html.Raw(Model.Conference.ConferenceLongName) : <br />

        Submission ID #: @Model.SubmissionId <br />

        Category:  @Model.SubmissionCategory.SubmissionCategoryName <br />

        Title: @Model.SubmissionTitle <br />

        Abstract: @Model.SubmissionAbstract

    </p>

    <p>The next step is to finish your submission by answering the proposal questions if you have not already done so.</p>

    <p>
        The submission deadline is <b>@Model.Conference.ConferenceCFPEndDate.ToString("MM/dd/yyyy") 11:59 PM CST</b>.  Up until that date/time
        you may edit your submission.  Just visit <a href="https://submit.stfm.org">https://submit.stfm.org</a>
    </p>

</body>
</html>