﻿@model ConferenceSubmission.Models.Submission
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Upload Material For Virtual Conference Presentation</title>
</head>
<body>


    <p>Dear Presenter,</p>

    <p style="font-weight:bold; color:red">This is your FINAL reminder to upload your material for the @Html.Raw(Model.Conference.ConferenceLongName) by August 13, 2021. </p>

    <p>
        Please follow the below instructions to upload your @Html.Raw(Model.Conference.ConferenceLongName) presentation(s) to STFM.
        Once your presentation is uploaded the status of your presentation will be changed to "accepted". As reminder, information 
        on creating your presentation can be found here: 
        <a href="https://stfm.org/conferences/cpqi/presenter-information/">https://stfm.org/conferences/cpqi/presenter-information/</a>.
    </p>

    <p><b>Important Information</b></p>

    <p>
        <b>
            **Please note: Once your file is submitted no changes or modifications can be made to the file. Be sure to practice and review your file(s) before submitting.**
        </b>
    </p>

    <p>
        In order to release this content by the start of the conference,
        all materials are due to STFM by August 13, 2021. Only presentations received by this deadline will be available
        at the virtual conference. We are unable to accept any additional presentations after this date.
    </p>

    <p>
        All presenters are required to register for the conference.
        Additional information can be found at https://stfm.org/conferences/cpqi/overview/
    </p>

    <p><b>Step 1: Log Into Your STFM Account</b></p>
    <p>
        Go to <a href="https://submit.stfm.org/">https://submit.stfm.org</a>. For each @Html.Raw(Model.Conference.ConferenceLongName) submission you previously agreed to present
        at our virtual conference you will see an "Upload Materials" link.
    </p>

    <p><b>Step 2: Upload Your Presentation to STFM</b></p>

    <p>
        Title: @Model.SubmissionTitle <br />
        Submission Id: @Model.SubmissionId <br />
        Session Category: @if (Model.AcceptedCategory.SubmissionCategoryName.Contains("Poster"))
        {<span>Poster</span>}
        else
        { <span>Oral Presentation</span>}
    </p>

    @if (Model.AcceptedCategory.SubmissionCategoryName.Contains("Poster"))
    {


        <p><b>Poster Presentation Sessions:</b></p>

        <p>
            Click "Upload Materials." Follow the instructions on the screen and select "Choose File" to upload your poster file. <br />
            File must be named:  <span>@Model.SubmissionId</span>_poster.png (or.jpg) <br />
            Optional: Enter your embedded YouTube video link in the text box. <br />
            Optional: Select Handout File "Choose File" to add a PDF handout. Handout must be named <span>@Model.SubmissionId</span>_handout.pdf<br />
            Click "Submit Material." You will receive an email confirmation once your materials are uploaded.
        </p>

    }
    else
    {

        <p><b>On-Demand Sessions:</b></p>
        <p>NOTE: Only videos that are 30 minutes or less will be accepted. Those over this time limit will not be included in the virtual conference.</p>
        <p><b>Your video file name must be <span>@Model.SubmissionId</span>_video.mp4 (or .mov, .avi, .wmv)</b></p>
        <p>
            Click "Upload Materials." Follow the instructions on the screen and select "Upload Video File" link under Step 1. A new window to a Dropbox folder will open.
            Add your presentation video to this folder
            by either dragging and dropping the file into the square or clicking the "+" icon. After adding your file, if you are not
            logged in to your own Dropbox account, you will type in your name
            and email in the requested fields and then click "upload." Depending on your file size the upload may take 10-15 minutes.
        </p>

        <p>
            Once you receive confirmation that your file has uploaded to Dropbox return to the STFM upload screen. Enter the video file name
            (your file must be completely uploaded to DropBox before you can do this step).
            Then upload your optional handouts (single combined PDF with no spaces in the file name) and click "Submit Material." 
            You will receive an email confirmation from STFM and Dropbox.
        </p>

    }

    <p>
        For help uploading your files please contact Ray Biggs, rbiggs@stfm.org.
        For general presenter questions please contact Melissa Abuel, mabuel@stfm.org.
    </p>


    <p>
        Melissa Abuel <br />
        Manager of Conferences/Special Projects <br />
        913.800.5593 <br />
        mabuel@stfm.org
    </p>


</body>
</html>