﻿@model ConferenceSubmission.Models.Submission
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Material For Presentation at STFM Conference Successfully Uploaded</title>
</head>
<body>
    <p>Dear Presenter:</p>
    <p>
        Thank you for uploading the material you will present at  @Html.Raw(Model.Conference.ConferenceLongName)  for this submission: <br />

       
        Submission ID #: @Model.SubmissionId <br />


        Title: @Model.SubmissionTitle <br />

    </p>

    <p>STFM staff will review the material and contact you with any questions.</p>

    <p>
        For assistance contact Melissa Abuel, mabuel@stfm.org.

    </p>

</body>
</html>