﻿@model ConferenceSubmission.Models.Submission
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submission Will Present Reminder</title>
</head>
<body>
    <p><b>Final Reminder - Deadline is August 13, 2021</b> <br />
       Please follow the instructions below to notify us if you will be presenting
        this submission at the @Html.Raw(Model.Conference.ConferenceLongName)<br />
        ------------------------------------------------------------------------------------ <br />
        Submission Summary:
    </p>
    <p>
        Submission ID #: @Model.SubmissionId <br />

        <b>Accepted Category:   @Model.AcceptedCategory.SubmissionCategoryName </b><br />

        Title: @Model.SubmissionTitle <br />

    </p>

    <h3>Step 1: Update Your Presentation Status</h3>

    <p>
        Go to https://submit.stfm.org. For each of your accepted Conference on Practice & Quality Improvement abstracts you will
        see two links - "Will Present at Virtual Conference" and "Withdraw." If after reviewing the presentation instructions
        below, you agree to present virtually then you must click on the link "Will Present at Virtual Conference."
        If you cannot present virtually, then you must click on the "Withdraw" link. You must click one of these two
        links for each pending submission.
        <b>Please be sure to follow the instructions in Step 1 above otherwise we will be sending you reminder emails each week.</b>

    </p>



    <h3>Step 2: Preparing Your Virtual Presentation Based on Your Accepted Category </h3>

    <p>
        All presentations will be pre-recorded and available to attendees to view at their own convenience.
        On-demand and poster presentations will be available during and up to 3 weeks following the virtual conference
        September 13-15, 2021.  There will also be a comment section under each video and poster presentation for
        viewers to leave comments/questions and for the presenter to comment/reply.

    </p>


    @if (Model.AcceptedCategoryId == 108)
    {

        <h4>On-Demand Presentations</h4>

        <p>
            <b>30-Minute Presentation</b><br />
            Presentation times are strictly limited to not exceed 30 minutes. Presenters will be responsible for creating a recorded,
            narrated PowerPoint that will then be available for viewing on the conference platform. If you are more
            comfortable and prefer to use another program such as Zoom, WebEx, etc. that would be acceptable as long
            as the program used can save the file as an MP4.
        </p>

        <h4>How to Record Your Presentation:</h4>
        <ol>
            <li>
                Use either one of these provided PowerPoint templates <a href="https://stfm.org/media/3366/21cpqi_4_3.pptx">Standard (4x3)</a>
                or <a href="https://stfm.org/media/3367/21cpqi_16_9.pptx">Wide Screen (16x9)</a>
            </li>
            <li>
                Record a narrated PowerPoint in a quiet, uncluttered
                environment (video narration is optional)
            </li>

            <li>Save your file as a .pptx (for your records)</li>
            <li>
                Export your file as an .mp4 (when choosing video quality, please
                select
                Internet Quality)
            </li>
            <li>File must be named @Model.SubmissionId<span>_video.mp4</span></li>
        </ol>

        <p>Resources on creating a narrated PowerPoint:</p>
        <ol>
            <li><a href="https://support.office.com/en-us/article/record-a-slide-show-with-narration-and-slide-timings-0b9502c6-5f6c-40ae-b1e7-e47d8741161c#OfficeVersion=macOS">Record A Slide Show With Narration</a></li>
            <li><a href="https://vimeo.com/399853974/e46eda5029">Making A PowerPoint Video Presentation</a> © American Academy of PAs. Used with permission.</li>
        </ol>

        <h4>Handouts</h4>
        <p>
            All handouts associated with your presentation should be saved as a single PDF file and named @Model.SubmissionId<span>_handout.pdf</span> (i.e. 4567_handout.pdf).
        </p>
    }

    @if (Model.AcceptedCategoryId == 82 || Model.AcceptedCategoryId == 83 || Model.AcceptedCategoryId == 86)
    {

        <h4><b>Poster Presentation Sessions:</b> </h4>

        <p>All poster presentations will include a visual of the poster, abstract, and an optional 10-minute video recording.</p>

        <p>How to Create Your Poster Presentation For Optimal Online Viewing:</p>
        <ol>
            <li>
                Create your poster with PowerPoint
                <ol type="a">
                    <li>Your document should be 12" x 9"</li>
                    <li>No font size smaller than 12 pt should be used</li>
                    <li>Don’t use small graphics or charts</li>
                    <li>
                        If you want to share a lot of data, information, and/or small graphics we recommend you use a
                        QR code on the poster for attendees to access this additional information. Or you can include any additional data,
                        resources, etc as a PDF handout and note on your poster "for additional information see handout."
                    </li>
                </ol>
            </li>


            <li>Save the file for your records</li>
            <li>Export the file as a .jpg or .png to send to STFM</li>
            <li>File must be named:  @Model.SubmissionId<span>_poster.png (or.jpg)</span> (i.e. 1234_poster.png)</li>
            <li>
                Record 10-minute presentation video about your poster project (Optional)
                <ol type="a">
                    <li>Upload your video to YouTube</li>
                    <li><a href="https://support.google.com/youtube/answer/57407?hl=en&co=GENIE.Platform=Desktop">How-to resource for uploading a video to YouTube: Upload videos - YouTube Help</a> </li>
                    <li>Link for YouTube video should be for embedded link - similar to https://www.youtube.com/embed/xxxxxx </li>
                    <li>See https://wpexplorer-themes.com/total/docs/get-embed-urllink-youtube-video/ for how to get the embed link</li>
                </ol>
            </li>

            <li>
                Supplemental Handout (Optional)
                <ol type="a">
                    <li>All handouts associated with your presentation should be saved as a single PDF file and must be named @Model.SubmissionId<span>_handout.pdf</span> (i.e. 4567_handout.pdf) </li>
                </ol>
            </li>

        </ol>

    }
    <h3>
        Step 3: Upload Your Presentation to STFM

    </h3>

    <p>Instructions on how to upload your presentation and file to STFM will be provided after you tell us you will present.</p>

    <p><b>Important Information</b></p>

    <p>
        <b>
            **Please note: Once your file is submitted no changes or modifications can be made to the file. Be sure to practice and
            review your file(s) before submitting.**

        </b>
    </p>

    <p>
        In order to release this content by the start of the Conference on Practice & Quality Improvement (September 13, 2021)
        all materials are due to STFM by August 13, 2021. Only presentations received by this deadline will be available at the
        virtual conference. We are unable to accept any additional presentations after this date.
    </p>

    <p>
        All presenters are required to register for the Conference on Practice & Quality Improvement.
        Registration will open in mid-June and information can be found on
        <a href="https://www.stfm.org/cpqi">www.stfm.org/cpqi</a>.
    </p>

    <h3>Questions or Assistance</h3>
    <p>
        For technical assistance with creating your presentation video or poster contact: <br />
        Ray Biggs, rbiggs@stfm.org<br />
        Rusty Nail, rnail@stfm.org<br />
        For general questions contact Melissa Abuel, mabuel@stfm.org

    </p>
    <p>
        Please review your profile by visiting https://www.stfm.org and clicking "Member Portal" in the upper
        right menu to ensure your name, credentials, and address are complete. Also ask your co-presenters to review their profiles.
        The email in your STFM account will be used for access to the conference.
    </p>

    <p>
        Thank you for reviewing these instructions. We hope you will decide to present and join us virtually at the 2021
        Conference on Practice & Quality Improvement in September.
    </p>


    <p>
        Ray Rosetta, CMP <br />
        Director of Conferences<br />
        rrosetta@stfm.org


    </p>


    <p>
        Melissa Abuel <br />
        Manager of Conferences and Special Projects <br />
        mabuel@stfm.org
    </p>

</body>
</html>
