﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Will Present Reminder</title>
</head>
<body>


    <p>Dear Presenter,</p>

    <p>
        <b>Reminder - Action Required - STFM Conference Presentation</b> <br />
        Please follow the instructions below to notify us if you will be presenting
        this submission at the @Html.Raw(Model.ConferenceName) Virtual Conference Supplement<br />
        ------------------------------------------------------------------------------------ <br />
        Submission Summary:
    </p>
    <p>
        Submission ID #: @Model.SubmissionId <br />

        <b>Accepted Category:   @Model.SubmissionAcceptedCategoryName </b><br />

        Title: @Model.SubmissionTitle <br />

    </p>


    <p>
        Agree or Decline To Present Online IN ADDITION To In-Person <br />
        Go to https://submit.stfm.org. For each of your accepted @Html.Raw(Model.ConferenceName) abstracts
        that are eligible to present at the virtual conference you will see a link to "Accept or Decline to Provide Recorded On-Demand Presentation".
        Click on that link and let STFM know whether or not you will participate in our virtual conference in addition to presenting in-person.
    </p>


</body>
</html>
