﻿@model ConferenceSubmission.ViewModels.SubmissionAdminHomeViewModel
@{
    ViewData["Title"] = "Submission Admin - Create New Submission";
}
<h1 class="text-primary">Submission Admin Create New Submission</h1>

<hr />

