﻿@model ConferenceSubmission.BindingModels.SubmissionCategoryBindingModel
@{
    ViewData["Title"] = "Select Submission Accepted Category";
}
<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Select Submission Accepted Category</h1>
<hr />
<div class="mar-bot-15">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>
   
</div>


<form asp-action="AdminEditAcceptedSubmissions" asp-controller="SubmissionAdmin">
    <div class="form-group">
        <label asp-for="SelectedSubmissionCategory"></label>
        <select asp-for="SelectedSubmissionCategory" asp-items="@Model.SubmissionCategoryItems" class="form-control">
            <option value="">- Select -</option>
        </select>
        <span asp-validation-for="SelectedSubmissionCategory" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="ConferenceId" value="@Model.ConferenceId" />
    <button type="submit" class="btn btn-primary">Save and Continue</button> &nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Cancel</a>

</form>

