﻿@model ConferenceSubmission.Services.PaginatedList<ConferenceSubmission.DTOs.SubmissionUpdate>
@{
    ViewData["Title"] = "Admin Edit Multiple Accepted Submissions";
}
@section Styles
{
    <style type="text/css">
        table {
            border: 5px solid blue;
        }

        tr {
            border: 2px solid blue;
        }

        td {
            font-size: .9em
        }

        textarea {
            font-size: .9em
        }

        th {
            text-align: center;
            font-size: 1.2em
        }
    </style>
}
<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h3 class="text-primary mar-top-10">Admin Edit Multiple Accepted Submissions</h3>


<hr />
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="AdminEditAcceptedSubmissions"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-SelectedSubmissionCategory="@(Model[0].AcceptedCategoryId)"
   class="btn btn-default @prevDisabled" style="color:white; background-color:blue; height:35px;">
    Previous @if (Model.HasPreviousPage)
    {<span>@(Model.PageIndex * 5 - 9) - @(Model.PageIndex * 5 - 5)</span>}
</a>
<span style="font-size:1.1em;font-weight:bold">&nbsp;&nbsp;Editing @(Model.PageIndex * 5 - 4) - @(Model.PageIndex * 5) of @Model.TotalItems&nbsp;&nbsp;</span>
<a asp-action="AdminEditAcceptedSubmissions"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-SelectedSubmissionCategory="@(Model[0].AcceptedCategoryId)"
   class="btn btn-default @nextDisabled" style="color:white; background-color:blue; height:35px;">
    Next @if (Model.HasNextPage)
    {<span>@(Model.PageIndex * 5 + 1) - </span> @if ((Model.PageIndex * 5 + 5) < Model.TotalItems)
    {<span>@(Model.PageIndex * 5 + 5)</span> }
else
{ <span>@Model.TotalItems</span>}}
</a>

<form asp-action="AdminEditAcceptedSubmissionsGoToSubmission" asp-controller="SubmissionAdmin" class="form-inline">
    <span style="color: #0096D2;">&nbsp;&nbsp;Go To Submission # </span>
    <input name="submissionId" id="submissionId" ="10" size="10" width="10" />
    <input type="hidden" name="SelectedSubmissionCategory" id="SelectedSubmissionCategory" value="@(Model[0].AcceptedCategoryId)" />
    <button class="btn btn-default" style="color:white; background-color:blue; height:30px;" type="submit">Find Submission</button>
</form>

<form asp-action="AdminEditAcceptedSubmissionsGoToLastEdited" asp-controller="SubmissionAdmin" class="form-inline">
    <span style="color: #0096D2;">&nbsp;&nbsp;Go To Last Edited </span>
    <input type="hidden" name="SelectedSubmissionCategory" id="SelectedSubmissionCategory" value="@(Model[0].AcceptedCategoryId)" />
    <button class="btn btn-default" style="color:white; background-color:blue; height:30px;">Go</button>
</form>

&nbsp;&nbsp;<a asp-action="AdminEditAcceptedSubmissions"
               asp-route-pageNumber="1"
               asp-route-SelectedSubmissionCategory="@(Model[0].AcceptedCategoryId)">
    First Page
</a>

&nbsp;&nbsp;<a asp-action="AdminEditAcceptedSubmissions"
               asp-route-pageNumber="@(Model.TotalPages)"
               asp-route-SelectedSubmissionCategory="@(Model[0].AcceptedCategoryId)">
    Last Page
</a>

&nbsp;&nbsp;<a asp-action="AdminEditSubmissionsSelectCategory" asp-route-conferenceId="@(Model[0].ConferenceId)">Change Category</a>

<table cellpadding="5" width="100%">
    <tr>
        <th>Sub #</th>
        <th>Submission Title</th>
        <th>Abstract</th>
        <th>Learning Objectives</th>
        <th>Edit</th>

    </tr>

    @foreach (ConferenceSubmission.DTOs.SubmissionUpdate submission in Model)
    {

        <tr>
            <td>@submission.SubmissionId</td>
            <td>
                <textarea id="submissionTitle-@submission.SubmissionId" name="submissionTitle-@submission.SubmissionId" rows="3" cols="40">@submission.SubmissionTitle</textarea>
                <br /> <a href="javascript:void(0)" onclick="editTitleCase(@submission.SubmissionId)">Change Title Case</a>
            </td>
            <td><textarea id="submissionAbstract-@submission.SubmissionId" name="submissionAbstract-@submission.SubmissionId" rows="12" cols="60">@submission.SubmissionAbstract</textarea> </td>
            <td>
                <textarea id="learningobjone-@submission.SubmissionId" name="learningobjone-@submission.SubmissionId" rows="3" cols="40">@submission.LearningObjOneValue</textarea> <br />
                <textarea id="learningobjtwo-@submission.SubmissionId" name="learningobjtwo-@submission.SubmissionId" rows="3" cols="40">@submission.LearningObjTwoValue</textarea> <br />
                <textarea id="learningobjthree-@submission.SubmissionId" name="learningobjthree-@submission.SubmissionId" rows="3" cols="40">@submission.LearningObjThreeValue</textarea>
            </td>
            <td style="font-size: 1.2em">
                <a id="save-@submission.SubmissionId" name="save-@submission.SubmissionId"
                   href="javascript:void(0)" class="mar-left-10"
                   onclick="updateSubmission(@submission.SubmissionId, @(submission.LearningObjOneFormFieldId != null ? submission.LearningObjOneFormFieldId : 0),
    @(submission.LearningObjTwoFormFieldId != null ? submission.LearningObjTwoFormFieldId : 0),
    @(submission.LearningObjThreeFormFieldId != null ? submission.LearningObjThreeFormFieldId : 0))"><i class="fas fa-edit" aria-hidden="true"></i> Save</a><br />
                @if (submission.SubmissionAdminEdited == true)
                {
                    <div id="submissionedited-@submission.SubmissionId">
                        <span style="color:green; font-weight:bold;">&nbsp;Edited</span>
                    </div>
                }
                else
                {
                    <div id="submissionedited-@submission.SubmissionId" style="display:none;">
                        <span style="color:green; font-weight:bold;">&nbsp;Edited</span>
                    </div>

                }


                <br />

                <div id="submissionsaved-@submission.SubmissionId" style="display:none;">
                    &nbsp;<i class="fa fa-check-circle" style="font-size:20px;color:green"></i>
                </div>

            </td>
        </tr>
    }

</table>



<a asp-action="AdminEditAcceptedSubmissions"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-SelectedSubmissionCategory="@(Model[0].AcceptedCategoryId)"
   class="btn btn-default @prevDisabled" style="color:white; background-color:blue; height:35px;">
    Previous @if (Model.HasPreviousPage)
    {<span>@(Model.PageIndex * 5 - 9) - @(Model.PageIndex * 5 - 5)</span>}
</a>
<span style="font-size:1.1em;font-weight:bold">&nbsp;&nbsp;Editing @(Model.PageIndex * 5 - 4) - @(Model.PageIndex * 5) of @Model.TotalItems&nbsp;&nbsp;</span>
<a asp-action="AdminEditAcceptedSubmissions"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-SelectedSubmissionCategory="@(Model[0].AcceptedCategoryId)"
   class="btn btn-default @nextDisabled" style="color:white; background-color:blue; height:35px;">
    Next @if (Model.HasNextPage)
    {<span>@(Model.PageIndex * 5 + 1) - </span> @if ((Model.PageIndex * 5 + 5) < Model.TotalItems)
    {<span>@(Model.PageIndex * 5 + 5)</span> }
else
{ <span>@Model.TotalItems</span>}}
</a>

<form asp-action="AdminEditAcceptedSubmissionsGoToSubmission" asp-controller="SubmissionAdmin" class="form-inline">
    <span style="color: #0096D2;">&nbsp;&nbsp;Go To Submission # </span>
    <input name="submissionId" id="submissionId" ="10" size="10" width="10" />
    <input type="hidden" name="SelectedSubmissionCategory" id="SelectedSubmissionCategory" value="@(Model[0].AcceptedCategoryId)" />
    <button class="btn btn-default" style="color:white; background-color:blue; height:30px;" type="submit">Find Submission</button>
</form>

<form asp-action="AdminEditAcceptedSubmissionsGoToLastEdited" asp-controller="SubmissionAdmin" class="form-inline">
    <span style="color: #0096D2;">&nbsp;&nbsp;Go To Last Edited </span>
    <input type="hidden" name="SelectedSubmissionCategory" id="SelectedSubmissionCategory" value="@(Model[0].AcceptedCategoryId)" />
    <button class="btn btn-default" style="color:white; background-color:blue; height:30px;">Go</button>
</form>

&nbsp;&nbsp;<a asp-action="AdminEditAcceptedSubmissions"
               asp-route-pageNumber="1"
               asp-route-SelectedSubmissionCategory="@(Model[0].AcceptedCategoryId)">
    First Page
</a>

&nbsp;&nbsp;<a asp-action="AdminEditAcceptedSubmissions"
               asp-route-pageNumber="@(Model.TotalPages)"
               asp-route-SelectedSubmissionCategory="@(Model[0].AcceptedCategoryId)">
    Last Page
</a>

&nbsp;&nbsp;<a asp-action="AdminEditSubmissionsSelectCategory" asp-route-conferenceId="@(Model[0].ConferenceId)">Change Category</a>

@section Scripts {

    <script src="~/js/to-title-case.js"></script>

    <script type="text/javascript">

        var updateSubmission = function (submissionId, learningObjOneFormFieldId,
            learningObjTwoFormFieldId, learningObjThreeFormFieldId) {

            const submissionUdpate = {
                SubmissionTitle: $("#submissionTitle-" + submissionId).val(),
                SubmissionAbstract: $("#submissionAbstract-" + submissionId).val(),
                SubmissionId: submissionId,
                LearningObjOneFormFieldId: learningObjOneFormFieldId,
                LearningObjTwoFormFieldId: learningObjTwoFormFieldId,
                LearningObjThreeFormFieldId: learningObjThreeFormFieldId,
                LearningObjOneValue: $("#learningobjone-" + submissionId).val(),
                LearningObjTwoValue: $("#learningobjtwo-" + submissionId).val(),
                LearningObjThreeValue: $("#learningobjthree-" + submissionId).val()


            };

            $.ajax({
                url: "/api/submission/update/" + submissionId,
                type: "PUT",
                accepts: "application/json",
                contentType: "application/json",
                data: JSON.stringify(submissionUdpate),
                success: function (result) {
                    //alert("Result is " + JSON.stringify(result));
                    $("#submissionsaved-" + submissionId).show(50);
                    $("#save-" + submissionId).html('<i class="fas fa-edit" aria-hidden="true"></i> Saved!');
                    $("#submissionedited-" + submissionId).show(50);
                }
            });

        };

        var editTitleCase = function (submissionId) {

            //alert("editing title case " + submissionId + " - " + $("#submissionTitle-" + submissionId).val() );

            $("#submissionTitle-" + submissionId).val($("#submissionTitle-" + submissionId).val().toTitleCase());
        };

    </script>

}
