﻿@model ConferenceSubmission.BindingModels.ConferenceBindingModel
@{
    ViewData["Title"] = "Submission Admin - Create New Submission";
}
<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Submission Admin Create New Submission</h1>

<hr />
<form asp-action="Index" asp-controller="Submission">
    <div class="form-group">
        <label asp-for="conferenceId"></label>
        <select asp-for="conferenceId" asp-items="@Model.ConferenceItems" class="form-control">
            <option value="">- Select -</option>
        </select>
        <span asp-validation-for="conferenceId" class="text-danger"></span>
    </div>

    
    <button type="submit" class="btn btn-primary">Save and Continue</button> &nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="@Url.Action("Index", "SubmissionAdmin")">Cancel</a>

</form>


