﻿@model ConferenceSubmission.ViewModels.AllSessionsWithPresentersThatHaveNotRegisteredReportViewModel

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h2 class="text-primary mar-top-10">All Sessions With Presenters That Have Not Registered</h2>
<hr />
<p class="text-16 mar-bot-1"><span class="font-weight-bold">Event:</span> <span class="text-black-70">@Model.EventName</span></p>
<p class="text-16 mar-bot-25"><span class="font-weight-bold">Conference:</span> <span class="text-black-70">@Model.ConferenceName</span></p>


<div>

    @if (Model.SessionWithUnregisteredPresenters.Count > 0)
    {
        <table class="display" id="allSessionsWithPresentersThatHaveNotRegisteredReportTable" style="width:100%;">
            <thead>
                <tr>
                    <th>Session</th>
                    <th>Sub Id</th>
                    <th>Title</th>
                    <th>Presenter</th>
                    <th>Role(s)</th>
                    <th>Email</th>
                </tr>
            </thead>
            @foreach (var session in Model.SessionWithUnregisteredPresenters)
            {
                for(int i = 0; i < session.UnregisteredPresenters.Count; i++)
                {
                    <tr>
                        <td class="@(i == 0 ? "font-weight-bold text-primary" : "")">@session.SessionCode</td>
                        <td class="@(i == 0 ? "font-weight-bold" : "")"><a class="@(i == 0 ? "font-weight-bold text-primary" : "text-black-70")" asp-controller="SubmissionAdmin" asp-action="ViewSubmission" asp-route-submissionId="@session.SubmissionId" target="_blank">@session.SubmissionId</a></td>
                        <td class="@(i == 0 ? "font-weight-bold text-primary" : "")">@session.SubmissionTitle</td>
                        <td class="@(i == 0 ? "font-weight-bold text-primary" : "")">@session.UnregisteredPresenters[i].FullName</td>
                        <td class="@(i == 0 ? "font-weight-bold text-primary" : "")">@session.UnregisteredPresenters[i].GetRolesPretty()</td>
                        <td class="@(i == 0 ? "font-weight-bold text-primary" : "")">@session.UnregisteredPresenters[i].Email</td>
                    </tr>
                }
            }

        </table>
    }
    else
    {
        <p>The system was unable to find any sessions with unregistered presenters.</p>
    }
</div>


@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "allSessionsWithPresentersThatHaveNotRegisteredReportTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}