﻿@model ConferenceSubmission.ViewModels.SessionRegisteredUnregisteredViewModel


<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h2 class="text-primary mar-top-10">All Sessions With Count of Registerd and UnRegistered Presenters</h2>
<hr />
<p class="text-16 mar-bot-1"><span class="font-weight-bold">Event:</span> <span class="text-black-70">@Model.EventName</span></p>
<p class="text-16 mar-bot-25"><span class="font-weight-bold">Conference:</span> <span class="text-black-70">@Model.ConferenceName</span></p>


<div>

    @if (Model.SessionRegisteredUnregisteredList.Count > 0)
    {
        <table class="display" id="allSessionsRegisteredUnregisteredReportTable" style="width:100%;">
            <thead>
                <tr>
                    <th>Session</th>
                    <th>Sub Id</th>
                    <th>Registered Presenters</th>
                    <th>Registered Presenters</th>
                </tr>
            </thead>
            @foreach (var session in Model.SessionRegisteredUnregisteredList)
            {
                
                    <tr>
                        <td>@session.SessionCode</td>
                        <td><a asp-controller="SubmissionAdmin" asp-action="ViewSubmission" asp-route-submissionId="@session.SubmissionId" target="_blank">@session.SubmissionId</a></td>
                        <td>@session.Registered</td>
                        <td>@session.Unregistered</td>

                    </tr>
                
            }

        </table>
    }
    else
    {
        <p>The system was unable to find any sessions for count of registered and unregistered presenters</p>
    }
</div>


@{
    await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
            {
                IncludeDownloadAsCSVScripts = true
            });
}

@{
    await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
            {
                ElementId = "allSessionsRegisteredUnregisteredReportTable",
                DefaultPageLength = 25,
                LengthMenuValues = { 5, 10, 25, 50, -1 },
                LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
                DownloadAsCSV = true,
                SessionStateStorage = false
            });
}