﻿@model ConferenceSubmission.ViewModels.ConferenceDeadlineViewModel

<p class="card-text mar-bot-1"><strong>Submission Review Deadline: </strong><a href="javascript:void(0)" onclick="showEndDatePicker(@Model.ConferenceId, false)" id="toggleSubmissionReviewEndDate-@Model.ConferenceId" class="text-blue mar-left-3"><i class="fas fa-edit" aria-hidden="true"></i> @Model.DeadlineDate.ToShortDateString() - @Model.DeadlineDate.ToLongTimeString() CST</a><span id="SubmissionReviewDateTextOnly-@Model.ConferenceId" style="display:none">@Model.DeadlineDate.ToShortDateString() - @Model.DeadlineDate.ToLongTimeString() CST</span></p>
<div id="editSubmissionReviewEndDateContainer-@Model.ConferenceId" class="mar-top-5" style="display:none">
    <div class="col-md-5 mb-3">
        <div style="display:flex">
            <input class="pad-left-3 pad-y-0 form-control form-control-sm" value="@Model.DeadlineDate.ToString("yyyy-MM-ddTHH:mm:ss")" step="1" type="datetime-local" id="SubmissionReviewEndDatePicker-@Model.ConferenceId"><a href="javascript:void(0)" onclick="saveEnddate(@Model.ConferenceId, false)" class="text-green mar-left-10 mar-top-2"><i class="fas fa-check-square fa-2x" aria-hidden="true"></i></a><a href="javascript:void(0)" onclick="cancelEditEnddate(@Model.ConferenceId, false)" class="text-red mar-left-10 mar-top-2"><i class="fas fa-window-close fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>