﻿@model ConferenceSubmission.ViewModels.ConferenceViewModel

<p class="card-text"><strong>Conference Status: </strong><span class="@(Model.ConferenceInactive ? "text-red":"text-green")">@(Model.ConferenceInactive ? "Inactive" : "Active")</span><a href="javascript:void(0)" onclick="toggleConferenceInactive(@Model.ConferenceId)"><i class="text-blue mar-left-3 fas fa-toggle-@(Model.ConferenceInactive ? "off":"on") fa-lg"></i></a></p>