﻿@model ConferenceSubmission.ViewModels.IncompleteSubmissionsViewModel
@{
    ViewData["Title"] = "Submission Admin - Find Incomplete Submissions";
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Submission Admin - Find Incomplete OPEN Submissions</h1>
<hr />
<h2 class="color-primary">@Model.ConferenceViewModel.ConferenceLongName</h2>
<hr />
<div>
    <h1 class="text-primary">Incomplete OPEN Submissions</h1>
    <hr />
    @if (Model.Submissions.Count > 0)
    {
        <table class="display" id="incompleteSubmissionsTable" style="width:100%;">
            <thead>
                <tr>
                    <th>Sub Id</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Submitter</th>
                    <th>Submitter Email</th>
                    <th>Main Presenter</th>
                    <th>Main Presenter Email</th>
                </tr>
            </thead>
            @foreach (var submission in Model.Submissions)
            {
                <tr>
                    <td>@submission.SubmissionId</td>
                    <td>
                        @submission.SubmissionTitle
                    </td>
                    <td>@submission.SubmissionCategory.SubmissionCategoryName</td>
                    <td>@submission.Submitter.FirstName @submission.Submitter.LastName</td>
                    <td>@submission.Submitter.Email</td>
                    <td>@submission.MainPresenter.FirstName @submission.MainPresenter.LastName</td>
                    <td>@submission.MainPresenter.Email</td>
                </tr>

            }

        </table>
    }
    else
    {
        <p>There are no incomplete submissions.</p>
    }
</div>
@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "incompleteSubmissionsTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}

