﻿@model StfmUserIdMissingViewModel
@{
    ViewData["Title"] = "STFM User IDs Missing From SalesForce";
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">STFM User IDs Missing From SalesForce</h1>
<hr />
<div class="row">

    @if (Model.StfmUserIds.Count > 0)
    {
        <table class="display" id="stfmUserIdsTable" style="width:100%;">
            <thead>
                <tr>
                    <th>StfmUserId</th>
                    <th>Participant On These Submissions</th>
                    <th>Reviewer On These Submissions</th>
                </tr>
            </thead>
            @foreach (StfmUserIdMissingFromSalesforce stfmUser in Model.StfmUserIds)
            {

                <tr>
                    <td>@stfmUser.StfmUserId</td>

                    <td>
                        @foreach (int submissionId in stfmUser.ParticipantSubmissionIds)
                        {
                            <span><a asp-controller="SubmissionAdmin" asp-action="ViewSubmission" asp-route-submissionId="@submissionId" target="_blank">@submissionId</a> &nbsp; &nbsp;</span>
                        }
                    </td>

                    <td>
                        @foreach (int submissionId in stfmUser.ReviewerSubmissionIds)
                        {
                            <span><a asp-controller="SubmissionAdmin" asp-action="ViewSubmission" asp-route-submissionId="@submissionId" target="_blank">@submissionId</a></span>
                        }
                    </td>
                </tr>




            }

        </table>
    }
    else
    {
        <p>There are no STFM User IDs not in SalesForce</p>
    }

</div>

@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "stfmUserIdsTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}
