﻿@model List<User>
@{
    ViewData["Title"] = "Submission Admin - Find People By Last Name";
}


<h3>Find People</h3>
<a class="card-link" asp-controller="SubmissionAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Submission Admin Home</a>
<hr />

<form asp-action="FindPeopleByLastName" asp-controller="SubmissionAdmin">

    <div class="form-group">

        <label for="lastName">
            Enter last name of person to find:
        </label>
        <input type="text" class="form-control" name="lastName" id="lastName" size="50" width="50" />
        <input type="submit" value="Find People" name="submit" />
    </div>

</form>

<div>



    @if (Model.Count > 0)
    {
        <h3>People found - click on View Submissions link to see submissions where that person is a participant.</h3>
        <table class="display" id="participantsTable" style="width:100%;">
            <thead>
                <tr>
                    <th data-priority="1">Name</th>
                    <th data-priority="3">Email</th>
                    <th data-priority="2">STFM User Id</th>
                    <th>View Submissions</th>
                </tr>
            </thead>

            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.GetFullNamePretty()</td>
                    <td>@person.Email</td>
                    <td>@person.STFMUserId</td>
                    <td>
                        <a class="card-link" asp-controller="SubmissionAdmin" asp-action="ViewSubmissionsForPerson"
                           asp-route-stfmUserId="@person.STFMUserId"><i class="fas fa-plus-square" aria-hidden="true"></i> View Submissions</a>
                    </td>

                </tr>

            }

        </table>
    }
    else
    {
        <p>No people found.</p>
    }
</div>
@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "participantsTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}
