﻿@model IEnumerable<ConferenceSubmission.DTOs.EntityByNameAndId>

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h2 class="text-primary mar-top-10">Form Preview</h2>
<hr />
<div id="conferencesContainer">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="selectConference">Conference</label>
            <select class="form-control" onchange="loadConferenceCategories()" id="selectConference">
                <option value="">Select a Conference</option>
                @foreach (var conferneceEntity in Model)
                {
                    <option value="@conferneceEntity.EntityId">@conferneceEntity.EntityName</option>
                }
            </select>
        </div>
    </div>
</div>
<div id="categoriesContainer"></div>
<div id="formContainer"></div>
@section scripts{
    <script src="~/js/FormPreview.js"></script>
}