﻿@model ConferenceSubmission.ViewModels.SessionsForConferenceViewModel
@{
    ViewData["Title"] = "Submission Admin - In Person Sessions For Conference";
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Submission Admin - In Person Sessions For Conference</h1>
<hr />
<h2 class="color-primary">@Model.Conference.ConferenceLongName</h2>
<hr />
<div>
    <h1 class="text-primary">Room Use for Conference</h1>
    <hr />
    @if (Model.RoomUseDict.Count > 0)
    {
        <table class="display" id="roomUseTable" style="width:100%;" data-order="[]">
            <thead>
                <tr>
                    <th>Room</th>
                    <th>First Session Start Time</th>
                    <th>Last Session Start Time</th>
                    <th>Sessions in Room</th>
                </tr>
            </thead>
            <tbody>
                @foreach (KeyValuePair<DateOnly, List<RoomUse>> roomUsePair in Model.RoomUseDict)
                {

                    <tr>
                        <td><b>@roomUsePair.Key</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>IT Office</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Registration Desk</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    @foreach (RoomUse room in roomUsePair.Value)
                    {
                        <tr>
                            <td>@room.RoomName</td>
                            <td>@room.RoomStartDateTime.ToShortTimeString()</td>
                            <td>@room.RoomEndDateTime.ToShortTimeString()</td>
                            <td>@foreach(ConferenceSession conferenceSession in room.SessionsInRoom)
                                {<span>@conferenceSession.SessionCode: @conferenceSession.SessionStartDateTime.ToShortTimeString() - @conferenceSession.SessionEndDateTime.ToShortTimeString() | </span>}

                            </td>
                        </tr>


                    }




                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are no rooms in use for this conference</p>
    }
</div>
@{
    await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
            {
                IncludeDownloadAsCSVScripts = true
            });
}

@{
    await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
            {
                ElementId = "roomUseTable",
                DefaultPageLength = 25,
                LengthMenuValues = { 5, 10, 25, 50, -1 },
                LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
                DownloadAsCSV = true,
                SessionStateStorage = false
            });
}

