﻿@model ConferenceSubmission.ViewModels.SubmissionAdminHomeViewModel
@{
    ViewData["Title"] = "Submission Admin";
}
<h1 class="text-primary">Submission Admin</h1>

<hr />

<div class="card border-primary">
    <div class="card-body">
        <h4 class="card-title">All Conferences</h4>
        <div>
            <form asp-action="ViewSubmission" asp-controller="SubmissionAdmin" class="form-inline">
                <input placeholder="Submission Id" class="form-control form-control-sm" name="submissionId" id="submissionId" width="10" />
                <button class="btn-sm" type="submit">Find Submission</button>
            </form>
        </div>
        <div class="mar-top-10">
            <span class="badge badge-primary pad-5 text-13 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="ViewNumberOfSubmissions">Number of Submissions</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="AdminEditSubmissionsSelectConference">Edit Multiple Submissions</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
                <a class="card-link" asp-controller="SessionAdmin" asp-action="SessionDataStart">Add/Edit Session</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="AdminCreateSubmissionSelectConference">Create Submission</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="FindPeopleByLastName" asp-route-lastName="jjjjjjjj">Find People</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13">
                <a class="card-link" asp-controller="ReviewAdmin" asp-action="index">Review Admin</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="FormPreview">Preview Forms</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="FindMissingStfmUserIds">STFM User IDs Missing</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="RegistrationReports">Registration</a>
            </span>
        </div>
    </div>
</div>

<hr />

@foreach (var activeConferenceViewModel in Model.ActiveConferenceViewModels.OrderByDescending(c => c.ConferenceCFPEndDate))
{
    <div class="card border-primary mb-3">
        <div class="card-body">
            <h4 class="card-title">
                @Html.Raw(activeConferenceViewModel.ConferenceLongName)
                @if (activeConferenceViewModel.ConferenceVirtual)
                {
                    <span><b><a asp-controller="SubmissionAdmin" asp-action="ViewVirtualConferenceData" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId"> (Virtual Conference) </a> </b></span>
                }

                @if (activeConferenceViewModel.ConferenceHybrid)
                {
                    <span><b>(Hybrid Conference)</b></span>
                }
            </h4>
            <div id="CFPEndDateContainer-@activeConferenceViewModel.ConferenceId">
                @{await Html.RenderPartialAsync("ConferenceCFPEndDateEditForm", new ConferenceDeadlineViewModel { ConferenceId = activeConferenceViewModel.ConferenceId, DeadlineDate = activeConferenceViewModel.ConferenceCFPEndDate });}
            </div>
            <div id="SubmissionReviewEndDateContainer-@activeConferenceViewModel.ConferenceId">
                @{await Html.RenderPartialAsync("ConferenceSubmissionReviewEndDateEditForm", new ConferenceDeadlineViewModel { ConferenceId = activeConferenceViewModel.ConferenceId, DeadlineDate = activeConferenceViewModel.ConferenceSubmissionReviewEndDate });}
            </div>
            <div id="conferenceInactive-@activeConferenceViewModel.ConferenceId" class="mar-bot-10">@{await Html.RenderPartialAsync("ConferenceInactivePartial", activeConferenceViewModel);}</div>

            <span class="badge badge-primary pad-5 text-13 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="ViewSubmissionsForConference" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Submissions</a>
            </span>
             @if (activeConferenceViewModel.ConferenceHybrid) {
            <span class="badge badge-primary pad-5 text-13 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="ViewOnlineSubmissionsForConference" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Virtual Conf Eligible Submissions</a>
            </span>
             }
            <span class="badge badge-primary pad-5 text-13 mar-left-3 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="ViewSubmissionsForConferenceAllPresenters" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Submissions - All Participants</a>
            </span>
            <span class="badge badge-primary pad-5 text-13 mar-left-3 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="ViewAllPresentersForConference" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">All Participants For Conference</a>
            </span>
            <span class="badge badge-primary pad-5 text-13 mar-left-3 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="FindIncompleteSubmissions" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Incomplete Submissions</a>
            </span>
            @if (! activeConferenceViewModel.ConferenceInactive ) {
            <span class="badge badge-primary pad-5 text-13 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="SendIncompleteReminderEmails" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Send Incomplete Reminder Emails</a>
            </span>
             }
            <span class="badge badge-primary pad-5 text-13 mar-left-3 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="SubmissionsWithParticipantOrderModified" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Submissions - Participant Order Modified</a>
            </span>
            <span class="badge badge-primary pad-5 text-13 mar-left-3 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="GetConferenceSessions" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Room Use Report</a>
            </span>
            <span class="badge badge-primary pad-5 text-13 mar-left-3 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="RetireConference" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Retire Conference</a>
            </span>
            <span class="badge badge-primary pad-5 text-13 mar-left-3 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="CreateNextConference" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Create Next Conference</a>
            </span>
            <span class="badge badge-primary pad-5 text-13 mar-left-3 mar-top-3">
                <a class="card-link" asp-controller="SubmissionAdmin" asp-action="CreateReviewForms" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId">Create Review Forms</a>
            </span>
            <span class="badge badge-primary pad-5 text-13 mar-left-3 mar-top-3">
                <a class="card-link" onclick="refreshSessionSearchCache('@activeConferenceViewModel.ConferenceId', '@activeConferenceViewModel.ConferenceLongName')" href="javascript:void(0)">Clear Session Search Cache</a>
            </span>
        </div>
    </div>
    <hr />
}

@section scripts {
    <script src="~/js/SubmissionAdmin.js"></script>
}