﻿@model ConferenceSubmission.ViewModels.VirtualMaterialsForConference
@{
    ViewData["Title"] = "Submission Admin - List Video Viles";
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Submission Admin - Rename Video Files</h1>
<hr />
<h2 class="color-primary">@Model.Conference.ConferenceLongName</h2>
<hr />
<div>

    <hr />
    @if (Model.VirtualMaterialViewModels.Count > 0)
    {
        <h3>Displaying video files @Model.startFile through @Model.endFile</h3>
        <p><span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
            <a class="card-link" asp-controller="SubmissionAdmin" asp-action="ListVideoFiles" 
               asp-route-conferenceId="@Model.Conference.ConferenceId" asp-route-startFile="@(Model.startFile + 5)"
               asp-route-endFile="@(Model.endFile + 5)">List Next 5</a>
        </span></p>
        <table class="display" id="virtualMaterialsTable" style="width:100%;">
            <thead>
                <tr>
                    <th>Sub Id</th>
                    <th>File Name</th>
                    <th>Material Type</th>
                    <th>Dropbox File</th>
                    <th>Rename File</th>
                </tr>
            </thead>
            @foreach (var virtualMaterialViewModel in Model.VirtualMaterialViewModels)
            {
                <tr>
                    <td>@virtualMaterialViewModel.VirtualMaterial.SubmissionId</td>
                    <td>
                        @virtualMaterialViewModel.VirtualMaterial.MaterialValue
                    </td>
                    <td>@virtualMaterialViewModel.VirtualMaterial.MaterialType</td>
                    <td>@virtualMaterialViewModel.DropboxFile.Name</td>
                    <td>
                        <a class="card-link" asp-controller="SubmissionAdmin" asp-action="RenameDropboxFileAction"
                           asp-route-submissionId="@virtualMaterialViewModel.VirtualMaterial.SubmissionId" asp-route-conferenceId="@Model.Conference.ConferenceId" 
                           asp-route-startFile="@Model.startFile" asp-route-endFile="@Model.endFile">Rename Video File</a>
                    </td>
                </tr>

            }

        </table>
    }
    else
    {
        <p>There are no video files for this conference.</p>
    }
</div>
@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "virtualMaterialsTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}

