﻿@model  ConferenceSubmission.ViewModels.SubmissionsByCategoryForConferenceViewModel

<h3>Conference CFP End Date: @Model.ConferenceCFPEndDate</h3>
<table cellpadding="5">
    <tr>
        <th>Category</th><th>Incomplete</th><th>Completed</th><th>Accepted</th><th>Rejected</th><th>Cancelled</th><th>Withdrawn</th><th>Total Submissions</th><th>Paid For</th>
    </tr>

    @foreach(var category in Model.SubmissionsForCategories) {

        <tr>
            <td>@category.category</td>
            <td align="center">@category.submissionsNotFinished</td>
            <td align="center">@category.submissionsCompleted</td>
            <td align="center">@category.submissionsAccepted</td>
            <td align="center">@category.submissionsRejected</td>
            <td align="center">@category.submissionsCancelled</td>
            <td align="center">@category.submissionsWithdrawn</td>
            <td align="center">@category.totalSubmissions</td>
            <td align="center">@category.submissionsPaidFor</td>
        </tr>
    }

</table>

<p style="font-size:.8em;font-style:italic">Accepted submissions are by original submission category and do not include
    submissions accepted in a different category. This is done to keep submission category totals understandable.<br />
After a conference has gone through the accept/reject process the total submissions should equal
    accepted + rejected + cancelled + withdrawn.  If it does not then we have some incomplete or
    complete submissions that were not given their final status.</p>