﻿@model ConferenceSubmission.ViewModels.ParticipantsAddedOrRemovedReportViewModel

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Submissions Added or Removed Report</h1>
<hr />
<div class="mar-bot-20" style="display:none" id="conferencSelectionContainer">
    <a href="javascript:void(0)" onclick="toggleInputDisplay()"><i id="toggleInputDisplayIcon" class="fas fa-eye fa-lg"></i><span class="mar-left-3">Show Conferences</span></a>
</div>
<div id="inputsContainer" class="mar-bot-30">
    <div class="form-group col-md-6">
        <label for="exampleFormControlSelect1">Select a Conference</label>
        <select class="form-control" id="conferenceSelect">
            <option value="">Select a Conference</option>
            @foreach (var conferenceEntity in Model.ConferencesByNameAndId)
            {
                <option value="@conferenceEntity.EntityId">@conferenceEntity.EntityName</option>
            }
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="exampleFormControlSelect1">As of Date</label>
        <input class="form-control" type="date" id="asOfDateInput" />
    </div>
    <div class="form-group col-md-6">
        <a class="btn btn-primary" href="javascript:void(0)" onclick="loadReportForConference()">Run Report</a>
    </div>
    <div class="form-group col-md-6 mar-bot-30 mar-top-30">
        <hr />
    </div>
</div>

<div id="participantsAddedOrRemovedTableContainer" style="display:none">
    <div class="form-group">
        <table class="display mar-top-15" id="participantsAddedOrRemovedTable" style="width:100%;">
            <thead>
                <tr>
                    <th data-priority="2">Session</th>
                    <th data-priority="3">Title</th>
                    <th data-priority="1">Participants</th>
                    <th data-priority="4">Submission Id</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles{
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' />
    <link rel='stylesheet' href='https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css' />
}


@section scripts{
    <script src="~/js/ParticipantsAddedOrRemovedReport.js"></script>
    <script src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js' crossorigin='anonymous'></script>
    <script src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js' crossorigin='anonymous'></script>
    <script src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js' crossorigin='anonymous'></script>
    <script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js' crossorigin='anonymous'></script>
    <script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js' crossorigin='anonymous'></script>
    <script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js' crossorigin='anonymous'></script>
}
