﻿@model ConferenceSubmission.ViewModels.RegistrationReportsConferenceSelectorViewModel

<hr />
<div id="conferencesContainer">
    <div class="row">
        <div class="col-md-6">
            @if (Model.Conferences.Count > 0)
            {
                <div class="form-group">
                    <label>Conferences</label>
                    <select class="form-control" id="conferenceSelector">
                        @for (int i = 0; i < Model.Conferences.Count; i++)
                        {
                            if (i == 0)
                            {
                                <option selected value="@Model.Conferences[i].EntityId">@Model.Conferences[i].EntityName</option>
                            }
                            else
                            {
                                <option value="@Model.Conferences[i].EntityId">@Model.Conferences[i].EntityName</option>
                            }
                        }
                    </select>
                </div>
            }
            else
            {
                <p class="cat-info-md text-red mar-top-35">No conferences exist in Conference Admin for this year.</p>
            }
        </div>
        <div class="col-md-6">
            @if (Model.SalesforceEvents.Count > 0)
            {
                <div class="form-group">
                    <label>Events</label>
                    <select class="form-control" id="eventSelector">
                        @for (int i = 0; i < Model.SalesforceEvents.Count; i++)
                        {
                            if (i == 0)
                            {
                                <option selected value="@Model.SalesforceEvents[i].EventId">@Model.SalesforceEvents[i].EventName</option>
                            }
                            else
                            {
                                <option value="@Model.SalesforceEvents[i].EventId">@Model.SalesforceEvents[i].EventName</option>
                            }
                        }
                    </select>
                </div>
            }
            else
            {
                <p class="cat-info-md text-red mar-top-35">No events exist in Salesforce for this year.</p>
            }
        </div>
    </div>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary" onclick="loadReport()">Load Report</button>
        <div class="btn-group show" role="group">
            <button style="background-color:#1D417B;" type="button" id="btnGroupDrop1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="position: absolute; transform: translate3d(0px, 45px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                <a class="dropdown-item" href="javascript:void(0)" onclick="selectSessionsWithNoRegistrations()"><span id="sessionsWithNoRegistrationsCheck" class="mar-right-3"><i class="fas fa-check color-green"></i></span>Sessions with no registered presenters</a>
                <a class="dropdown-item" href="javascript:void(0)" onclick="selectAllSessionsWithUnregisteredPresenters()"><span style="display:none;" id="allSessionsWithUnregisteredPresentersCheck" class="mar-right-3"><i class="fas fa-check color-green"></i></span>All sessions with unregistered presenters</a>
                <a class="dropdown-item" href="javascript:void(0)" onclick="selectAllSessionsPresentersRegistered()"><span style="display:none;" id="allSessionsPresentersRegisteredCheck" class="mar-right-3"><i class="fas fa-check color-green"></i></span>All sessions with number of registered and unregistered presenters</a>
            </div>
        </div>
    </div>

</div>
