﻿@{
    ViewData["Title"] = $"Conference Registrations";
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h2 class="text-primary mar-top-10">Conference Registration</h2>
<hr />
<div id="dateRangeSelector">
    <div class="row">
        <div class="col-lg-2 col-md-3">
            <div class="form-group">
                <label>Year</label>
                <select class="form-control" id="yearInput" onchange="loadConferences()">
                    @for (int i = DateTime.Now.Year - 10; i < DateTime.Now.Year + 3; i++)
                    {
                        if (i == DateTime.Now.Year)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div id="loadingConferences" style="display:none">
    <div class='text-primary text-16'><i class='fas fa-spinner fa-spin'></i><span class="mar-left-5">Loading conferences...</span></div>
</div>
<div id="conferenceSelectorContainer" style="display:none">

</div>

@section Scripts{
    <script src="~/js/registrationReports.js"></script>
}