﻿
@{
    ViewData["Title"] = "Submission Admin - Send Incomplete Submission Reminder Emails";
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Submission Admin - Send Incomplete Submission Reminder Emails</h1>
<hr />

<div>
    @if(ViewBag.success != null)
    {
        <p>Incomplete submission reminder emails are being sent for @ViewBag.conference.</p>
    }
    else
    {
        <p>There is a problem sending the incomplete reminder emails for @ViewBag.conference.  Check the Azure Function App logs.</p>
    }
</div>

