﻿@model ConferenceSubmission.ViewModels.SessionsWithNoRegistrationsReportViewModel

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h2 class="text-primary mar-top-10">Sessions With No Registered Presenters</h2>
<hr />
<p class="text-16 mar-bot-1"><span class="font-weight-bold">Event:</span> <span class="text-black-70">@Model.EventName</span></p>
<p class="text-16 mar-bot-25"><span class="font-weight-bold">Conference:</span> <span class="text-black-70">@Model.ConferenceName</span></p>

<div>

    @if (Model.SessionsWithNoRegistrations.Count > 0)
    {
        <table class="display" id="sessionsWithNoRegistrationsTable" style="width:100%;">
            <thead>
                <tr>
                    <th>Session</th>
                    <th>Sub Id</th>
                    <th>Title</th>
                    <th>Submitter</th>
                    <th>Submitter Email</th>
                    <th>Lead Presenter</th>
                    <th>Lead Presenter Email</th>
                </tr>
            </thead>
            @foreach (var session in Model.SessionsWithNoRegistrations)
            {
                <tr>
                    <td>@session.SessionCode</td>
                    <td>
                        <a asp-controller="SubmissionAdmin" asp-action="ViewSubmission" asp-route-submissionId="@session.SubmissionId" target="_blank">@session.SubmissionId</a>
                    </td>
                    <td>@session.SubmissionTitle</td>
                    <td>@session.SubmitterFullName</td>
                    <td>@session.SubmitterEmail</td>
                    <td>@session.LeadPresenterFullName</td>
                    <td>@session.LeadPresenterEmail</td>
                </tr>

            }

        </table>
    }
    else
    {
        <p>There are no sessions with no registrations.</p>
    }
</div>

@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "sessionsWithNoRegistrationsTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}