﻿@model List<int>;

@{
    ViewData["Title"] = $"Submissions With Participant Order Modified";
}
<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h2 class="text-primary mar-top-10">Submissions with participant order modified.</h2>
<hr />

@foreach (var submissionId in Model)
{
    <p>@submissionId | <a asp-controller="SubmissionAdmin" asp-action="ViewSubmission" asp-route-submissionId="@submissionId" target="_blank">View Submission</a></p>
}