﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
@using ConferenceSubmission.Extensions

@{
    ViewData["Title"] = $"Submission: {Model.SubmissionId}";
}

<h1 class="text-primary">Submission Status Updated and Email Sent To Presenters</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>

    <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.SubmissionCategoryName, AcceptedCategory = Model.SubmissionAcceptedCategoryName }" />

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>

    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>

    <p class="cat-name-md">Submission Status: <span class="cat-info @(Model.SubmissionStatus == SubmissionStatusType.ACCEPTED ? "text-green" : "text-red")">@Model.SubmissionStatus.GetDescription()</span></p>

</div>
<div class="mar-bot-20">
    <h3 class="mar-bot-5">Participants</h3>
    <hr class="hr-sm" />
    @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
    {
        <p class="mar-bot-4"><span class="cat-info-lg mar-right-5">@($"{presenter.FirstName} {presenter.LastName}")</span><span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span></p>
    }
</div>





