﻿@model ConferenceSubmission.ViewModels.UpdatePresenterOrderViewModel

@{
    ViewData["Title"] = "Update Participant Order";
}

@(await Html.PartialAsync("UpdatePresenterOrderPartial", Model))

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/js/updatePresenterOrder.js"></script>
}

@section Styles{
    <link href="~/css/updatePresenterOrder.css" rel="stylesheet" />
}