﻿@model ConferenceSubmission.ViewModels.SubmissionAdminSubmissionsByConferenceViewModel
@{
    ViewData["Title"] = "Submission Admin - View Number of Submissions";
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Submission Admin - View Number of Submissions</h1>
<hr />

<p>Select the conference to view the number of submissions by category for that conference.</p>

<form asp-action="DisplayNumberOfSubmissionsByCategory" asp-controller="SubmissionAdmin">

    <div class="form-group">

        <label for="conference">
            Select Conference
        </label>
        <select class="form-control" name="conference" id="conference">
            <option value="0">Select Conference</option>
            @foreach (var conference in @Model.ConferenceViewModels)
            {
                <option value="@conference.ConferenceId">@conference.ConferenceShortName</option>
            }
        </select>
    </div>

</form>

<br />
<br />

<div id="categories"> </div>

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />

}
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js" crossorigin="anonymous"></script>

    <script src="~/js/categories.js"></script>

}


