﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAnswersViewModel
@using ConferenceSubmission.Extensions

@{
    ViewData["Title"] = $"View Submission: {Model.SubmissionId}";

    var acceptedSubmissionStatuses = new List<SubmissionStatusType> { SubmissionStatusType.ACCEPTED, SubmissionStatusType.PENDING, SubmissionStatusType.WILL_PRESENT_AT_VIRTUAL_CONFERENCE };
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Submission Details (<a asp-controller="Submission" asp-action="EditSubmissionBaseDetails" asp-route-SubmissionId="@Model.SubmissionId">  Edit</a> )</h1>
<hr />
@await Html.PartialAsync("AuditLogs", new AuditLogsViewModel() { EntityId = Model.SubmissionId, EntityType = EntityType.Submission })

<div class="row">
    <div class="col-lg-7">
        <div class="card mb-3">
            <h3 class="card-header">Submission Metadata</h3>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="cat-name-md">
                            Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span>
                            @if (Model.ConferenceVirtual)
                            {
                                <span><b>(Virtual Conference)</b></span>
                            }
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">Submitted Category: <span class="cat-info-md">@Model.SubmissionCategoryName</span></p>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">
                            Accepted Category: <span class="cat-info-md">@Model.SubmissionAcceptedCategoryName</span>

                            @if (acceptedSubmissionStatuses.Contains(Model.SubmissionStatus))
                            {
                                <a href="javascript:void(0)" class="mar-left-10" onclick="showChangeCategoryDialog()"> <i class="fas fa-edit" aria-hidden="true"></i> Change Category</a>
                            }
                        </p>
                        <div id="changeSubmissionCategoryContainer" style="display:none;" class="mar-left-15 mar-bot-15">
                            <div class="form-group mar-bot-10">
                                <label>Select a new accepted category</label>
                                <select id="submissionCategorySelect" asp-items="@Model.SubmissionCategories" class="form-control max-width-60-md" onchange="submissionCategoryChanged()">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div id="changeCategoryLinksContainer" style="display:none;">
                                <a id="updateCategoryLink" class="text-green" href="/SubmissionAdmin/ChangeSubmissionAcceptedCategory?submissionId=@Model.SubmissionId&acceptedCategoryId="> <i class="fas fa-check-square" style="font-size: 2em;"></i></a>
                                <a class="text-red mar-left-10" href="javascript:void(0)" onclick="cancelChangeCategory()"><i class="fas fa-window-close" style="font-size:2em;"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">Submission Completed: <span class="cat-info @(Model.SubmissionCompleted ? "text-green" : "text-red")">@Model.SubmissionCompleted</span></p>
                    </li>
                    <li class="list-group-item">
                        <p class="cat-name-md">
                            Submission Status: <span class="cat-info-md">@Model.SubmissionStatus</span>  <a href="javascript:void(0)" class="mar-left-10" onclick="showChangeStatusDialog()"> <i class="fas fa-edit" aria-hidden="true"></i> Change Status</a> &nbsp;&nbsp;
                            @if (Model.SubmissionStatus == SubmissionStatusType.ACCEPTED)
                            {
                                <a asp-controller="SubmissionStatus" asp-action="GetAcceptedEmail" asp-route-SubmissionId="@Model.SubmissionId">Get Accept Email</a>
                            }
                        </p>
                        <div id="changeSubmissionStatusContainer" style="display:none;" class="mar-left-15 mar-bot-15">
                            <div class="form-group mar-bot-10">
                                <label>Select a submission status</label>
                                <select id="submissionStatusSelect" asp-items="@Model.SubmissionStatusTypes()" class="form-control max-width-60-md" onchange="submissionStatusChanged()">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div id="changeStatusLinksContainer" style="display:none;">
                                <a id="updateStatusLink" class="text-green" href="/SubmissionAdmin/ChangeSubmissionStatus?submissionId=@Model.SubmissionId&submissionStatusType="> <i class="fas fa-check-square" style="font-size: 2em;"></i></a>
                                <a class="text-red mar-left-10" href="javascript:void(0)" onclick="cancelChangeStatus()"><i class="fas fa-window-close" style="font-size:2em;"></i></a>
                            </div>
                        </div>

                    </li>
                    @if (Model.VirtualMaterials.Count > 0)
                    {
                        <li class="list-group-item">
                            <p class="cat-name-md">Uploaded Files:</p>
                            @foreach (var file in Model.VirtualMaterials)
                            {
                                <p class="cat-name-md mar-left-10">
                                    <span class="badge badge-primary pad-5 text-12">@file.MaterialType</span>
                                    @if (file.MaterialType.ToLower() == "link")
                                    {
                                        <span class="cat-info-md"><a target="_blank" href="@file.MaterialValue">@file.MaterialValue</a></span>
                                    }
                                    else
                                    {
                                        <span class="cat-info-md">@file.MaterialValue</span>
                                    }
                                </p>
                            }
                        </li>
                    }
                    @if (Model.SubmissionPresentationMethods.Count > 0)
                    {
                        <li class="list-group-item">
                            <p class="cat-name-md">Submission Presentation Methods:</p>
                            <ol class="cat-name-md mar-left-10">
                                @foreach (var submissionPresentationMethod in Model.SubmissionPresentationMethods)
                                {

                                    <li>
                                        <p>
                                            <span class="cat-info-md">Presentation Method: @submissionPresentationMethod.PresentationMethod.PresentationMethodName.GetDescription() - Status: @submissionPresentationMethod.PresentationStatus.PresentationStatusName.GetDescription()</span> 
                                                @if (submissionPresentationMethod.PresentationMethod.PresentationMethodName == PresentationMethodType.RECORDED_ONLINE)
                                                {
                                                    <span>
                                                        <a href="javascript:void(0)" class="mar-left-10" onclick="showChangePresentationMethodStatusDialog()">
                                                            <i class="fas fa-edit" aria-hidden="true"></i> Change Status
                                                        </a>
                                                    </span>
                                                }
                                        </p>

                                        <div id="changePresentationMethodStatusContainer" style="display:none;" class="mar-left-15 mar-bot-15">
                                            <div class="form-group mar-bot-10">
                                                <label>Select a presentation method status</label>
                                                <select id="presentationMethodStatusSelect" asp-items="@Model.PresentationMethodStatusTypes()" class="form-control max-width-60-md" onchange="presentationMethodStatusChanged()">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <div id="changePresentationMethodStatusLinksContainer" style="display:none;">
                                                <a id="updatePresentationMethodStatusLink" class="text-green" href="/SubmissionAdmin/ChangeSubmissionVirtualStatus?submissionId=@Model.SubmissionId&presentationStatusType="> <i class="fas fa-check-square" style="font-size: 2em;"></i></a>
                                                <a class="text-red mar-left-10" href="javascript:void(0)" onclick="cancelChangePresentationMethodStatus()"><i class="fas fa-window-close" style="font-size:2em;"></i></a>
                                            </div>
                                        </div>

                                    </li>

                                }
                            </ol>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card mb-3">
            <h3 class="card-header">Session  Data</h3>
            @if (string.IsNullOrWhiteSpace(Model.sessionCode) || Model.CanAddConferenceSession(PresentationMethodType.LIVE_ONLINE) || Model.CanAddConferenceSession(PresentationMethodType.RECORDED_ONLINE))
            {
                <div class="card-body">
                    @if (string.IsNullOrWhiteSpace(Model.sessionCode))
                    {
                        <p class="cat-name-md"><a class="mar-left-10" href="/SessionAdmin/SessionDataStart"> <i class="fas fa-plus-square" aria-hidden="true"></i> Create Live In-Person Session</a></p>
                    }
                    @if (Model.CanAddConferenceSession(PresentationMethodType.LIVE_ONLINE))
                    {
                        <p class="cat-name-md"><a class="mar-left-10" href="/SessionAdmin/VirtualSessionDataStart?submissionId=@Model.SubmissionId&presentationMethodType=@PresentationMethodType.LIVE_ONLINE"> <i class="fas fa-plus-square" aria-hidden="true"></i> Create Live Online Session</a></p>
                    }
                    @if (Model.CanAddConferenceSession(PresentationMethodType.RECORDED_ONLINE))
                    {
                        <p class="cat-name-md"><a class="mar-left-10" href="/SessionAdmin/VirtualSessionDataStart?submissionId=@Model.SubmissionId&presentationMethodType=@PresentationMethodType.RECORDED_ONLINE"> <i class="fas fa-plus-square" aria-hidden="true"></i> Create Recorded Online Session</a></p>
                    }
                </div>
            }
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.sessionCode))
        {
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    @if (Model.sessionPresentationMethod != null)
                    {
                        <h3 class="card-title"><span class="badge badge-primary p-2">@(Model.sessionPresentationMethod.PresentationMethod.PresentationMethodName.GetDescription())</span></h3>
                    }
                    <p class="card-text mb-1 font-size-point85rem"><a href="/SessionAdmin/SessionDataInput?submissionId=@Model.SubmissionId"> <i class="fas fa-edit" aria-hidden="true"></i> Edit Session</a></p>
                    <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Code: </span>@Model.sessionCode</p>
                    <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Date: </span>@Model.sessionStartDatetime.Date.ToString("dddd, dd MMMM yyyy")</p>
                    <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Time: </span>@Model.sessionStartDatetime.ToString("h:mm tt") - @Model.sessionEndDatetime.ToString("h:mm tt")</p>
                    <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Location: </span>@Model.sessionLocation</p>
                    <p class="card-text font-size-point85rem"><span class="font-weight-bold">Session Track: </span>@Model.sessionTrack</p>
                </div>
            </div>
        }
        @if (Model.VirtualConferenceSessions.Count > 0)
        {
            @foreach (var virtualConferenceSession in Model.VirtualConferenceSessions)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title"><span class="badge badge-primary p-2">@(virtualConferenceSession.SubmissionPresentationMethod.PresentationMethod.PresentationMethodName.GetDescription())</span></h3>
                        <p class="card-text mb-1 font-size-point85rem"><a href="/SessionAdmin/EditVirtualSession?virtualConferenceSessionId=@virtualConferenceSession.VirtualConferenceSessionId"> <i class="fas fa-edit" aria-hidden="true"></i> Edit Session</a></p>
                        <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Code: </span>@virtualConferenceSession.SessionCode</p>
                        @if (virtualConferenceSession.SubmissionPresentationMethod.PresentationMethod.PresentationMethodName == PresentationMethodType.LIVE_ONLINE)
                        {
                            <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Date: </span>@virtualConferenceSession.SessionStartDateTime.Date.ToString("dddd, dd MMMM yyyy")</p>
                            <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Time: </span>@virtualConferenceSession.SessionStartDateTime.ToString("h:mm tt") - @virtualConferenceSession.SessionEndDateTime.ToString("h:mm tt")</p>
                        }
                        else
                        {
                            <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Start Date: </span>@virtualConferenceSession.SessionStartDateTime.Date.ToString("dddd, dd MMMM yyyy") @virtualConferenceSession.SessionStartDateTime.ToString("h:mm tt")</p>
                            <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session End Date: </span>@virtualConferenceSession.SessionEndDateTime.Date.ToString("dddd, dd MMMM yyyy") @virtualConferenceSession.SessionEndDateTime.ToString("h:mm tt")</p>
                        }
                        <p class="card-text mb-1 font-size-point85rem"><span class="font-weight-bold">Session Track: </span>@virtualConferenceSession.SessionTrack</p>
                        <p class="card-text font-size-point85rem"><span class="font-weight-bold">Presentation Status: </span>@(virtualConferenceSession?.SubmissionPresentationMethod?.PresentationStatus?.PresentationStatusName.GetDescription() ?? "")</p>
                    </div>
                </div>
            }
        }
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <h3 class="card-header">Participants</h3>
            <div class="card-body">
                <ul class="list-group list-group-flush">

                    @if (Model.Presenters.Count > 1)
                    {
                        <li class="list-group-item">
                            <div class="mar-bot-5">
                                <a class="btn btn-outline-primary" asp-controller="SubmissionAdmin" asp-action="UpdatePresenterOrder" asp-route-submissionId="@Model.SubmissionId"><i class="fas fa-sort"></i> Update Participant Order</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-outline-primary" asp-controller="SubmissionAdmin" asp-action="ViewSubmissionDisclosures" asp-route-submissionId="@Model.SubmissionId"> View Disclosures</a>
                            </div>
                        </li>
                    } else {

                        <li class="list-group-item">
                            <div class="mar-bot-5">
                                <a class="btn btn-outline-primary" asp-controller="SubmissionAdmin" asp-action="ViewSubmissionDisclosures" asp-route-submissionId="@Model.SubmissionId"> View Disclosure</a>
                            </div>
                        </li>
                    }

                    @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
                    {
                        <li class="list-group-item">
                            <div id="participant-@presenter.SubmissionParticipantId-container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-8">
                                        <span class="cat-info-lg mar-right-5">
                                            @if (!string.IsNullOrWhiteSpace(presenter.Email))
                                            {
                                                <a href="mailto:@presenter.Email">@presenter.FullName</a>
                                            }
                                            else
                                            {
                                                @($"{presenter.FullName}")
                                            }
                                        </span>&nbsp;
                                        <span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span>
                                        <span>(@presenter.SortOrder)</span>
                                    </div>
                                    <div class="col-md-6 col-sm-4">
                                        <a href="javascript:void(0)" class="mar-left-10" onclick="toggleShowHideEditParticipantDialog(@presenter.SubmissionParticipantId)"> <i class="fas fa-edit" aria-hidden="true"></i> Edit Participant</a>
                                    </div>
                                </div>
                                <div class="editParticipantContainer p-3 mar-top-15" id="editParticipant-@presenter.SubmissionParticipantId-container" style="display:none;background-color:#f8f8f8;">
                                    <div class="mar-top-10">
                                        <h5 class="color-primary"><a onclick="toggleRemoveParticipantContainer(@presenter.SubmissionParticipantId)" href="javascript:void(0)">Remove @presenter.FullName from this submission</a></h5>
                                        <div class="mar-left-5 removeParticipantContainer" id="removeParticipantContainer-@presenter.SubmissionParticipantId" style="display:none;">
                                            <a class="text-green actionLink" href="/SubmissionAdmin/RemoveSubmissionParticipant?submissionParticipantId=@presenter.SubmissionParticipantId&submissionId=@Model.SubmissionId"> <i class="fas fa-check-square" style="font-size: 1.5em;"></i></a>
                                            <a class="text-red mar-left-10 cancelLink" href="javascript:void(0)" onclick="toggleRemoveParticipantContainer(@presenter.SubmissionParticipantId)"><i class="fas fa-window-close" style="font-size:1.5em;"></i></a>
                                        </div>
                                        <hr />
                                    </div>
                                    <div class="mar-top-10">
                                        <h5 class="color-primary">Assigned Roles</h5>
                                        @foreach (var roleLink in presenter.SubmissionParticipantToParticipantRolesLink)
                                        {
                                            <div class="row">
                                                <div class="col-sm-6 col-md-4 col-lg-3">
                                                    <p class="mar-left-5">@roleLink.ParticipantRole.ParticipantRoleName</p>
                                                </div>
                                                <div class="col-sm-6 col-md-4 col-lg-9">
                                                    <a href="javascript:void(0)" onclick="toggleVerifyRemoveRoleContainer(@presenter.SubmissionParticipantId, @roleLink.ParticipantRole.ParticipantRoleId)" class="mar-left-10">Remove Role</a>
                                                    <div class="mar-bot-15 mar-top-5 mar-left-15 verifyRemoveRoleContainer" id="verifyRemoveRoleContainer-@presenter.SubmissionParticipantId-@roleLink.ParticipantRole.ParticipantRoleId" style="display:none">
                                                        <a class="text-green actionLink" href="/SubmissionAdmin/RemoveParticipantRole?submissionParticipantToParticipantRoleId=@roleLink.SubmissionParticipantToParticipantRoleId&submissionId=@Model.SubmissionId"> <i class="fas fa-check-square" style="font-size: 1.2em;"></i></a>
                                                        <a class="text-red mar-left-10 cancelLink" href="javascript:void(0)" onclick="toggleVerifyRemoveRoleContainer(@presenter.SubmissionParticipantId, @roleLink.ParticipantRole.ParticipantRoleId)"><i class="fas fa-window-close" style="font-size:1.2em;"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                    <div class="mar-top-10">
                                        <h5 class="color-primary">Unassigned Roles</h5>
                                        @foreach (var participantRoleType in presenter.GetUnassignedParticipantRoleTypes())
                                        {
                                            <div class="row">
                                                <div class="col-sm-6 col-md-4 col-lg-3">
                                                    <p class="mar-left-5">@participantRoleType</p>
                                                </div>
                                                <div class="col-sm-6 col-md-4 col-lg-9">
                                                    <a href="javascript:void(0)" onclick="toggleVerifyAddRoleContainer(@presenter.SubmissionParticipantId, @((int)participantRoleType))" class="mar-left-10">Assign Role</a>
                                                    <div class="mar-bot-15 mar-top-5 mar-left-15 verifyAddRoleContainer" id="verifyAddRoleContainer-@presenter.SubmissionParticipantId-@((int)participantRoleType)" style="display:none">
                                                        <a class="text-green actionLink" href="/SubmissionAdmin/AddParticipantRole?participantRoleType=@participantRoleType&submissionParticipantId=@presenter.SubmissionParticipantId&submissionId=@Model.SubmissionId"> <i class="fas fa-check-square" style="font-size: 1.2em;"></i></a>
                                                        <a class="text-red mar-left-10 cancelLink" href="javascript:void(0)" onclick="toggleVerifyAddRoleContainer(@presenter.SubmissionParticipantId, @((int)participantRoleType))"><i class="fas fa-window-close" style="font-size:1.2em;"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mar-bot-20 mar-top-20">
    <h3 class="mar-bot-5">Submission Abstract</h3>
    <hr class="hr-sm" />
    <p class="text-14">@Html.Raw(Model.SubmissionAbstract.ReplaceLineBreaksWithBreakTags())</p>
</div>

@if (Model.SubmissionFormFields.Count > 0)
{
    <div class="mar-bot-20">
        <h3 class="mar-bot-5">Submission Proposal Questions</h3>
        <hr class="hr-sm" />
        @foreach (var submissionFormField in Model.SubmissionFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
        {
            string question = submissionFormField.FormField.GetPropertyValue("label");
            if (!question.Equals(""))
            {
                <div class="mar-bot-15">
                    <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
                    @if (submissionFormField.FormField.FormFieldType.ToLower() == "textarea")
                    {
                        <p class="cat-name-sm">Response:</p>
                        <p class="cat-info-sm">@Html.Raw(submissionFormField.SubmissionFormFieldValue.ReplaceLineBreaksWithBreakTags())</p>
                    }
                    else
                    {
                        <p class="cat-name-sm">Response: <span class="cat-info-sm">@submissionFormField.SubmissionFormFieldValue</span></p>
                    }
                </div>
            }
        }
    </div>
}

<a class="btn btn-primary mar-bot-20" asp-controller="Submission" asp-action="PrintPdf" asp-route-submissionId="@Model.SubmissionId"><i class="glyphicon glyphicon-download-alt"></i> <i class="fas fa-file-download"></i> <span class="mar-left-4">Download Pdf</span></a>

@if (Model.SubmissionPaymentRequirement != SubmissionPaymentRequirement.NONE)
{
    <div class="mar-bot-20">
        <h3 class="mar-bot-5">Submission Payment</h3>
        <hr class="hr-sm" />
        <p class="cat-name-sm mar-bot-1">Submission Fee: <span class="cat-info-sm">$@Model.SubmissionFee</span></p>
        @if (Model.SubmissionPaymentAmountPaid != Model.SubmissionFee)
        {
            <p class="cat-name-sm mar-bot-1">Amount due: <span class="cat-info-sm">$@Model.SubmissionFee</span></p>
            <a asp-controller="Payment" asp-action="Index" asp-route-submissionId="@Model.SubmissionId" class="text-16"><i class="far fa-credit-card"></i> Make Payment</a>
        }
        else
        {
            <p class="cat-name-sm mar-bot-1">Amount paid: <span class="cat-info-sm">$@Model.SubmissionPaymentAmountPaid</span></p>
            <p class="cat-name-sm mar-bot-1"><a class="card-link" asp-controller="Payment" asp-action="ViewPayment" asp-route-submissionId="@Model.SubmissionId"> <i class="fas fa-eye" aria-hidden="true"></i> View Receipt</a></p>
        }
    </div>

}

@section scripts {
    <script src="~/js/SubmissionAdminViewSubmission.js"></script>
}


