﻿@model ConferenceSubmission.ViewModels.SubmissionsForConferenceViewModel
@{
    ViewData["Title"] = "Submission For Conference";
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Submissions For @Model.Conference.ConferenceShortName</h1>
<hr />
@if (Model.ConferenceSubmissions.Count > 0)
{
    <table class="display" id="submissionsTable" style="width:100%;">
        <thead>
            <tr>
                <th data-priority="1">Sub Id</th>
                <th data-priority="2">Sessions</th>
                <th data-priority="5">Title</th>
                <th data-priority="6">Accepted Category</th>
                <th data-priority="3">Status</th>
                <th date-priority="4">Participants</th>
            </tr>
        </thead>
        @foreach (Submission submission in Model.ConferenceSubmissions)
        {

            <tr>
                <td>@submission.SubmissionId</td>

                <td>
                    @(submission?.ConferenceSession?.SessionCode ?? string.Empty)
                    @if (submission.VirtualConferenceSessions != null)
                    {
                        @foreach (VirtualConferenceSession virtualConferenceSession in submission.VirtualConferenceSessions)
                        {

                            <span> @virtualConferenceSession.SessionCode</span>

                        }
                    }
                </td>

                <td><a asp-controller="SubmissionAdmin" asp-action="ViewSubmission" asp-route-submissionId="@submission.SubmissionId" target="_blank">@submission.SubmissionTitle</a></td>

                <td>@submission.AcceptedCategory.SubmissionCategoryName</td>

                <td>@submission.SubmissionStatus.SubmissionStatusName.GetDescription()</td>

                <td>
                    @foreach (SubmissionParticipant participant in submission.ParticipantLink)
                    {

                        @if (participant.Participant.ParticipantUser != null)
                        {

                            @(participant.Participant.ParticipantUser.FirstName + " " + participant.Participant.ParticipantUser.LastName + " " + participant.Participant.ParticipantUser.Credentials)

                            <br />
                        }



                    }



                </td>

            </tr>


        }
    </table>
}
else
{
    <p>There are no submissions for this conference.</p>
}


@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "submissionsTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}
