﻿@model ConferenceSubmission.ViewModels.SubmissionWithProposalAndDisclosuresViewModel
@using ConferenceSubmission.Extensions

@{
    ViewData["Title"] = $"Submission: {Model.submissionWithProposalAnswersViewModel.SubmissionId}";
}

<h1 class="text-primary">Submission Disclosures</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.submissionWithProposalAnswersViewModel.ConferenceName)</span></p>

    <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.submissionWithProposalAnswersViewModel.SubmissionCategoryName, AcceptedCategory = Model.submissionWithProposalAnswersViewModel.SubmissionAcceptedCategoryName }" />

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.submissionWithProposalAnswersViewModel.SubmissionId</span></p>

    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.submissionWithProposalAnswersViewModel.SubmissionTitle</span></p>

    

</div>
<div class="mar-bot-20">
    <h3 class="mar-bot-5">Participants and Disclosures</h3>
    <hr class="hr-sm" />
    @foreach (var presenter in Model.submissionWithProposalAnswersViewModel.Presenters.OrderBy(p => p.SortOrder))
    {
<p class="mar-bot-20">
    <span class="cat-info-lg mar-right-5">@($"{presenter.FullName}")</span>&nbsp;<span class="badge badge-primary pad-5 text-12">@presenter.GetRolesAsStringPretty()</span> <br />

    <span style="font-style:italic">Disclosure Information:</span>
    @{ int indexValue = Model.disclosures.FindIndex(disclosure => disclosure.StfmUserId == presenter.Participant.StfmUserId);
        if (indexValue >= 0)
        {
            <span style="color:cadetblue">Financial Relationships: @Model.disclosures[indexValue].Part1Answer</span>
            if (Model.disclosures[indexValue].Part1Answer == "B")
            {
                <span style="color:red; font-weight:bold"> - @Model.disclosures[indexValue].Part2Answer</span>
            }
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span style="color:cadetblue">Unapproved Or Investigational Uses: @Model.disclosures[indexValue].Part3Answer</span>
            if (Model.disclosures[indexValue].Part3Answer == "B")
            {
                <span style="color:red; font-weight:bold"> - @Model.disclosures[indexValue].Part4Answer</span>
            }
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>

            <span style="color:cadetblue">Speakers' Bureau: @Model.disclosures[indexValue].Part5Answer</span>
            if (Model.disclosures[indexValue].Part5Answer == "B")
            {
                <span style="color:red; font-weight:bold"> - @Model.disclosures[indexValue].Part6Answer</span>
            }

            <span style="color:cadetblue">CV Filename: @Model.disclosures[indexValue].CvFilename</span>
        }
        else
        {
            <span style="color:red">No Disclosure Found</span>
        }
    }
</p>
    }
</div>




