﻿On@model ConferenceSubmission.ViewModels.SubmissionsForPersonViewModel
@{
    ViewData["Title"] = "Submission For Person";
}

<h3 class="text-primary">Submissions For @Model.User.GetFullNamePretty() - @Model.User.Email</h3>
<a class="card-link" asp-controller="SubmissionAdmin" asp-action="FindPeopleByLastName" asp-route-lastName="@Model.User.LastName"><i class="fas fa-plus-square" aria-hidden="true"></i>Back to Find People</a>
<a class="card-link" asp-controller="SubmissionAdmin" asp-action="Index"> <i class="fas fa-plus-square" aria-hidden="true"></i>Submission Admin Home</a>
<hr />

@if (Model.SubmissionSummaryViewModels.Count > 0)
{
    <table class="display" id="submissionsByPersonTable" style="width:100%;">
        <thead>
            <tr>
                <th data-priority="1">Sub Id</th>
                <th data-priority="5">Title</th>
                <th data-priority="2">Status</th>
                <th data-priority="3">Conference</th>
            </tr>
        </thead>
        @foreach (SubmissionSummaryViewModel submission in Model.SubmissionSummaryViewModels)
        {

            <tr>
                <td>@submission.SubmissionId</td>

                <td><a asp-controller="SubmissionAdmin" asp-action="ViewSubmission" asp-route-submissionId="@submission.SubmissionId" target="_blank">@submission.SubmissionTitle</a></td>

                <td>@submission.SubmissionStatusName</td>

                <td>@submission.ConferenceLongName</td>

            </tr>


        }
    </table>
}
else
{
    <p>There are no submissions for this person.</p>
}

@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "submissionsByPersonTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}
