﻿@model ConferenceSubmission.ViewModels.VirtualConferenceViewModel
@using ConferenceSubmission.Extensions

@{
    ViewData["Title"] = $"View Virtual Conference Data: {Model.Conference.ConferenceShortName}";
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<hr />

<div class="row">
    <div class="col-lg-auto">
        <div class="card m-lg-auto">
            <h3 class="card-header">Virtual Conference Information </h3>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="cat-name-md">
                            Conference:@Html.Raw(Model.Conference.ConferenceLongName)
                            @if (Model.Conference.ConferenceVirtual)
                            {
                                <span><b>(Virtual Conference)</b></span>
                            }
                            <br /> 
                            Dates: @String.Format("{0:MMM dd, yyyy}", Model.Conference.ConferenceStartDate) -  @String.Format("{0:MMM dd, yyyy}", Model.Conference.ConferenceEndDate) <br /> <br />
                        </p>

                        <p class="cat-name-md">
                            Poster and handouts blog container: @Model.VirtualConferenceData.BlobContainerName <br /> <br />
                            Video upload folder on Dropbox:  @Model.VirtualConferenceData.DropboxFolderName <br /> <br />
                            Upload URL for Dropbox: <a href="@Model.VirtualConferenceData.DropboxUploadUrl" target="_blank">@Model.VirtualConferenceData.DropboxUploadUrl</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
