﻿@model ConferenceSubmission.ViewModels.SubmissionsForConferenceViewModel
@{
    ViewData["Title"] = "Presenters For Conference";
}

<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Presenters For @Model.Conference.ConferenceShortName</h1>
<hr />
<div class="row">

    @if (Model.ConferenceSubmissions.Count > 0)
    {
        <table class="display" id="presentersTable" style="width:100%;">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th data-priority="2">Last Name</th>
                    <th>Credentials</th>
                    <th data-priority="1">Email Address</th>
                    <th data-priority="3">Sub Id</th>
                    <th data-priority="4">Session</th>
                    <th>Submitted Category</th>
                    <th>Accepted Category</th>
                    <th>Status</th>
                </tr>
            </thead>
            @foreach (Submission submission in Model.ConferenceSubmissions)
            {
                @foreach (SubmissionParticipant participant in submission.ParticipantLink)
                {

                    @if (participant.Participant.ParticipantUser != null)
                    {
                        <tr>
                            <td>@participant.Participant.ParticipantUser.FirstName </td>
                            <td>@participant.Participant.ParticipantUser.LastName </td>
                            <td>@participant.Participant.ParticipantUser.Credentials</td>
                            <td>@participant.Participant.ParticipantUser.Email</td>
                            <td>@submission.SubmissionId</td>
                            <td>@(submission?.ConferenceSession?.SessionCode ?? string.Empty)</td>
                            <td>@submission.SubmissionCategory.SubmissionCategoryName</td>
                            <td>@submission.AcceptedCategory.SubmissionCategoryName</td>
                            <td>@submission.SubmissionStatus.SubmissionStatusName.GetDescription()</td>
                        </tr>

                    }



                }




            }
        </table>
    }
    else
    {
        <p>There are no presenters for this conference.</p>
    }

</div>

@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "presentersTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}
