﻿@using ConferenceSubmission.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Conference Submission</title>

    <environment include="Development">
        <link href="~/css/materia.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/materia.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="app">
        <div class="navbar navbar-expand-xs navbar-expand-lg fixed-top navbar-light bg-primary pt-0 pb-0">
            <div class="container">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        @if (ViewData["Title"] != null && ViewData["Title"].ToString().Contains("CERA", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <a class="nav-link color-white" asp-action="Index" asp-controller="Cera">Home</a>
                        }
                        else
                        {
                            <a class="nav-link color-white" asp-action="Index" asp-controller="Home">Home</a>
                        }

                    </li>
                    <li class="nav-item">
                        @if (ViewData["Title"] != null && ViewData["Title"].ToString().Contains("CERA", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <a class="nav-link color-white" asp-action="Help" asp-controller="Cera">Help</a>
                        }
                        else
                        {
                            <a class="nav-link color-white" asp-controller="Home" asp-action="Help" target="_blank">Help</a>
                        }

                    </li>
                    <li class="nav-item">
                        <a class="nav-link top-bar-link" href="http://www.stfm.org" target="_blank">STFM</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar navbar-expand-lg fixed-top-main-nav navbar-light bg-white pad-top-5 pad-bot-5">
            <div class="container">
                <img src="~/images/STFM_logo.png" alt="STFM Logo image" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link cursor-default hover-none color-primary text-15">Welcome @(User.Claims.FirstOrDefault(c => c.Type == "urn:salesforce:username") == null ? "" : $"{User.Claims.FirstOrDefault(c => c.Type == "urn:salesforce:username").Value}!")</a>
                            </li>
                            <li class="nav-item"><a asp-controller="Authentication" asp-action="SignOut" class="nav-link color-link text-15"> <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Signout</a></li>

                        }
                    </ul>

                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
        </div>
        <footer class="footer">
            <div class="container pad-top-20 pad-bot-20">
                <p class="text-white text-center">
                    Copyright &copy; 2018-<script>document.write(new Date().getFullYear())</script> by <a href="http://www.stfm.org" target="_blank">Society of Teachers of Family Medicine</a>
                </p>
            </div>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/popper.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.charactercounter.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                asp-fallback-src="~/js/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                asp-fallback-src="~/js/popper.min.js"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.charactercounter.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @Html.RenderPartialViewScripts()
</body>
</html>
