﻿@model IEnumerable<ConferenceSubmission.Models.AuditLog>

<div class="row">
    <div class="col-lg-3 d-none d-lg-inline font-weight-bold"><p>Property</p></div>
    <div class="col-lg-2 d-none d-lg-inline font-weight-bold"><p>Old Value</p></div>
    <div class="col-lg-2 d-none d-lg-inline font-weight-bold"><p>New Value</p></div>
    <div class="col-lg-2 d-none d-lg-inline font-weight-bold"><p>Time</p></div>
    <div class="col-lg-3 d-none d-lg-inline font-weight-bold"><p>Changed By</p></div>
</div>

@foreach (var log in Model)
{
    <div class="row">
        <div class="col-lg-3"><p><span class="d-lg-none d-xl-none font-weight-bold">Property: </span>@log.PropertyName</p></div>
        <div class="col-lg-2"><p><span class="d-lg-none d-xl-none font-weight-bold">Old Value: </span>@log.OldValue</p></div>
        <div class="col-lg-2"><p><span class="d-lg-none d-xl-none font-weight-bold">New Value: </span>@log.NewValue</p></div>
        <div class="col-lg-2"><p><span class="d-lg-none d-xl-none font-weight-bold">Timestamp: </span>@log.TimeStamp.ToShortDateString() @log.TimeStamp.ToShortTimeString()</p></div>
        <div class="col-lg-3"><p><span class="d-lg-none d-xl-none font-weight-bold">Changed by: </span>@log.ChangedBy</p></div>
    </div>
    <hr class="d-lg-none d-xl-none" />
}
