﻿@model ConferenceSubmission.ViewModels.AuditLogsViewModel
@using ConferenceSubmission.Extensions

<div class="mar-bot-10">
    <div id="">
        <a href="javascript:void(0)" class="cat-info-sm" onclick="loadAuditLogs(@Model.EntityId, @((int) Model.EntityType))" data-toggle="modal" data-target="#auditLogsModal">
            <i class="fas fa-cog"></i> View Audit Logs
        </a>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="auditLogsModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Audit Logs</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="auditLogsModalBody">
                    Loading audit logs....
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.Script(
    "<script>"+
    "var loadAuditLogs = function(entityId,entityType){" + 
    "$.ajax({"+
    "url: '/AuditLog/GetAuditLogsByEntity?entityId=' + entityId + '&EntityType=' + entityType," +
    "dataType: 'html'," +
    "}).done(function (data) {" +
    "$('#auditLogsModalBody').html(data);" +
    "}).fail(function () {" +
    "$('#allAnnouncementsContainer').html('<h4 class=\"text-red\">Your request could not be processed at this time.</h4>');" + 
    "})" +
    "}" + 
    "</script>"
)
