﻿@model IEnumerable<ConferenceSubmission.DTOs.EntityByNameAndId>
<div class="row">
    <div class="form-group col-md-6">
        <label for="confernceCategorySelect">Category</label>
        <select class="form-control" id="confernceCategorySelect" onchange="loadForm()">
            <option value="">Select a Category</option>
            @foreach (var categoryEntity in Model)
            {
                <option value="@categoryEntity.EntityId">@categoryEntity.EntityName</option>
            }
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="formPreviewModeSelect">Preview Mode</label>
        <select class="form-control" id="formPreviewModeSelect" onchange="loadForm()">
            <option selected value="@ConferenceSubmission.ViewModels.FormPreviewMode.PROPOSAL">@ConferenceSubmission.ViewModels.FormPreviewMode.PROPOSAL</option>
            <option value="@ConferenceSubmission.ViewModels.FormPreviewMode.REVIEW">@ConferenceSubmission.ViewModels.FormPreviewMode.REVIEW</option>
        </select>
    </div>
</div>