﻿@model ConferenceSubmission.ViewModels.DataTableScriptsOptions
@using ConferenceSubmission.Extensions

@Html.Link(
    "<link rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' />" +
    (Model.IncludeDownloadAsCSVScripts ? "<link rel='stylesheet' href='https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css' />" : "")
    )

@Html.Script(
    "<script src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js' crossorigin='anonymous'></script>" +
    "<script src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js' crossorigin='anonymous'></script>" +
    (Model.IncludeDownloadAsCSVScripts ? "<script src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js' crossorigin='anonymous'></script>" : "") +
    (Model.IncludeDownloadAsCSVScripts ? "<script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js' crossorigin='anonymous'></script>" : "") +
    (Model.IncludeDownloadAsCSVScripts ? "<script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js' crossorigin='anonymous'></script>" : "") +
    (Model.IncludeDownloadAsCSVScripts ? "<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js' crossorigin='anonymous'></script>" : "") +
    (Model.IncludeDownloadAsCSVScripts ? "<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js' crossorigin='anonymous'></script>" : "") +
    (Model.IncludeDownloadAsCSVScripts ? "<script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js' crossorigin='anonymous'></script>" : "") +
    (Model.IncludeDownloadAsCSVScripts ? "<script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js' crossorigin='anonymous'></script>" : "")
    )