﻿@model ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel

@if (Model.AcceptedCategory != Model.SubmittedCategory)
{
    <p class="cat-name-md">Submitted Category: <span class="cat-info-md">@Model.SubmittedCategory</span></p>
    <p class="cat-name-md">Accepted Category: <span class="cat-info-md">@Model.AcceptedCategory</span></p>
}
else
{
    <p class="cat-name-md">Category: <span class="cat-info-md">@Model.AcceptedCategory</span></p>
}