﻿@model ConferenceSubmission.ViewModels.DisplayDisclosureStatusViewModel

@if (!Model.IsDisclosureCurrent)
{
    <div class="alert alert-danger">
        <p class="text-14 mar-bot-5">Your disclosure<strong> needs to be updated.</strong></p>
        <p class="mar-bot-5"><a class="text-14 color-link" href="https://www.stfm.org/media/1632/disclosurepolicy.pdf" target="_blank"><i class="fas fa-eye"></i> View STFM's full disclosure policy</a></p>
        <p class="mar-bot-0"><a asp-controller="Disclosure" asp-action="StartDisclosureProcess" asp-route-submissionId="-1" class="text-14 color-link"><i class="fas fa-pen"></i> Complete disclosure</a></p>
    </div>
}
else
{
    <div class="alert alert-success">
        <p class="text-14 mar-bot-5">Your disclosure is <strong>current.</strong></p>
        <p class="mar-bot-5"><a class="text-14 color-link" href="https://www.stfm.org/media/1632/disclosurepolicy.pdf" target="_blank"><i class="fas fa-eye"></i> View STFM's full disclosure policy</a></p>
        <p class="mar-bot-0"><a asp-controller="Disclosure" asp-action="StartDisclosureProcess" asp-route-submissionId="-1" class="text-14 color-link"><i class="fas fa-pen"></i> Update disclosure</a></p>
    </div>

}