﻿@model ConferenceSubmission.ViewModels.ExampleAddParticipantEmailViewModel
<p class="mar-bot-10">Copy the text in the blue box and email it to the presenter(s) that you want to include on this submission. This text contains all required information needed for the invitees to join the submission.</p>

<div class="alert alert-primary help-text" role="alert">
    <div>
        <p class="mar-bot-10">Please follow the link @Model.AddParticipantUrl to add yourself to the @Html.Raw(Model.ConferenceName) submission "@Model.SubmissionTitle".</p>
        <p class="mar-bot-10">If you do not have an account you will need to create one by clicking "Create a New Account" on the login page. Once the account is created re-visit @Model.AddParticipantUrl</p>
        <p class="mar-bot-5">Once logged in you will be directed to select your role of "Author", "Presenter" or "Lead Presenter" and complete a disclosure if it is not up to date.</p>

    </div>
</div>