﻿@model ConferenceSubmission.ViewModels.FormPreviewGeneratorViewModel
<hr>
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>
    <p class="cat-name-md">Category: <span class="cat-info-md">@Html.Raw(Model.CategoryName)</span></p>
    <p class="cat-name-md">Preview Mode: <span class="cat-info-md">@Html.Raw(Model.FormPreviewMode.ToString())</span></p>
</div>
<hr />

@if (Model.FormPreviewMode == FormPreviewMode.PROPOSAL)
{
    @if (!string.IsNullOrWhiteSpace(Model.CategoryInstructions))
    {
        <div class="form-group">
            @Html.Raw(Model.CategoryInstructions)
            <hr />
        </div>
    }
    <div class="form-group">
        <label for="submissionTitle">Title (125 characters including spaces - DO NOT use all capitals):</label>
        <input class="form-control" type="text" id="submissionTitle" disabled />
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.CategoryAbstractInstructions))
    {
        <div class="form-group">
            @Html.Raw(Model.CategoryAbstractInstructions)
        </div>
    }

    <div class="form-group">
        <label for="SubmissionAbstract">Abstract (@Model.CategoryAbstractMaxLength characters including spaces)</label>
        <textarea class="form-control" id="SubmissionAbstract" rows="8" disabled></textarea>
    </div>
    <hr class="mar-top-40 mar-bot-30" />
}

@* loop over the formField objects stored in the model and create HTML form elements for each one *@
@if (Model.FormFields.Count == 0)
{
    <div class="alert alert-primary help-text">
        <p class="text-14 mar-bot-5">The @Model.FormPreviewMode.ToString().ToLowerInvariant() form for category <strong>@Model.CategoryName</strong> has not been created.</p>
    </div>
}
@foreach (var formField in Model.FormFields)
{

    @switch (formField.FormFieldType)
    {
        case "text":
            <div class="form-group">
                @* we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                <label for="FIELD_@formField.FormFieldId">
                    @formField.GetPropertyValue("label")
                    @if (formField.AnswerRequired)
                    {<span style="color:red"><b>*</b></span>}
                    @if (!string.IsNullOrWhiteSpace(formField.GetPropertyValue("maxlength")))
                    {<span>(Character limit including spaces: @formField.GetPropertyValue("maxlength"))</span>}
                </label>
                <input disabled type="text" class="form-control" name="FIELD_@formField.FormFieldId" maxlength="@(formField.GetPropertyValue("maxlength"))">
            </div>
            break;

        case "textarea":
            <div class="form-group">
                @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                <label for="FIELD_@formField.FormFieldId">
                    @formField.GetPropertyValue("label")
                    @if (formField.AnswerRequired)
                    {<span style="color:red"><b>*</b></span>}
                    @if (!string.IsNullOrWhiteSpace(formField.GetPropertyValue("maxlength")))
                    {<span>(Character limit including spaces: @formField.GetPropertyValue("maxlength"))</span>}
                </label>
                <textarea disabled class="form-control" name="FIELD_@formField.FormFieldId" rows="10" cols="50" maxlength="@(formField.GetPropertyValue("maxlength"))"></textarea>
            </div>
            break;

        case "screentext":

            ////Get the text value for this screen text
            <p class="font-size-1rem">
                @Html.Raw(formField.GetPropertyValue("textvalue"))
            </p>
            break;

        case "checkbox":
            <div class="form-group">
                <div class="form-check">
                    <input disabled class="form-check-input" type="checkbox" name="FIELD_@formField.FormFieldId" value="@formField.GetPropertyValue("value")">
                    <label class="form-check-label font-size-1rem label-not-bold" for="inlineCheckbox1">@formField.GetPropertyValue("label")</label>
                </div>
            </div>
            break;

        case "select":
            <div class="form-group">
                @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                <label for="FIELD_@formField.FormFieldId">
                    @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                    {<span style="color:red"><b>*</b></span>}.
                </label>
                <select id="previewFormSelect-@formField.FormFieldId" onchange="previewFormSelectOnChange(@formField.FormFieldId)" class="form-control" name="FIELD_@formField.FormFieldId">
                    @foreach (var optionValue in formField.GetPropertyValue("options").Split('|').ToList<string>())
                    {
                        <option value="@optionValue">@optionValue</option>
                    }
                </select>
            </div>

            break;

        case "checkboxlist":
            <div class="form-group">
                @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                <label for="FIELD_@formField.FormFieldId">
                    @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                    {<span style="color:red"><b>*</b></span>}
                </label>
                @foreach (var optionValue in formField.GetPropertyValue("options").Split('|').ToList<string>())
                {
                    <div class="form-check">
                        <input disabled class="form-check-input" type="checkbox" name="FIELD_@formField.FormFieldId" value="@optionValue">
                        <label class="form-check-label font-size-1rem label-not-bold" for="inlineCheckbox1">@optionValue</label>
                    </div>
                }
            </div>
            break;

        case "ratingscale":
            <div class="form-group">
                @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                <label for="FIELD_@formField.FormFieldId">
                    @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                    {<span style="color: red"><b>*</b></span>}
                </label>
                <br />

                @foreach (var optionValue in formField.GetPropertyValue("options").Split('|').ToList<string>())
                {
                    <label class="radio-inline"><input disabled type="radio" name="FIELD_@formField.FormFieldId" value="@optionValue"> @optionValue &nbsp;&nbsp;&nbsp;</label>
                }
            </div>
            break;
    }
}