﻿@model ConferenceSubmission.ViewModels.UpdatePresenterOrderViewModel

<h1 class="color-primary">Update Participant Order</h1>
<hr />
<div class="mar-bot-15">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Model.ConferenceName</span></p>

    <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.SubmittedCategory, AcceptedCategory = Model.AcceptedCategory }" />

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>
    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="UpdatePresenterOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="SubmissionId" type="hidden" />
            <input asp-for="SubmissionParticipantIds" type="hidden" value="@Model.GetOrderedPresenterIdsAsCommaSeparatedList()" />
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <div id="presentersArea">
                        <h3 class="mar-bot-5">Presenters <small>(Drag to reorder)</small></h3>
                        <ul id="presentersList" class="list-group list-no-bullets">
                            @foreach (var presenter in Model.Presenters.OrderBy(p => p.SortOrder))
                            {
                                <li id="@presenter.SubmissionParticipantId" class="list-group-item d-flex justify-content-between align-items-center text-16">
                                    @($"{presenter.FirstName} {presenter.LastName}")
                                    <span class="badge badge-primary badge-pill"><i class="fas fa-sort fa-2x"></i></span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                <a class="btn btn-default" asp-action="Index" asp-route-submissionId="@Model.SubmissionId">Cancel</a>
            </div>
        </form>
    </div>
</div>