﻿@model ConferenceSubmission.ViewModels.ReviewHomePageViewModel
@{
    ViewData["Title"] = "Submission Review - Home";
}

<div class="row">
    <div class="col-md-5 col-lg-4 mar-bot-15-xs pad-right-25-lg pad-top-7-md">
        <div class="card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title mar-bot-10">Review Deadlines</h4>
                <hr class="mar-top-1" />
                @if (Model.ConferencesWithOpenReviews != null && Model.ConferencesWithOpenReviews.Count > 0)
                {
                    foreach (var conference in Model.ConferencesWithOpenReviews)
                    {
                        <p class="cat-name-xs">@Html.Raw(conference.ConferenceLongName)</p>
                        <p class="cat-info-xs">Review Deadline: @conference.ConferenceSubmissionReviewEndDate</p>
                        if (conference.ConferenceId != Model.ConferencesWithOpenReviews[Model.ConferencesWithOpenReviews.Count - 1].ConferenceId)
                        {
                            <hr class="hr-md" />
                        }
                    }
                }
                else
                {
                    <p>There are no conferences with open reviews.</p>
                }
            </div>
        </div>
        <div class="card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title mar-bot-10">Help</h4>
                <hr class="mar-top-1" />
                <div id="accordion">
                    <div class="card">
                        <div class="card-header pad-0" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed accordion-btn text-14" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What time of day is the review deadline effecitve?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body text-14">
                                The review will close at 11:59 pm Central Time on the date listed above under "Review Deadlines".
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header pad-0" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed accordion-btn text-14" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Why can't I edit my review?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body text-14">
                                Reviews are not editable after the review deadline listed above under "Review Deadlines".
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header pad-0" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed accordion-btn text-14" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What does status mean?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body text-14">
                                <p class="mar-bot-4"><strong>Incomplete: </strong>Review not started or not all required fields have been completed</p>
                                <p class="mar-bot-4"><strong>Complete: </strong>All required fields have been completed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-lg-8">
        <h1 class="text-primary">Assigned Reviews</h1>
        <hr />
        @if (Model.AssignedSubmissions.Count > 0)
        {
            <table class="display" id="assignedSubmissionsTable" style="width:100%;">
                <thead>
                    <tr>
                        <th data-priority="1">Sub Id</th>
                        <th data-priority="4">Title</th>
                        <th data-priority="5">Category</th>
                        <th data-priority="2">Status</th>
                        <th data-priority="3">Review</th>
                    </tr>
                </thead>
                @foreach (var conference in Model.AssignedSubmissions.GroupBy(s => s.SubmissionReviewer.Submission.Conference.ConferenceLongName))
                {
                    @foreach (var submissionReviewAssignment in conference)
                    {
                        <tr>
                            <td>@submissionReviewAssignment.SubmissionReviewer.SubmissionId</td>
                            <td>
                                <a asp-controller="Review" asp-action="Submission" asp-route-submissionId="@submissionReviewAssignment.SubmissionReviewer.Submission.SubmissionId" target="_blank">@submissionReviewAssignment.SubmissionReviewer.Submission.SubmissionTitle</a>
                            </td>
                            <td>@submissionReviewAssignment.SubmissionReviewer.Submission.AcceptedCategory.SubmissionCategoryName</td>
                            <td>
                                <strong>
                                    @if (submissionReviewAssignment.ReviewStatus.ReviewStatusType == ReviewStatusType.COMPLETE)
                                    {
                                        <span class="text-green">Complete</span>
                                    }
                                    else
                                    {
                                        <span class="text-red">Incomplete</span>
                                    }
                                </strong>
                            </td>
                            <td>
                                @if (submissionReviewAssignment.ReviewStatus.ReviewStatusType == ReviewStatusType.NOT_STARTED)
                                {
                                    <a asp-controller="Review" asp-action="SubmissionReviewInput" asp-route-submissionId="@submissionReviewAssignment.SubmissionReviewer.Submission.SubmissionId" asp-route-categoryId="@submissionReviewAssignment.SubmissionReviewer.Submission.SubmissionCategoryId">Create</a>
                                }
                                else
                                {
                                    <a asp-controller="Review" asp-action="EditReview" asp-route-reviewId="@submissionReviewAssignment.ReviewId"><i class="fas fa-pen fa-sm" aria-hidden="true"></i> Edit</a>
                                }
                            </td>

                        </tr>

                    }
                }
            </table>
        }
        else
        {
            <p>You have no assigned reviews at this time.</p>
        }
    </div>
</div>


@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "assignedSubmissionsTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = true
    });}