﻿@model ConferenceSubmission.ViewModels.ReviewWithReviewerAnswersViewModel
@using ConferenceSubmission.Extensions
@{
    ViewData["Title"] = "Saved Submission Review";
}
<h1 class="text-primary">Submission Review Saved Successfully</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.Submission.Conference.ConferenceLongName)</span></p>
    <p class="cat-name-md">Submission ID: <span class="cat-info-md">@Model.Submission.SubmissionId</span></p>
    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.Submission.SubmissionTitle</span></p>
    <p class="cat-name-md">Submission Category: <span class="cat-info-md">@Model.Submission.SubmissionCategory.SubmissionCategoryName</span></p>
    <a class="card-link text-16 font-weight-bold d-block ml-0" target="_blank" asp-controller="Review" asp-action="Submission" asp-route-submissionId="@Model.Submission.SubmissionId"><i class="fas fa-eye" aria-hidden="true"></i> View Submission</a>
</div>
<div class="mar-bot-20">
    <h3 class="mar-bot-5">Submission Review Questions</h3>
    <hr class="hr-sm" />
    @if (Model.Review.ReviewFormFields.Count > 0)
    {
        <div class="mar-bot-20">
            @foreach (var reviewFormField in Model.Review.ReviewFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
            {
                string question = reviewFormField.FormField.GetPropertyValue("label");
                if (!question.Equals(""))
                {
                    <div class="mar-bot-15">
                        <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
                        <p class="cat-name-sm">Response: <span class="cat-info-sm">@Html.Raw(reviewFormField.ReviewFormFieldValue.ReplaceLineBreaksWithBreakTags())</span></p>
                    </div>
                }
            }
        </div>
    }
</div>

<div class="mar-bot-20">
    <h3 class="mar-bot-5">Review Status</h3>
    <hr class="hr-sm" />
    @if (Model.Review.ReviewStatus.ReviewStatusType == ReviewStatusType.INCOMPLETE)
    {
        <p class="text-red text-16 mar-bot-5"><strong>Incomplete</strong></p>
        <p class="text-14">
            You have not answered all the required review questions.  Please return before the review deadline date of <strong>@Model.Submission.Conference.ConferenceSubmissionReviewEndDate</strong> to
            complete this review.
        </p>

    }
    else
    {
        <p class="text-green text-16 mar-bot-5"><strong><i class="fas fa-check mar-right-5"></i>Complete</strong></p>
        <p class="text-14">
            You have answered all the required review questions.  You may return before the review deadline date of <strong>@Model.Submission.Conference.ConferenceSubmissionReviewEndDate</strong> to
            edit this review.
        </p>
    }
</div>



<p class="mar-bot-7"><a class="text-16 font-weight-bold" asp-controller="Review" asp-action="EditReview" asp-route-reviewId="@Model.Review.ReviewId"><i class="fas fa-pen" aria-hidden="true"></i> Edit Review</a></p>
<p><a class="text-16 font-weight-bold" asp-controller="Review" asp-action="Index"><i class="fas fa-home" aria-hidden="true"></i> Review Home</a></p>

