﻿@model ConferenceSubmission.BindingModels.SubmissionReviewBindingModel
@using ConferenceSubmission.Extensions
@{
    ViewData["Title"] = "Create Submission Review";
}
<div class="container-review">
    <div id="reveiwToolbarContainer" class="mar-bot-10 hideOnSmallDevices">
        <div><a onclick="toggleHideSubmission()" class="btn btn-outline-primary pad-left-10 pad-right-10 pad-top-5 pad-bot-5" href="javascript:void(0)"><i id="toggleSubmissionDisplayIcon" class="fas fa-eye-slash"></i> <span id="toggleSubmissionDisplayText">Hide Submission</span></a></div>
    </div>
    <div class="row">
        <div id="reviewContainer" class="col-md-6">
            <div class="float-right hideOnSmallDevices"><a id="decreaseReviewContainerButton" href="javascript:void(0)" onclick="updateReviewAndSubmissionContainerSizes(true)"><i class="far fa-caret-square-left fa-3x color-primary"></i></a></div>
            <h2 class="text-primary mar-bot-0">Create Submission Review</h2>
            <hr class="mar-top-1" />
            <div id="reviewDisplayBox" class="splitDisplayBox">
                <div class="mar-bot-20">
                    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.Submission.Conference.ConferenceLongName)</span></p>
                    <p class="cat-name-md">Submission ID: <span class="cat-info-md">@Model.Submission.SubmissionId</span></p>
                    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.Submission.SubmissionTitle</span></p>
                    <p class="cat-name-md">Submission Category: <span class="cat-info-md">@Model.Submission.SubmissionCategory.SubmissionCategoryName</span></p>
                    <p class="cat-name-md">Presenters: <span class="cat-info-md">@String.Join(", ", Model.Presenters.Select(x => x.FullName))</span></p>
                    <a class="card-link text-16 font-weight-bold d-block ml-0" target="_blank" asp-controller="Review" asp-action="Submission" asp-route-submissionId="@Model.Submission.SubmissionId"><i class="fas fa-eye" aria-hidden="true"></i> View Full Submission</a>
                </div>
                <div class="mar-bot-20">
                    <h3 class="mar-bot-5">Submission Review</h3>
                    <hr class="hr-sm" />
                    <form asp-action="CreateSubmissionReview" asp-controller="Review">
                        @* loop over the formField objects stored in the model and create HTML form elements for each one *@
                        @foreach (var formField in Model.FormFields)
                        {

                            @switch (formField.FormFieldType)
                            {
                                case "text":
                                    <div class="form-group">
                                        @* we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                                        <label for="FIELD_@formField.FormFieldId">
                                            @formField.GetPropertyValue("label") @if (formField.AnswerRequired)
                                            {<span style="color:red;font-weight:bold"><b>*</b></span>}
                                        </label>
                                        <input type="text" class="form-control" name="FIELD_@formField.FormFieldId">
                                    </div>
                                    break;

                                case "textarea":
                                    <div class="form-group">
                                        @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                                        <label for="FIELD_@formField.FormFieldId">
                                            @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                                            {<span style="color:red"><b>*</b></span>}
                                        </label>
                                        <textarea class="form-control" name="FIELD_@formField.FormFieldId" rows="10" cols="50"></textarea>
                                    </div>
                                    break;

                                case "screentext":

                                    ////Get the text value for this screen text
                                    <p class="font-size-1rem">
                                        @Html.Raw(formField.GetPropertyValue("textvalue"))
                                    </p>
                                    break;

                                case "checkbox":
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="FIELD_@formField.FormFieldId" value="@formField.GetPropertyValue("value")">
                                            <label class="form-check-label font-size-1rem label-not-bold" for="inlineCheckbox1">@formField.GetPropertyValue("label")</label>
                                        </div>
                                    </div>
                                    break;

                                case "select":
                                    <div class="form-group">
                                        @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                                        <label for="FIELD_@formField.FormFieldId">
                                            @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                                            {<span style="color:red"><b>*</b></span>}
                                        </label>
                                        <select class="form-control" name="FIELD_@formField.FormFieldId">
                                            @foreach (var optionValue in formField.GetPropertyValue("options").Split('|').ToList<string>())
                                            {
                                                <option value="@optionValue">@optionValue</option>
                                            }
                                        </select>
                                    </div>

                                    break;

                                case "checkboxlist":
                                    <div class="form-group">
                                        @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                                        <label for="FIELD_@formField.FormFieldId">
                                            @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                                            {<span style="color:red"><b>*</b></span>}
                                        </label>
                                        @foreach (var optionValue in formField.GetPropertyValue("options").Split('|').ToList<string>())
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="FIELD_@formField.FormFieldId" value="@optionValue">
                                                <label class="form-check-label font-size-1rem label-not-bold" for="inlineCheckbox1">@optionValue</label>
                                            </div>
                                        }
                                    </div>
                                    break;

                                case "ratingscale":
                                    <div class="form-group">
                                        @*we prepend FIELD to the form field names rather then just use the FormFieldId int value *@
                                        <label for="FIELD_@formField.FormFieldId">
                                            @formField.GetPropertyValue("label")@if (formField.AnswerRequired)
                                            {<span style="color: red"><b>*</b></span>}
                                        </label>
                                        <br />

                                        @foreach (var optionValue in formField.GetPropertyValue("options").Split('|').ToList<string>())
                                        {

                                            <label class="radio-inline"><input type="radio" name="FIELD_@formField.FormFieldId" value="@optionValue"> @optionValue &nbsp;&nbsp;&nbsp;</label>

                                        }

                                    </div>
                                    break;
                            }
                        }

                        <p class="font-size-1rem">Questions with a <span style="color:red"><b>red *</b></span> must be answered for the submission to be considered complete.</p>
                        <p>
                            <input type="hidden" name="submissionId" value="@Model.Submission.SubmissionId" />
                            <input id="isSaveAndNextInput" type="hidden" name="isSaveAndNext" value="false" />
                            <button type="submit" class="btn btn-primary">Save</button> &nbsp;&nbsp;&nbsp;
                            <button onclick="setIsSaveAndNextToTrue()" type="submit" class="btn btn-primary">Save and Next</button> &nbsp;&nbsp;&nbsp;
                            <a class="btn btn-default" href="@Url.Action("Index", "Review" )">Cancel</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div id="submissionContainer" class="col-md-6">
            <hr class="hideOnLargeDevices mar-top-30 mar-bot-30" style="border-top:5px solid rgba(0,0,0,0.1)" />
            <div class="hideOnSmallDevices float-left mar-right-10"><a id="decreaseSubmissionContainerButton" href="javascript:void(0)" onclick="updateReviewAndSubmissionContainerSizes(false)"><i class="far fa-caret-square-right fa-3x color-primary"></i></a></div>
            <h2 class="text-primary mar-bot-0">Submission</h2>
            <hr class="mar-top-1" />
            <div class="splitDisplayBox">
                <div>
                    <div class="mar-bot-25">
                        <p class="cat-name-md">Abstract</p>
                        <hr class="hr-sm" />
                        <p class="cat-info-md">@Html.Raw(Model.Submission.SubmissionAbstract.ReplaceLineBreaksWithBreakTags())</p>
                    </div>
                    <p class="cat-name-md">Submission Proposal Questions</p>
                    <hr class="hr-sm" />
                    @foreach (var submissionFormField in Model.SubmissionFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
                    {
                        string question = submissionFormField.FormField.GetPropertyValue("label");
                        if (!question.Equals(""))
                        {
                            <div class="mar-bot-15">
                                <p class="cat-info-sm mar-bot-1"><strong>Question:</strong> <span class="cat-info-sm">@question</span></p>
                                @if (submissionFormField.FormField.FormFieldType.ToLower() == "textarea")
                                {
                                    <p class="cat-info-sm mar-bot-1"><strong>Response:</strong></p>
                                    <p class="cat-info-sm">@Html.Raw(submissionFormField.SubmissionFormFieldValue.ReplaceLineBreaksWithBreakTags())</p>
                                }
                                else
                                {
                                    <p class="cat-info-sm"><strong>Response:</strong> <span class="cat-info-sm">@submissionFormField.SubmissionFormFieldValue</span></p>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/reviewForm.js"></script>
}


