﻿
@model ConferenceSubmission.Models.Conference

@{
    ViewData["Title"] = "Submission Presentation Methods Added To Accepted Submissions";
}
<h1 class="text-primary">Submission Presentation Methods Added To Accepted Submissions</h1>

<p>Submission Presentation Methods added to accepted submissions for @Model.ConferenceShortName </p>