﻿@{
    ViewData["Title"] = "Get Accepted Email Sent";
}
<h1 class="text-primary">Accepted Email Sent</h1>
<a class="card-link" asp-controller="SubmissionAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Submission Admin Home</a>

<hr />
<p>The accept email for the submission was sent to @ViewBag.emailAddress</p>





