﻿@model Submission
@{
    ViewData["Title"] = "Get Accepted Email";
}
<h1 class="text-primary">Get Accepted Email</h1>
<hr />
<p>Submission # @Model.SubmissionId <br />
    Title: @Model.SubmissionTitle</p>

<p>Instructions: Enter an stfm.org email address below.  The accepted email for the above submission will be
    sent to that address.Then review the email to ensure it looks correct for that submission and its conference.
    If it looks correct you can forward the email to the presenter who requested it.  <br />
    If it does not look correct you should notify STFM IT and they will handle getting the presenter
    a new copy of the accepted email.</p>

@if (ViewBag.error != null) 
{
    <h3 style="color:red;">@ViewBag.error</h3>
}

<form asp-action="GetAcceptedEmailSent" asp-controller="SubmissionStatus">

    <div class="form-group">
        <p>Enter an STFM email address: <input id="stfmEmail" name="stfmEmail" type="text" /></p>
       
    </div>

    <input type="hidden" id="submissionId" name="submissionId" value="@Model.SubmissionId" />

    <button type="submit" class="btn btn-primary">Get Accepted Email</button> &nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Cancel</a>

</form>



