﻿@model ConferenceSubmission.ViewModels.HelpPageViewModel
@{
    ViewData["Title"] = "CERA Help";
}

<h1 class="text-primary">CERA Proposal Frequently Asked Questions</h1>
<hr />
@foreach (var faq in Model.FAQs.Where(f => f.Display == true).OrderBy(f => f.SortOrder))
{
    <div id="help-assistance" class="mar-bot-20">
        <p class="cat-name-lg">@faq.Question</p>
        <p class="cat-info-sm">@Html.Raw(faq.Answer)</p>
    </div>
}

