﻿@model ConferenceSubmission.ViewModels.ContentNotFoundPageViewModel

<h3 class="text-primary">Content Not Found</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(Model.EntityType) && Model.EntityId > 0)
{
    <p class="text-14"><strong>@Model.EntityType</strong> with Id = <strong>@Model.EntityId</strong> was not found.</p>
}
else
{
    <p class="text-14">The requested content was not found.</p>
}

@if (!string.IsNullOrWhiteSpace(Model.ReturnController) && !string.IsNullOrWhiteSpace(Model.ReturnAction))
{
    <a class="text-14" asp-controller="@Model.ReturnController" asp-action="@Model.ReturnAction"><i class="fas fa-arrow-circle-left"></i> Return</a>
}