﻿@model ConferenceSubmission.Models.ErrorViewModel

<h2>We're sorry, the application is unable to handle your request at this time. For assistance please contact the STFM Office. </h2>
<p class="text-15 mar-bot-5"><a href="mailto:stfmoffice@stfm.org"><i class="far fa-envelope"></i> stfmoffice@stfm.org</a></p>
<p class="text-15 mar-top-5"><i class="fas fa-phone"></i> (800) 274-7928</p>