﻿@model ConferenceSubmission.ViewModels.HomePageViewModel
@using ConferenceSubmission.Extensions
@using System;
@using System.Globalization;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Home Page - STFM Conference Submissions";
    TextInfo myTI = new CultureInfo("en-US", false).TextInfo;
}


<div>
    <div class="row">
        <div class="col-xl-4 col-md-5">
            @if (Model.Announcements != null && Model.Announcements.Count > 0)
            {
                <div class="mar-bot-30">
                    <h2 class="color-primary">Announcements</h2>
                    <hr />
                    <div class="card border-primary mb-3">
                        <div class="card-body">
                            @foreach (var announcement in Model.Announcements)
                            {
                                <p class="mar-bot-0">@announcement.Content</p>
                                if (announcement.AnnouncementId != Model.Announcements.LastOrDefault().AnnouncementId)
                                {
                                    <hr class="mar-top-10 mar-bot-10" />
                                }
                            }
                        </div>
                    </div>
                </div>
            }

            @if ((await AuthorizationService.AuthorizeAsync(User, "CommitteeMember")).Succeeded)
            {
                <div class="mar-bot-30">
                    <h2 class="color-primary">View Submissions and Reviews</h2>
                    <hr />
                    <div class="card border-primary mb-3">
                        <div class="card-body">
                            <a class="card-link" asp-controller="CommitteeMember" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Select Conference</a>
                        </div>
                    </div>
                </div>
            }

            <h2 class="color-primary">Open Calls for Proposals</h2>
            <hr />
            @if (Model.ActiveConferenceViewModels == null || Model.ActiveConferenceViewModels.Count == 0)
            {
                <p>There are no Open Calls for Proposals at this time.</p>
            }
            @foreach (var activeConferenceViewModel in Model.ActiveConferenceViewModels.OrderBy(c => c.ConferenceCFPEndDate))
            {
                <div class="card border-primary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">@Html.Raw(activeConferenceViewModel.ConferenceLongName)</h4>
                        <p class="card-text"><strong>Submission Deadline: </strong>@activeConferenceViewModel.ConferenceCFPEndDate.ToShortDateString() @activeConferenceViewModel.ConferenceCFPEndDate.ToShortTimeString() CST</p>


                        <a class="card-link" asp-controller="Submission" asp-action="Index" asp-route-ConferenceId="@activeConferenceViewModel.ConferenceId"><i class="fas fa-plus-square" aria-hidden="true"></i> Create Submission</a>

                    </div>
                </div>
                <hr />
            }
            <div id="disclosureStatus" class="mar-top-30">
                <h2 class="color-primary">Disclosure</h2>
                <hr />

                <partial name="DisplayDisclosureStatus" model="new ConferenceSubmission.ViewModels.DisplayDisclosureStatusViewModel { IsDisclosureCurrent = Model.isDisclosureCurrent}" />

            </div>
        </div>
        <div class="col-xl-8 col-md-7 pl-xl-60 pl-lg-40">
            <h2 class="color-primary">My Current Submissions</h2>
            <a class="text-16" asp-controller="Home" asp-action="ViewSubmissionsNotCanceledOrWithdrawn"><i class="fas fa-eye"></i> View All My Submisions</a>
            <hr />
            @foreach (var submissionsGrouping in Model.SubmissionSummaryViewModels
.OrderBy(c => c.ConferenceCFPEndDate)
.GroupBy(c => c.ConferenceLongName))
            {
                foreach (var submissionSummaryViewModel in submissionsGrouping)
                {
                    <div class="card mar-bot-3 mar-bot-30">
                        <h5 class="card-header color-primary">@Html.Raw(submissionsGrouping.Key)</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h5 class="card-title mb-0">Submission ID: <small>@submissionSummaryViewModel.SubmissionId</small></h5>
                                <h5 class="card-title mb-0">Title: <small>@submissionSummaryViewModel.SubmissionTitle</small></h5>
                                <h5 class="card-title mb-0">Category: <small>@submissionSummaryViewModel.SubmissionCategory</small></h5>
                                <h5 class="card-title mb-0">Role(s): <small>@submissionSummaryViewModel.GetRolesAsStringPretty()</small></h5>
                                @if (submissionSummaryViewModel.SubmissionStatusName == SubmissionStatusType.ACCEPTED || submissionSummaryViewModel.SubmissionStatusName == SubmissionStatusType.DECLINED
                  || submissionSummaryViewModel.SubmissionStatusName == SubmissionStatusType.WILL_PRESENT_AT_VIRTUAL_CONFERENCE)
                                {
                                    <h5 class="card-title mb-0 mt-1">
                                        Status: <small>@submissionSummaryViewModel.SubmissionStatusName.GetDescription()</small>
                                        @if (submissionSummaryViewModel.SubmissionStatusName == SubmissionStatusType.ACCEPTED)
                                        {
                                          <span>Session:<small>@submissionSummaryViewModel.SessionCode</small></span>
                                        }

                                    </h5>
                                }
                            </li>
                            <li class="list-group-item">
                                <h5 class="card-title mar-bot-5">
                                    Actions:
                                </h5>
                                <div class="row">
                                    @foreach (var action in submissionSummaryViewModel.SubmissionActions)
                                    {
                                        if (action == SubmissionAction.VIEW)
                                        {
                                            <div class="col-xl-2 col-lg-2 col-md-3">
                                                <a class="card-link" asp-controller="Submission" asp-action="ViewSubmission" asp-route-submissionId="@submissionSummaryViewModel.SubmissionId"> <i class="fas fa-eye" aria-hidden="true"></i> View</a>
                                            </div>
                                        }
                                        if (action == SubmissionAction.UPDATE_PARTICIPANTS)
                                        {
                                            <div class="col-xl-3 col-lg-4 col-md-3 mar-top-10-sm">
                                                <a class="card-link" asp-controller="Presenter" asp-action="Index" asp-route-submissionId="@submissionSummaryViewModel.SubmissionId"><i class="fas fa-user-alt" aria-hidden="true"></i> Update Participants</a>
                                            </div>
                                        }
                                        if (action == SubmissionAction.EDIT)
                                        {
                                            <div class="col-xl-2 col-lg-2 col-md-3  mar-top-10-sm">
                                                <a class="card-link" asp-controller="Submission" asp-action="EditSubmissionBaseDetails" asp-route-submissionId="@submissionSummaryViewModel.SubmissionId"><i class="fas fa-pen" aria-hidden="true"></i> Edit</a>
                                            </div>
                                        }
                                        if (action == SubmissionAction.WITHDRAW)
                                        {
                                            <div class="col-xl-2 col-lg-4 col-md-3 mar-top-10-sm pad-y-10-md">
                                                <a id="@submissionSummaryViewModel.SubmissionId" class="btnWithdraw card-link" asp-controller="Submission" asp-action="Withdraw" asp-route-SubmissionId="@submissionSummaryViewModel.SubmissionId"> <i class="fas fa-minus-square" aria-hidden="true"></i> Withdraw</a>
                                            </div>
                                        }
                                        if (action == SubmissionAction.ACCEPT_OR_DECLINE_PRESENTATION_METHOD)
                                        {
                                            <div class="col-xl-3 col-lg-2 col-md-3  mar-top-10-sm">
                                                <a class="card-link" asp-controller="Submission" asp-action="ProvideRecordedOnDemandPresentation" asp-route-submissionId="@submissionSummaryViewModel.SubmissionId"><i class="fas fa-pen" aria-hidden="true"></i> Accept or Decline to Provide Recorded On-Demand Presentation</a>
                                            </div>
                                        }
                                        if (action == SubmissionAction.UPLOAD_MATERIAL)
                                        {
                                            <div class="col-xl-3 col-lg-2 col-md-3  mar-top-10-sm">
                                                <a class="card-link" asp-controller="Submission" asp-action="UploadMaterial" asp-route-submissionId="@submissionSummaryViewModel.SubmissionId"><i class="fas fa-pen" aria-hidden="true"></i>Upload Material</a>
                                            </div>
                                        }
                                        if (action == SubmissionAction.WITHDRAW_VIRTUAL_PRESENTATION)
                                        {
                                            <div class="col-xl-3 col-lg-2 col-md-3  mar-top-10-sm">
                                                <a class="card-link" asp-controller="Submission" asp-action="WithdrawVirtual" asp-route-submissionId="@submissionSummaryViewModel.SubmissionId"><i class="fas fa-pen" aria-hidden="true"></i>Withdraw Virtual Presentation</a>
                                            </div>
                                        }

                                    }
                                </div>
                            </li>
                            <li class="list-group-item">
                                <h5 class="card-title mar-bot-5">
                                    Submission Completed: <span class="@(submissionSummaryViewModel.SubmissionCompleted ? "text-green":"text-red")">@(submissionSummaryViewModel.SubmissionCompleted ?"True":"False")</span>
                                </h5>
                            </li>
                        </ul>
                    </div>
                }
                <hr />

            }
        </div>
    </div>
</div>

<div id="confirmDialog" title="Confirm Withdrawal">
    <p style="color:red; font-weight:bold">Withdrawal is final. You will NOT be able to retrieve the submission.</p>
</div>
@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
            $.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality
        });

        $(function () {

            $('a[class*=btnWithdraw]').click(function (e) {
                debugger;
                e.preventDefault();
                $('#confirmDialog').data('id', e.currentTarget.id).dialog('open');
            });

            $('#confirmDialog').dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                buttons: {
                    "Withdraw": function () {
                        var id = $(this).data("id");
                        window.location.href = '/Submission/WithdrawSubmission?SubmissionId=' + id + "&destination=Home";
                    },
                    "Cancel": function (e) {
                        $(this).dialog("close");
                    }
                },
            });
        });</script>
}

