﻿@model IEnumerable<ConferenceSubmission.ViewModels.SubmissionSummaryViewModel>

<div class="col-md-12 col-lg-8 pad-left-1">
    @foreach (var submissionsGrouping in Model
.OrderBy(c => c.ConferenceCFPEndDate)
.GroupBy(c => c.ConferenceLongName))
    {
        foreach (var submissionSummaryViewModel in submissionsGrouping)
        {
            <div class="card mar-bot-3 mar-bot-30">
                <h5 class="card-header color-primary">@submissionsGrouping.Key</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title mb-0">Title: <small>@submissionSummaryViewModel.SubmissionTitle</small></h5>
                        @if (submissionSummaryViewModel.SubmissionStatusName == SubmissionStatusType.ACCEPTED || submissionSummaryViewModel.SubmissionStatusName == SubmissionStatusType.DECLINED
                      || submissionSummaryViewModel.SubmissionStatusName == SubmissionStatusType.WILL_PRESENT_IN_AUGUST || submissionSummaryViewModel.SubmissionStatusName == SubmissionStatusType.WITHDRAWN)
                        {
                            <h5 class="card-title mb-0 mt-1">Status: <small>@submissionSummaryViewModel.SubmissionStatusName.GetDescription()</small></h5>
                        }
                    </li>
                    <li class="list-group-item">
                        <h5 class="card-title mar-bot-5">
                            Actions:
                        </h5>
                        <div class="row">
                            @foreach (var submissionAction in submissionSummaryViewModel.SubmissionActions)
                            {
                                if (submissionAction == SubmissionAction.VIEW)
                                {
                                    <div class="col-xl-2 col-lg-2 col-md-3">
                                        <a class="card-link text-14" asp-controller="Submission" asp-action="ViewSubmission" asp-route-submissionId="@submissionSummaryViewModel.SubmissionId"> <i class="fas fa-eye" aria-hidden="true"></i> View</a>
                                    </div>
                                }
                                if (submissionAction == SubmissionAction.UPDATE_PARTICIPANTS)
                                {
                                    <div class="col-xl-3 col-lg-4 col-md-3 mar-top-10-sm">
                                        <a class="card-link text-14" asp-controller="Presenter" asp-action="Index" asp-route-submissionId="@submissionSummaryViewModel.SubmissionId"><i class="fas fa-user-alt" aria-hidden="true"></i> Update Participants</a>
                                    </div>
                                }
                                if (submissionAction == SubmissionAction.EDIT)
                                {
                                    <div class="col-xl-2 col-lg-2 col-md-3  mar-top-10-sm">
                                        <a class="card-link text-14" asp-controller="Submission" asp-action="EditSubmissionBaseDetails" asp-route-submissionId="@submissionSummaryViewModel.SubmissionId"><i class="fas fa-pen" aria-hidden="true"></i> Edit</a>
                                    </div>
                                }
                                if (submissionAction == SubmissionAction.WITHDRAW)
                                {
                                    <div class="col-xl-2 col-lg-4 col-md-3 mar-top-10-sm pad-y-10-md">
                                        <a id="@submissionSummaryViewModel.SubmissionId" class="btnWithdraw card-link text-14" asp-controller="Submission" asp-action="Withdraw" asp-route-SubmissionId="@submissionSummaryViewModel.SubmissionId"> <i class="fas fa-minus-square" aria-hidden="true"></i> Withdraw</a>
                                    </div>
                                }
                            }
                        </div>
                    </li>
                </ul>
            </div>
        }
        <hr />

    }
</div>