﻿@model ConferenceSubmission.ViewModels.HomePageViewModel
@using ConferenceSubmission.Extensions
@{
    ViewData["Title"] = "All Submissions";
}
<h1 class="text-primary">All Submissions</h1>
<hr />
<div>
    <fieldset class="form-group mar-bot-7 mar-top-5">
        <div class="form-check">
            <label class="color-link text-14 font-weight-normal">
                <input class="form-check-input color-primary mar-top-2" onclick="toggleWithdrawn()" type="checkbox" value="">
                Include Withdrawn Submissions
            </label>
        </div>
    </fieldset>
</div>

@if (Model.SubmissionSummaryViewModels.Count < 1)
{
    <p>You have no current or past submissions.</p>
}
else
{
    <div id="notWithdrawnSubmissionContainer">
        <partial name="SubmissionsPartial" model="@Model.SubmissionSummaryViewModels.Where(x => x.SubmissionStatusName != SubmissionStatusType.WITHDRAWN)" />
    </div>
    <div id="withdrawnSubmissionContainer" style="display:none;">
        <partial name="SubmissionsPartial" model="@Model.SubmissionSummaryViewModels" />
    </div>
}



<div id="confirmDialog" title="Confirm Withdrawal">
    <p style="color:red; font-weight:bold">Withdrawal is final. You will NOT be able to retrieve the submission.</p>
</div>
@section scripts {
    <script src="~/js/viewSubmissionsNotCanceledOrWithdrawn.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
            $.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality
        });

        $(function () {

            $('a[class*=btnWithdraw]').click(function (e) {
                debugger;
                e.preventDefault();
                $('#confirmDialog').data('id', e.currentTarget.id).dialog('open');
            });

            $('#confirmDialog').dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                buttons: {
                    "Withdraw": function () {
                        var id = $(this).data("id");
                        window.location.href = '/Submission/WithdrawSubmission?SubmissionId=' + id + "&destination=ViewSubmissions";
                    },
                    "Cancel": function (e) {
                        $(this).dialog("close");
                    }
                },
            });
        });</script>
}
