﻿@model List<PotentialReviewer>
@{
    ViewData["Title"] = "Review Admin - Find People By Last Name";
}


<h3>Add New Reviewer</h3>
<a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
<hr />

<form asp-action="FindPeopleByLastName" asp-controller="ReviewAdmin">

    <div class="form-group">

        <label for="lastName">
            Enter last name of person to add as a reviewer:
        </label>
        <input type="text" class="form-control" name="lastName" id="lastName" size="50" width="50" />
        <input type="submit" value="Find People" name="submit" />
    </div>

</form>

<div>



    @if (Model.Count > 0)
    {
        <h3>People found - click on Create Reviewer to make a person a reviewer.</h3>
        <table class="display" id="reviewersTable" style="width:100%;">
            <thead>
                <tr>
                    <th data-priority="1">Name</th>
                    <th data-priority="3">Email</th>
                    <th data-priority="2">STFM User Id</th>
                    <th>Is Reviewer?</th>
                </tr>
            </thead>

            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.User.GetFullNamePretty()</td>
                    <td>@person.User.Email</td>
                    <td>@person.User.STFMUserId</td>
                    @if (person.IsReviewer)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>
                            <a class="card-link" asp-controller="ReviewAdmin" asp-action="CreateReviewer"
                               asp-route-stfmUserId="@person.User.STFMUserId" asp-route-lastName="@person.User.LastName"><i class="fas fa-plus-square" aria-hidden="true"></i> Create Reviewer</a>
                        </td>
                    }
                </tr>

            }

        </table>
    }
    else
    {
        <p>No people found.</p>
    }
</div>
@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "reviewersTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}
