﻿@model ConferenceSubmission.ViewModels.ReviewAdminHomePageViewModel
@{
    ViewData["Title"] = "Review Admin";
}
<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Review Admin</h1>
<hr />

<div class="card border-primary mb-3 mar-top-10">
    <div class="card-body">
        <div>
            <form asp-controller="ReviewAdmin" asp-action="ReviewersAssignedToSubmission" class="form-inline">
                <input placeholder="Submission Id" class="form-control form-control-sm" name="submissionId" id="submissionId" width="10" />
                <button class="btn-sm" type="submit">Find Reviewers</button>
            </form>
        </div>
        <span class="badge badge-primary pad-5 text-13 mar-top-3">
            <a class="card-link" asp-controller="ReviewAdmin" asp-action="ViewAllReviewers">All Reviewers</a>
        </span>
        <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
            <a class="card-link" asp-controller="ReviewAdmin" asp-action="FindPeopleByLastName" asp-route-lastName="jjjjjjjj">Add New Reviewer</a>
        </span>
        <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
            <a class="card-link" asp-controller="ReviewAdmin" asp-action="UploadReviewers">Upload New Reviewers</a>
        </span>
        <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
            <a class="card-link" asp-controller="ReviewAdmin" asp-action="UploadReviewerAssignments">Upload Reviewer Assignments</a>
        </span>
        <span class="badge badge-primary pad-5 mar-left-3 text-13">
            <a class="card-link" asp-controller="SubmissionAdmin" asp-action="FormPreview">Preview Forms</a>
        </span>
    </div>

</div>

<h2 class="color-primary">Conferences Undergoing Review</h2>
<hr />
@if (Model.conferences == null || Model.conferences.Count == 0)
{
    <p>There are no Conferences undergoing review at this time.</p>
}
@foreach (var conference in Model.conferences.OrderByDescending(c => c.ConferenceCFPEndDate))
{
    <div class="card border-primary mb-3">
        <div class="card-body">
            <h4 class="card-title">@Html.Raw(conference.ConferenceLongName)</h4>
            <p class="card-text"><strong>Review Deadline: </strong>@conference.ConferenceSubmissionReviewEndDate</p>

            <span class="badge badge-primary pad-5 text-13 mar-top-3">
                <a class="card-link" asp-controller="ReviewAdmin" asp-action="ReviewersStatus" asp-route-ConferenceId="@conference.ConferenceId">Reviewers Status</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
                <a class="card-link" asp-controller="ReviewAdmin" asp-action="SubmissionCategoryReviewIndex" asp-route-ConferenceId="@conference.ConferenceId">Submission Category Review Details</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
                <a class="card-link" asp-controller="ReviewAdmin" asp-action="UsersWithMoreThenTwoSubmissions" asp-route-ConferenceId="@conference.ConferenceId">People With More Than Two Submissions</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
                <a class="card-link" asp-controller="ReviewAdmin" asp-action="SubmissionsNotReviewed" asp-route-ConferenceId="@conference.ConferenceId">Submissions Not Reviewed</a>
            </span>
            <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
                <a class="card-link" asp-controller="ReviewAdmin" asp-action="SubmissionsReviewStatus" asp-route-ConferenceId="@conference.ConferenceId">Submissions Review Status</a>
            </span>
        </div>
    </div>
    <hr />
}