﻿@model ConferenceSubmission.ViewModels.ReviewIncompleteViewModel
@using ConferenceSubmission.Extensions
@{
    ViewData["Title"] = "Review Admin - Reviewers Not Done";
}
<div class="col-md-7 col-lg-8">
    <h3>Reviewers Not Done</h3>
    <hr />
    <h4>
        <b>Conference: @Model.ConferenceLongName</b>  <br />

    </h4>


    <table class="display" id="reviewersNotDoneTable" style="width:100%;">
        <thead>
            <tr>
                <th data-priority="1">Reviewer</th>
                <th data-priority="2">Reviews Not Done</th>


            </tr>
        </thead>

        @foreach (var reviewIncomplete in Model.reviewIncomplete)
        {
            <tr>
                <td>@reviewIncomplete.Reviewer.FirstName @reviewIncomplete.Reviewer.LastName</td>
                <td>@reviewIncomplete.NumberOfReviewsNotDone</td>


            </tr>

        }

    </table>

</div>
@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "reviewersNotDoneTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}