﻿@model ConferenceSubmission.ViewModels.ReviewersStatusViewModel
@{
    ViewData["Title"] = "Review Admin - Reviewers Status";
}


<div>
    <h3>Reviewers Status</h3>
    <a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
    <hr />
    <h4>
        <b>Conference:</b> @Html.Raw(Model.ConferenceLongName) </b>

    </h4>

    @if (Model.reviewerStatuses.Count > 0)
    {
        <table class="display" id="reviewersStatusTable" style="width:100%;">
            <thead>
                <tr>
                    <th data-priority="1">Reviewer</th>
                    <th data-priority="2">Email</th>
                    <th data-priority="4">Reviews Assigned</th>
                    <th data-priority="3">Reviews Completed</th>
                    <th date-priority="5">Reviews Not Completed</th>
                </tr>
            </thead>

            @foreach (var reviewerStatus in Model.reviewerStatuses)
            {
                <tr>
                    <td>
                        <a class="card-link" asp-controller="ReviewAdmin" asp-action="ViewReviewerAssignments"
                        asp-route-stfmUserId="@reviewerStatus.Reviewer.STFMUserId" asp-route-conferenceId="@Model.ConferenceId">@reviewerStatus.Reviewer.GetFullNamePretty()</a>
                    </td>
                    <td>@reviewerStatus.Reviewer.Email</td>
                    <td>@reviewerStatus.NumberOfReviewsAssigned</td>
                    <td>@reviewerStatus.NumberOfReviewsCompleted</td>
                    <td>@(reviewerStatus.NumberOfReviewsAssigned - reviewerStatus.NumberOfReviewsCompleted)</td>
                </tr>

            }

        </table>
    }
    else
    {
        <p>There are no reviewer asssignments.</p>
    }
</div>
@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "reviewersStatusTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}
