﻿@model ConferenceSubmission.ViewModels.ReviewersAssignedToSubmissionViewModel
@using ConferenceSubmission.Extensions
@{
    ViewData["Title"] = "Review Admin - Reviewers Assigned To Submission";
}
    <div class="col-md-7 col-lg-8">
        <h3>Reviewers Assigned To Submission # @Model.Submission.SubmissionId - @Model.Submission.SubmissionTitle</h3>
        <a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
        <hr />
        <h4>
            <b>Conference: @Html.Raw(Model.Conference.ConferenceLongName)</b>

        </h4>

        @if (Model.reviewers.Count > 0)
        {

            <table class="display" id="reviewersAssignedToSubmission" style="width:100%;">
                <thead>
                    <tr>
                        <th data-priority="1">STFM User ID</th>
                        <th>Reviewer Name</th>
                        <th>Reviewer Email</th>
                        <th>Reviewer's Assignments</th>



                    </tr>
                </thead>

                @foreach (var submissionReviewer in Model.reviewers)
                {
                    <tr>
                        <td>@submissionReviewer.Reviewer.StfmUserId</td>
                        <td>@submissionReviewer.Reviewer.ReviewerName</td>
                        <td>@submissionReviewer.Reviewer.ReviewerEmail</td>
                        <td>
                            <a asp-controller="ReviewAdmin" asp-action="ViewReviewerAssignments"
                               asp-route-stfmUserId="@submissionReviewer.Reviewer.StfmUserId" asp-route-conferenceId="@Model.Conference.ConferenceId">Assignments</a>
                        </td>
                    </tr>

                }

            </table>

        } else
        {
            <p>There are no reviewers assigned to @Model.Submission.SubmissionId - @Model.Submission.SubmissionTitle.</p>
        }

        </div>
@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "reviewersAssignedToSubmission",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}