﻿@model ConferenceSubmission.ViewModels.SubmissionsDetailedReviewsViewModel
@using ConferenceSubmission.Extensions
@{
    ViewData["Title"] = "Review Admin - Submissions With Detailed Reviews";
}
<div class="col-md-7 col-lg-8">
    <h3>Submissions With Detailed Reviews</h3>
    <hr />
    <p><a class="btn btn-primary mar-bot-20" asp-action="PrintPdf" asp-route-categoryId="@Model.SubmissionCategoryId"><i class="glyphicon glyphicon-download-alt"></i> <i class="fas fa-file-download"></i> <span class="mar-left-4">Download Pdf</span></a></p>
    <h4>
        <b>Conference:</b> @Model.ConferenceLongName <br />
        <b>Category:</b> @Model.SubmissionCategoryName
    </h4>
    @if (Model.SubmissionDetailedReviews.Count > 0)
    {
        foreach (SubmissionDetailedReview submissionDetailedReview in Model.SubmissionDetailedReviews)
        {

            <p>
                Submission #: @submissionDetailedReview.SubmissionId <br />
                Title: @submissionDetailedReview.SubmissionTitle <br />
                Lead Presenter: @submissionDetailedReview.MainPresenter.GetFullNamePretty()
            </p>

            <p>Submission Abstract: @submissionDetailedReview.SubmissionAbstract </p>

            <p>Overall Average Score: @submissionDetailedReview.AverageReviewScore </p>

            <p>Reviews</p>

            foreach (Review review in submissionDetailedReview.SubmissionCompletedReviews)
            {


                <p>
                    Reviewer:  @review.Reviewer.ReviewerName (@review.Reviewer.StfmUserId) <br />
                    Average Score: @review.ReviewerAverageScore
                </p>

                @if (review.ReviewFormFields.Count > 0)
                {
                    <div class="mar-bot-20">
                        @foreach (var reviewFormField in review.ReviewFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
                        {
                            string question = reviewFormField.FormField.GetPropertyValue("label");
                            if (!question.Equals(""))
                            {

                                <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
                                <p class="cat-name-sm">Response: <span class="cat-info-sm">@Html.Raw(reviewFormField.ReviewFormFieldValue.ReplaceLineBreaksWithBreakTags())</span></p>
                            }
                        }
                    </div>
                }




            }

            <hr />

        }
    }

    else
    {
        <p>There are no completed reviews in this category.</p>
    }
