﻿@model ConferenceSubmission.ViewModels.SubmissionsNotReviewedViewModel
@{
    ViewData["Title"] = "Review Admin - Submissions Not Reviewed";
}


<div style="margin-bottom:30px">
    <h3>Submissions Not Reviewed</h3>
    <a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
    <hr />
    <h4 style="font-size:1.2em">
        <b>Conference: @Html.Raw(Model.Conference.ConferenceLongName) </b>

    </h4>

    <br />

    <h4 style="font-size:1.2em">Completed Submissions Not Assigned To A Reviewer</h4>

    @if (Model.SubmissionsNotAssignedToReviewer.Count > 0)
    {
        <table class="display" id="submissionsNotAssignedTable" style="width:100%;">
            <thead>
                <tr>
                    <th data-priority="1">Submission Id</th>
                    <th data-priority="2">Submission Title</th>
                    <th>Accepted Category</th>
                    <th>Add Reviewer(s)</th>
                </tr>
            </thead>

            @foreach (var submission in Model.SubmissionsNotAssignedToReviewer)
            {
                <tr>
                    <td>@submission.SubmissionId</td>
                    <td><a asp-controller="SubmissionAdmin" asp-action="ViewSubmission" asp-route-submissionId="@submission.SubmissionId" target="_blank">@submission.SubmissionTitle</a></td>
                    <td>@submission.AcceptedCategory.SubmissionCategoryName</td>
                    <td><a asp-controller="ReviewAdmin" asp-action="ViewAllReviewers" target="_blank">Add Reviewer(s)</a></td>

                </tr>

            }

        </table>
    }
    else
    {
        <p>There are no submissions not assigned to any reviewer for this conference.</p>
    }
</div>

<hr />

<div style="margin-top:20px">
    <h4 style="font-size:1.2em">Completed Submissions Assigned To A Reviewer But Not One Review Completed</h4>

    @if (Model.SubmissionsNoReviewedCompleted.Count > 0)
    {
        <table class="display" id="submissionsNoReviewCompletedTable" style="width:100%;">
            <thead>
                <tr>
                    <th data-priority="1">Submission Id</th>
                    <th data-priority="2">Submission Title</th>
                    <th>Accepted Category</th>
                    <th>Reviewers Assigned</th>
                </tr>
            </thead>

            @foreach (var submission in Model.SubmissionsNoReviewedCompleted)
            {
        <tr>
            <td>@submission.SubmissionId</td>
            <td><a asp-controller="SubmissionAdmin" asp-action="ViewSubmission" asp-route-submissionId="@submission.SubmissionId" target="_blank">@submission.SubmissionTitle</a></td>
            <td>@submission.AcceptedCategory.SubmissionCategoryName</td>
            <td><a asp-controller="ReviewAdmin" asp-action="ReviewersAssignedToSubmission" asp-route-submissionId="@submission.SubmissionId" target="_blank">Reviewers Assigned</a></td>

        </tr>

            }

        </table>
    }
    else
    {
        <p>There are no submissions assigned to a reviewer that do not have at least one review completed.</p>
    }
</div>

@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "submissionsNotAssignedTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "submissionsNoReviewCompletedTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}