﻿@model ConferenceSubmission.ViewModels.SubmissionsDetailedReviewsPrintViewModel
@using ConferenceSubmission.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        p {font-size:18px;}
        .mb--0 {
            margin-bottom: 0px;
        }

        .mt--30 {
            margin-top: 30px;
        }

        .mt--20 {
            margin-top: 20px;
        }

        .mt--8 {
            margin-top: 8px;
        }

        .mt--3 {
            margin-top: 3px;
        }

        .mt--5 {
            margin-top: 5px;
        }

        .font-size-18 {
            font-size: 18px;
        }

        .font-size-22 {
            font-size: 22px;
        }
    </style>
</head>
<body style="font-family:Helvetica, Arial, sans-serif;">

    @if (Model.SubmissionDetailedReviews.Count > 0)
    {
        foreach (SubmissionDetailedReview submissionDetailedReview in Model.SubmissionDetailedReviews)
        {

            <p>
                Submission #: @submissionDetailedReview.SubmissionId <br />
                Title: @submissionDetailedReview.SubmissionTitle <br />
                Lead Presenter: @submissionDetailedReview.MainPresenter.GetFullNamePretty()
            </p>

            <p>Submission Abstract: @submissionDetailedReview.SubmissionAbstract </p>

            <p>Overall Average Score: @submissionDetailedReview.AverageReviewScore </p>

            <p>Reviews</p>

            foreach (Review review in submissionDetailedReview.SubmissionCompletedReviews)
            {


                <p>
                    Reviewer:  @review.Reviewer.ReviewerName (@review.Reviewer.StfmUserId) <br />
                    Average Score: @review.ReviewerAverageScore
                </p>

                @if (review.ReviewFormFields.Count > 0)
                {
                    <div class="mar-bot-20">
                        @foreach (var reviewFormField in review.ReviewFormFields.OrderBy(s => s.FormField.FormFieldSortOrder))
                        {
                            string question = reviewFormField.FormField.GetPropertyValue("label");
                            if (!question.Equals(""))
                            {

                                <p class="cat-name-sm mar-bot-1">Question: <span class="cat-info-sm">@question</span></p>
                                <p class="cat-name-sm">Response: <span class="cat-info-sm">@Html.Raw(reviewFormField.ReviewFormFieldValue.ReplaceLineBreaksWithBreakTags())</span></p>
                            }
                        }
                    </div>
                }




            }

            <hr />

        }
    }

    else
    {
        <p>There are no completed reviews in this category.</p>
    }

</body>

</html>