﻿@model ConferenceSubmission.ViewModels.SubmissionReviewersNotDone

@{
    ViewData["Title"] = "Review Admin - Submission Reviewers Not Done";
}


<div>
    <h3>Submission Reviewers Not Done</h3>
    <a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
    <hr />
    <h4>
        <b>Conference:</b> @Html.Raw(Model.ConferenceLongName) <br />
        <b>Submission: </b> @Model.Submission.SubmissionTitle (@Model.Submission.SubmissionId)

    </h4>

    <h4>Reviews Who Have Not Completed Review of This Submission</h4>

    @foreach (SubmissionReviewer submissionReviewer in Model.submissionReviewersNotDone)
    {
        <p>Reviewer: @submissionReviewer.Reviewer.ReviewerName (@submissionReviewer.Reviewer.ReviewerEmail)</p>
        

    }

</div>
