﻿@model ConferenceSubmission.ViewModels.SubmissionsReviewStatusViewModel
@{
    ViewData["Title"] = "Review Admin - Submission Review Status";
}


<div>
    <h3>Reviewers Status</h3>
    <a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
    <hr />
    <h4>
        <b>Conference:</b> @Html.Raw(Model.ConferenceLongName) 

    </h4>

    @if (Model.SubmissionsReviewStatus.Count > 0)
    {
        <p>Click on a column heading to sort by that column.  Click on the link in the Reviews Not Completed column to see those 
            reviewers who have not completed their review of the submission. Click on the submission id for all reviews completed so far.
        </p>
        <table class="display" id="submissionsReviewStatusTable" style="width:100%;">
            <thead>
                <tr>
                    <th data-priority="1">Submission ID</th>
                    <th data-priority="4">Reviews Assigned</th>
                    <th data-priority="3">Reviews Completed</th>
                    <th date-priority="5">Reviews Not Completed</th>
                </tr>
            </thead>

            @foreach (var submissionReviewStatus in Model.SubmissionsReviewStatus)
            {
                <tr>
                    <td>
                        <a class="card-link" asp-controller="ReviewAdmin" asp-action="SubmissionDetailedReviewsNoCategory"
                           asp-route-submissionId="@submissionReviewStatus.SubmissionId">@submissionReviewStatus.SubmissionId</a>
                        </td>
                    <td>@submissionReviewStatus.ReviewsAssigned</td>
                    <td>@submissionReviewStatus.ReviewsCompleted</td>
                    <td>
                        <a class="card-link" asp-controller="ReviewAdmin" asp-action="SubmissionReviewersNotDone"
                           asp-route-submissionId="@submissionReviewStatus.SubmissionId">@submissionReviewStatus.ReviewsNotCompleted</a>
                        </td>
                </tr>

            }

        </table>
    }
    else
    {
        <p>There are no submissions assigned to reviewers.</p>
    }
</div>
@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
                ElementId = "submissionsReviewStatusTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}
