﻿@model ConferenceSubmission.ViewModels.SubmissionCategoryReviewIndexViewModel
@{
    ViewData["Title"] = "Review Admin - Submission Category Review Reports";
}
<a asp-controller="ReviewAdmin" asp-action="index"><i class="fas fa-home mr-1"></i> Review Admin Home</a>
<h1 class="text-primary mar-top-10">Review Admin - Submission Category Review Reports</h1>
<hr />
<h2>@Html.Raw(Model.conference.ConferenceLongName)</h2>

@foreach (var submissionCategory in Model.submissionCategoryViewModels)
{
    <div class="card border-primary mb-3">
        <div class="card-body">
            <h4 class="card-title">@Html.Raw(submissionCategory.SubmissionCategoryName)</h4>
            <span class="badge badge-primary pad-5 mar-left-3 text-13 mar-top-3">
                <a class="card-link" asp-controller="ReviewAdmin" asp-action="SubmissionCategoryAverageReviewScores" asp-route-categoryId="@submissionCategory.SubmissionCategoryId">Average Review Scores</a>
            </span>
        </div>
    </div>
    <hr />
}