﻿@model ConferenceSubmission.ViewModels.SubmissionsAverageReviewScoreViewModel
@{
    ViewData["Title"] = "Review Admin - Submissions With Average Review Score";
}


<div>
    <h3>Submissions With Average Review Score</h3>
    <a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
    <hr />
    <h4>
        <b>Conference:</b> @Html.Raw(Model.ConferenceLongName) <br />
        <b>Category:</b> @Model.SubmissionCategoryName
    </h4>

    @if (Model.SubmissionsAverageReviews.Count > 0)
    {
        <table class="display" id="submissionsReviewedTable" style="width:100%;">
            <thead>
                <tr>
                    <th data-priority="1">Submission Id</th>
                    <th data-priority="2">Submission Status</th>
                    <th data-priority="3">Submission Title</th>
                    <th data-priority="4">Submission Category</th>
                    <th data-priority="5">Average Review Score</th>
                    <th data-priority="6">Behavioral Science Credit</th>
                    <th data-priority="6">KeyWord One</th>
                    <th data-priority="7">KeyWord Two</th>
                    <th data-priority="8">Multi-Institutional</th>
                    <th data-priority="9">Learner Included</th>
                    <th data-priority="10">Academic Coordinator</th>
                    <th data-priority="11">Submitter</th>
                    <th data-priority="11">Submitter Email</th>
                    <th data-priority="12">Lead Presenter</th>
                    <th data-priority="12">Lead Presenter Email</th>
                    <th>Detailed Review</th>
                </tr>
            </thead>

            @foreach (var submissionAverageReview in Model.SubmissionsAverageReviews)
            {
                <tr>
                    <td>@submissionAverageReview.SubmissionId</td>
                    <td>@submissionAverageReview.SubmissionStatus</td>
                    <td>@submissionAverageReview.SubmissionTitle</td>
                    <td>@submissionAverageReview.SubmissionCategory</td>
                    <td>@submissionAverageReview.AverageReviewScore</td>
                    <td>@submissionAverageReview.BehavioralScience</td>
                    <td>@submissionAverageReview.KeyWordOne</td>
                    <td>@submissionAverageReview.KeyWordTwo</td>
                    <td>@submissionAverageReview.MultiInstitutional</td>
                    <td>@submissionAverageReview.StudentIncluded</td>
                    <td>@submissionAverageReview.AcademicCoordinator</td>
                    <td>@submissionAverageReview.SubmitterUser.GetFullNamePretty()</td>
                    <td>@submissionAverageReview.SubmitterUser.Email</td>
                    <td>
                        @if (submissionAverageReview.LeadPresenterUser != null)
                        {
                            @submissionAverageReview.LeadPresenterUser.GetFullNamePretty()
                        }
                    </td>
                    <td>
                        @if (submissionAverageReview.LeadPresenterUser != null)
                        {
                            @submissionAverageReview.LeadPresenterUser.Email
                        }
                    </td>


                    <td> <a class="card-link" asp-controller="ReviewAdmin" asp-action="SubmissionDetailedReviews" asp-route-categoryId="@Model.CategoryId" asp-route-submissionId="@submissionAverageReview.SubmissionId"><i class="fas fa-plus-square" aria-hidden="true"></i> Detailed Reviews</a></td>

                </tr>

            }

        </table>
    }
    else
    {
        <p>There are no completed reviews in this category.</p>
    }
</div>
@{
    await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
            {
                IncludeDownloadAsCSVScripts = true
            });
}

@{
    await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
            {
                ElementId = "submissionsReviewedTable",
                DefaultPageLength = 25,
                LengthMenuValues = { 5, 10, 25, 50, -1 },
                LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
                DownloadAsCSV = true,
                SessionStateStorage = false
            });
}
