﻿@model ConferenceSubmission.ViewModels.ReviewAdminHomePageViewModel
@{
    ViewData["Title"] = "Review Admin - Upload New Reviewers";
}
<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Review Admin</h1>
<hr />

<h3>Upload New Reviewers</h3>

<a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
<hr />


@if (ViewData.ContainsKey("Error"))
{
    <h3 style="color:red;font-weight:bold">@ViewData["Error"]</h3>
} 
@if (ViewData.ContainsKey("Success"))
{
    
    <h3 style="color:green;font-weight:bold">@ViewData["Success"]</h3>
}



 <p>Use the form below to upload a CSV file with STFM User Ids, one per line:</p>
    <ol>
        <li>File of type .csv - REQUIRED</li>
        
    </ol>

    <div class="row">

        <div class="col-md-6">

            <form method="post" enctype="multipart/form-data" asp-controller="ReviewAdmin" asp-action="UploadReviewers" onsubmit="return checkForm(this);">

                <div class="form-group">

                    <label> Select New Reviewers File (Required)</label>

                    <input class="form-control" name="newReviewers" type="file" />

                </div>

               

                <div class="form-group">
                    
                    <input id="AddButton" name="AddButton" class="btn btn-success" type="submit" value="Submit File" />

                </div>

            </form>


        </div>

    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function checkForm(form) // Submit button clicked
        {
            //
            // check form input values
            //

            form.AddButton.disabled = true;
            form.AddButton.value = "Please wait uploading...";
            return true;
        }</script>
}
