﻿@model ConferenceSubmission.ViewModels.ConferenceUserMultipleSubmissionsViewModel

@{
    ViewData["Title"] = "Review Admin - People With More Then Two Submissions";
}
<div class="col-md-7 col-lg-8">
    <h3>People With More Than Two Submissions</h3>
    <hr />
    <h4>
        <b>Conference: @Html.Raw(Model.Conference.ConferenceLongName)</b>  <br />

    </h4>



        @foreach (var userMultipleSubmissionsViewModel in Model.UserMultipleSubmissionsViewModels)
        {
            <h4>Person - @userMultipleSubmissionsViewModel.User.GetFullNamePretty() (@userMultipleSubmissionsViewModel.Submissions.Count() Submissions)</h4>

            @foreach (var submission in userMultipleSubmissionsViewModel.Submissions) {

                <p>@submission.SubmissionId - @submission.SubmissionTitle <br />
                @submission.SubmissionCategory.SubmissionCategoryName<br />

                @foreach ( var submissionParticipant in submission.ParticipantLink) {

                    if ( submissionParticipant.ParticipantId == userMultipleSubmissionsViewModel.ParticipantId ) {

                        @submissionParticipant.GetRolesAsStringPretty();

                    }



                }
            </p>

            }

        }


</div>
