﻿@model ReviewerSummaryAllConferences
@{
    ViewData["Title"] = "Review Admin - Reviewer Summary";
}


    <div>
        <h3>Reviewer Summary</h3>
        <a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="card-link" asp-controller="ReviewAdmin" asp-action="ViewAllReviewers"><i class="fas fa-plus-square" aria-hidden="true"></i> All Reviewers</a>
        <hr />

        <p style="font-weight:bold">Reviewer: @Model.Reviewer.ReviewerName - @Model.Reviewer.ReviewerEmail </p>

        @if (!String.IsNullOrEmpty(Model.SuccessMessage))
        {
            <p style="font-weight:bold; font-size:1.2em; color:green">@Model.SuccessMessage</p>
        }


        <div class="card border-primary">
            <div class="card-body" style="width:700px">
                <h4 class="card-title">Assign Reviewer To Submissions</h4>

                <form asp-action="AssignReviewerToSubmissions" asp-controller="ReviewAdmin" class="form-inline">
                    <span>Enter or paste in a list of submission IDs (each separated by one space): </span>
                    <input type="text" name="submissionIds" id="submissionIds" size="100" />
                    <input type="hidden" name="reviewerId" id="reviewerId" value="@Model.Reviewer.ReviewerId" />
                    <input type="hidden" name="stfmUserId" id="stfmUserId" value="@Model.Reviewer.StfmUserId" />
                    <button type="submit">Assign Reviewer To Submissions</button>
                </form>

            </div>


            <div class="card border-primary">
                <div class="card-body" style="width:700px">
                    <h4 class="card-title">Unassign Reviewer From Submissions</h4>

                    <form asp-action="UnassignReviewerFromSubmissions" asp-controller="ReviewAdmin" class="form-inline">
                        <span>Enter or paste in a list of submission IDs (each separated by one space): </span>
                        <input type="text" name="submissionIds" id="submissionIds" size="100" />
                        <input type="hidden" name="reviewerId" id="reviewerId" value="@Model.Reviewer.ReviewerId" />
                        <input type="hidden" name="stfmUserId" id="stfmUserId" value="@Model.Reviewer.StfmUserId" />
                        <button type="submit">Unassign Reviewer From Submissions</button>
                    </form>

                </div>
            </div>

            <br />
            <br />

            @if (Model.ReviewerSummaryForConferences.Count > 0)
            {
                <h2>Click on the conference name to see list of submisson assigned to this reviewer.</h2>
                <br />

                <table class="display" id="reviewerSummaryTable" style="width:100%;">
                    <thead>
                        <tr>
                            <th data-priority="1">Conference</th>
                            <th data-priority="3">Submissions Assigned</th>
                            <th data-priority="2">Reviews Completed</th>
                        </tr>
                    </thead>

                    @foreach (var reviewerSummary in Model.ReviewerSummaryForConferences)
                    {
                        <tr>
                            <td>
                                <a class="card-link" asp-controller="ReviewAdmin" asp-action="ViewReviewerAssignments"
                                   asp-route-stfmUserId="@Model.Reviewer.StfmUserId" asp-route-conferenceId="@reviewerSummary.conference.ConferenceId">@reviewerSummary.conference.ConferenceLongName</a>
                            </td>
                            <td>@reviewerSummary.totalAssignedSubmissionsToReview</td>
                            <td>@reviewerSummary.totalReviewsCompleted</td>
                        </tr>

                    }

                </table>
            }
            else
            {
                <p>There are no assignments for this reviewer.</p>
            }
        </div>
        @{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
            {
                IncludeDownloadAsCSVScripts = true
            });}

        @{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
            {
                ElementId = "reviewerSummaryTable",
                DefaultPageLength = 25,
                LengthMenuValues = { 5, 10, 25, 50, -1 },
                LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
                DownloadAsCSV = true,
                SessionStateStorage = false
            });}
