﻿@model ReviewerAssignmentsViewModel
@{
    ViewData["Title"] = "Review Admin - Reviewer Assignments For Conference";
}


<div>
    <h3>Reviewer Summary</h3>
    <a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
    <hr />

    <p>
        Reviewer: @Model.Reviewer.ReviewerName - @Model.Reviewer.ReviewerEmail <br />
        @Html.Raw(Model.Conference.ConferenceLongName)
    </p>

    @if (Model.SubmissionsAssigned.Count > 0)
    {
<form asp-action="UnAssignReviewerFromSubmissions" asp-controller="ReviewAdmin" id="unassign-form" name="unassign-form">
    <p>Click on the submission ID to see the review of the submission by this reviewer.</p>
    <p>Select checkbox for each submission to unassign for this reviewer and then click submit button below.</p>
    <table class="display" id="reviewerAssignmentsTable" style="width:100%;">
        <thead>
            <tr>
                <th><input name="select_all" id="example-select-all" type="checkbox" value="1"></th>
                <th>Submission Id</th>
                <th data-priority="4">Submission Category</th>
                <th data-priority="3">Submission Title</th>
                <th data-priority="2">Review Status</th>
            </tr>
        </thead>

        @foreach (var submissionAssigned in Model.SubmissionsAssigned)
        {
            <tr>
                <td>@submissionAssigned.SubmissionReviewer.Submission.SubmissionId</td>
                <td>
                    <a class="card-link" asp-controller="ReviewAdmin" asp-action="SubmissionDetailedReviews"
                       asp-route-submissionId="@submissionAssigned.SubmissionReviewer.SubmissionId" asp-route-categoryId="@submissionAssigned.SubmissionReviewer.Submission.SubmissionCategoryId">@submissionAssigned.SubmissionReviewer.Submission.SubmissionId</a>
                </td>
                <td>@submissionAssigned.SubmissionReviewer.Submission.SubmissionCategory.SubmissionCategoryName</td>
                <td>@submissionAssigned.SubmissionReviewer.Submission.SubmissionTitle</td>
                <td>@submissionAssigned.GetReviewStatusPretty</td>
            </tr>

        }

    </table>
    <input type="hidden" name="reviewerId" value="@Model.Reviewer.ReviewerId" />
    <input type="hidden" name="stfmUserId" value="@Model.Reviewer.StfmUserId" />
    <input type="hidden" name="submissionIds" id="submissionIds" value="" />
    <p><button>Submit</button></p>

</form>
    }
    else
    {
        <p>There are no assignments for this reviewer for this conference.</p>
    }
</div>

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />
    <link type="text/css" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/css/dataTables.checkboxes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#reviewerAssignmentsTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        text: 'Save To CSV File',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    }
                ],
                'columnDefs': [
                    {
                        'targets': 0,
                        'checkboxes': {
                            'selectRow': true
                        }
                    }
                ],
                'select': {
                    'style': 'multi'
                },
                'order': [[1, 'asc']],
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRow,
                        type: ''
                    }
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "pageLength": 25
            });

            //$("form").submit(function () {

            //    alert("Submitted");

            //    //var rows_selected = table.column(0).checkboxes.selected();

            //    alert("AFter rows_selected");

            //    // Iterate over all selected checkboxes
            //    $.each(rows_selected, function (index, rowId) {
            //        alert("row " + rowId);
            //    });

            //});

            // Handle form submission event 
            $('#unassign-form').on('submit', function (e) {


                //alert("In submit");

                var rows_selected = table.column(0).checkboxes.selected();

                //alert("after rows selected");

                var submissionIds = "";

                //Iterate over all selected checkboxes
                $.each(rows_selected, function(index, rowId){

                    //alert("row " + rowId);
                    submissionIds = submissionIds + rowId + " ";

                });

                var submissionIdsList = submissionIds.slice(0, -1);

                //alert("submissionIds " + submissionIdsList);

                $("#submissionIds").val(submissionIdsList);

                //e.preventDefault();
            });


        });

    </script>


}



