﻿@model List<Reviewer>
@{
    ViewData["Title"] = "Review Admin - View All Reviewers";
}


<div>
    <h3>Reviewers Status</h3>
    <a class="card-link" asp-controller="ReviewAdmin" asp-action="Index"><i class="fas fa-plus-square" aria-hidden="true"></i> Review Admin Home</a>
    <hr />


    @if (Model.Count > 0)
    {
        <p>Click on a reviewer's name to see details about that reviewer's work.</p>
        <table class="display" id="allReviewersTable" style="width:100%;">
            <thead>
                <tr>
                    <th data-priority="1">Reviewer Name</th>
                    <th data-priority="3">Reviewer Email</th>
                    <th data-priority="2">STFM User Id</th>
                    <th data-priority="4">Reviewer Id</th>
                </tr>
            </thead>

            @foreach (var reviewer in Model)
            {
                <tr>
                    <td>
                        <a class="card-link" asp-controller="ReviewAdmin" asp-action="ViewReviewerSummary"
                           asp-route-stfmUserId="@reviewer.StfmUserId">@reviewer.ReviewerName</a>
                    </td>
                    <td>@reviewer.ReviewerEmail</td>
                    <td>@reviewer.StfmUserId</td>
                    <td>@reviewer.ReviewerId</td>
                </tr>

            }

        </table>
    }
    else
    {
        <p>There are no reviewers.</p>
    }
</div>
@{await Html.RenderPartialAsync("DataTableScripts", new DataTableScriptsOptions
    {
        IncludeDownloadAsCSVScripts = true
    });}

@{await Html.RenderPartialAsync("DataTableSetup", new DataTableParameters
    {
        ElementId = "allReviewersTable",
        DefaultPageLength = 25,
        LengthMenuValues = { 5, 10, 25, 50, -1 },
        LengthMenuDisplayValues = { "5", "10", "25", "50", "All" },
        DownloadAsCSV = true,
        SessionStateStorage = false
    });}