﻿@model ConferenceSubmission.ViewModels.AddParticipantViewModel

@{
    ViewData["Title"] = "AddParticipant";
}

@if (Model.SubmissionParticipantExists)
{
    <div>
        <h1 class="color-primary">Participants</h1>
        <hr />
        <div class="mar-bot-20">
            <div class="alert alert-primary help-text" role="alert">
                <p class="mar-bot-0">You have already been addded as a participant to this submission.</p>
            </div>

            <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceTitle)</span></p>

            <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.SubmittedCategory, AcceptedCategory = Model.AcceptedCategory }" />

            <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>

            <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>

        </div>
    </div>
    <div class="mar-bot-20">
        <h3 class="mar-bot-5">Participants currently added to this submission:</h3>
        <hr class="hr-sm" />
        @if (Model.CurrentParticipants.Count < 1)
        {
            <p>No participants have been added to this submission.</p>
        }
        else
        {
            @foreach (var submissionParticipant in Model.CurrentParticipants)
            {
                <span class="badge badge-primary pad-15 text-16 mar-top-10 mar-right-10">@submissionParticipant</span>
            }
        }
    </div>
    <div>
        <a class="btn btn-primary"
           asp-action="ViewSubmission"
           asp-controller="Submission"
           asp-route-submissionId="@Model.SubmissionId">
            View Submission Details
        </a>
        <a class="btn btn-default" asp-action="Index" asp-controller="Home">Cancel</a>
    </div>
}
else
{
    <div>
        <h1 class="color-primary">Add Yourself As a Participant</h1>
        <hr />
        <div class="mar-bot-20">
            <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceTitle)</span></p>

            <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.SubmittedCategory, AcceptedCategory = Model.AcceptedCategory }" />

            <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>

            <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>
        </div>
    </div>


    <div class="mar-bot-20">
        <h3 class="mar-bot-5">Participants currently added to this submission:</h3>
        <hr class="hr-sm" />
        @if (Model.CurrentParticipants.Count < 1)
        {
            <p>No Participants have been added to this submission.</p>
        }
        else
        {
            @foreach (var submissionParticipant in Model.CurrentParticipants)
            {
                <span class="badge badge-primary pad-15 text-16 mar-top-10 mar-right-10">@submissionParticipant</span>
            }
        }
    </div>

    @if (Model.ParticipantRoleDefinitions != null && Model.ParticipantRoleDefinitions.Count > 0)
    {
        <div class="alert alert-primary help-text" role="alert">
            <div>
                <h5 class="help-text">Submission Role Definitions</h5>
                <hr class="mar-bot-7 mar-top-1 hr-sm" />
            </div>
            <div>
                @foreach (var participantRoleDefintion in Model.ParticipantRoleDefinitions)
                {
                    <p class="mar-bot-7">@Html.Raw(participantRoleDefintion)</p>
                }
            </div>
        </div>
    }

    <div class="mar-top-30">
        <form asp-action="AddParticipant" onsubmit="return checkForm(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="SubmissionId" type="hidden" />
            <h3 class="mar-bot-5">Select your role on the submission</h3>
            <hr class="hr-sm" />
            <div class="form-group">
                <select asp-for="Role" asp-items="@Model.GetParticipantRoleSelectList()" class="form-control"></select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" id="AddButton" name="AddButton" />
                <a class="btn btn-default" asp-action="Index" asp-controller="Home">Cancel</a>
            </div>
        </form>
    </div>

}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
       function checkForm(form) // Submit button clicked
        {
            //
            // check form input values
            //

            form.AddButton.disabled = true;
            form.AddButton.value = "Please wait...";
            return true;
        }
    </script>
}