﻿@model ConferenceSubmission.ViewModels.UpdatePresentersViewModel

@{
    ViewData["Title"] = "Update Presenters";
}
<h1 class="color-primary">Update Participants</h1>
<hr />
<div class="mar-bot-20">
    <p class="cat-name-md">Conference: <span class="cat-info-md">@Html.Raw(Model.ConferenceName)</span></p>

    <partial name="DisplaySubmissionCategory" model="new ConferenceSubmission.ViewModels.DisplaySubmissionCategoryViewModel { SubmittedCategory = Model.SubmittedCategory, AcceptedCategory = Model.AcceptedCategory }" />

    <p class="cat-name-md">Submission Id: <span class="cat-info-md">@Model.SubmissionId</span></p>

    <p class="cat-name-md">Submission Title: <span class="cat-info-md">@Model.SubmissionTitle</span></p>

</div>
<div class="mar-bot-30">
    <h3 class="mar-bot-5">Invite Presenter(s) to Submission</h3>
    <hr class="hr-sm" />

    <partial name="ExampleAddParticipantEmail" model="new ConferenceSubmission.ViewModels.ExampleAddParticipantEmailViewModel { AddParticipantUrl = Model.AddParticipantUrl, ConferenceName = Model.ConferenceName, SubmissionTitle = Model.SubmissionTitle }" />



    <!-- The following commented out code displays a clickable icon that allows the user to copy the AddParticipantUrl to the clipboard.
         Leaving this code in because we may want to use it at some point. -->
    @*<p class="cat-info-md">
            <button type="button"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Copy link to clipboard"
                    class="mar-right-10 btn btn-outline-primary btn-lg"
                    onclick="copyToClipboard('@Model.AddParticipantUrl')">
                <i class="far fa-copy"></i>
            </button> @Model.AddParticipantUrl
        </p>*@
</div>
<div class="mar-bot-25">
    <h3 class="mar-bot-5">Submission Participants</h3>
    <hr class="hr-sm" />
    @if (Model.Presenters.Count > 1)
    {
        <div class="mar-bot-10">
            <a class="btn btn-outline-primary" asp-controller="Presenter" asp-action="UpdatePresenterOrder" asp-route-submissionId="@Model.SubmissionId"><i class="fas fa-sort"></i> Update Participant Order</a>
        </div>
    }
    @foreach (Presenter presenter in Model.Presenters.OrderBy(p => p.SortOrder))
    {
        var isSubmitter = false;
        <div class="card mar-bot-10 max-width-40-lg max-width-60-md">
            <div class="card-body pad-top-15 pad-bot-15">
                <p class="cat-name-sm mar-bot-10">Name: <span class="cat-info-sm">@presenter.FirstName @presenter.LastName</span></p>
                <p class="cat-name-sm mar-bot-10">
                    Role:
                    <span class="cat-info-sm">
                        @foreach (SubmissionParticipantToParticipantRole role in presenter.SubmissionParticipantToParticipantRolesLink)
                        {
                            <span class="badge badge-primary pad-5 text-12">@role.ParticipantRole.ParticipantRoleName</span>
                            if (role.ParticipantRole.ParticipantRoleName == ParticipantRoleType.SUBMITTER)
                            {
                                isSubmitter = true;
                            }
                        }
                    </span>
                </p>

                @*Do not show Remove link if this presenter has a role of submitter as our business rule is a Submitter cannot be removed *@
                @if (isSubmitter == false)
                {
                    <p class="mar-bot-1 mar-top-5" id="@presenter.SubmissionParticipantId,@Model.SubmissionId">
                        <a href="javascript:void(0)" class="text-15 btnRemove"><i class="fas fa-user-times"></i> Remove Participant</a>
                    </p>
                }
                @*
                    Only submitters and lead presenters are permitted to edit participant roles.
                    At the time when this functionality was first implemented, we were concerned with
                    one use case: assigning the lead presenter role to a participant with the submitter-only role.
                *@
                @if (Model.CurrentUserParticipantRoles.Any(r => r == ParticipantRoleType.SUBMITTER || r == ParticipantRoleType.LEAD_PRESENTER) && presenter.AssignedParticipantRolesType == AssignedParticipantRolesType.SUBMITTER_ONLY)
                {
                    <p class="mar-bot-1 mar-top-5">
                        <a href="javascript:void(0)" onclick="showConfirmLeadPresenterDialog()" class="text-15"><i class="fas fa-user-edit"></i> Assign lead presenter role</a>
                    </p>
                    <div class="mar-top-10" id="confirmLeadPresenterDialog" style="display:none;">
                        <p>
                            Please confirm that you wish to assign @presenter.FirstName @presenter.LastName the lead presenter role on this submission.
                            @if (!string.IsNullOrWhiteSpace(Model.GetCurrentLeadPresenterName()))
                            {
                                <span>Note: the current lead presenter, @Model.GetCurrentLeadPresenterName(), will be assigned the presenter role.</span>
                            }
                        </p>
                        <a id="assignLeadPresenterRoleLink" class="mar-right-10 text-14" onclick="hideAssignLeadPresenterRoleLink()" href="/Presenter/AssignLeadPresenterRole?submissionParticipantId=@presenter.SubmissionParticipantId&submissionId=@Model.SubmissionId"><i class="fas fa-check-circle"></i> Confirm</a>
                        <a id="fauxAssignLeadPresenterRoleLink" class="mar-right-10 text-14" style="display:none;" href="javascript:void(0)"><i class="fas fa-check-circle"></i> Confirm</a>
                        <a class="text-14" href="javascript:void(0)" onclick="hideConfirmLeadPresenterDialog()"><i class="fas fa-times-circle"></i> Cancel</a>
                    </div>
                }
            </div>
        </div>
    }
</div>

<div id="confirmDialog" title="Confirm Removal" hidden>
    <p>Please confirm you wish to remove this person from the submission. </p>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
            $.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality
        });


        var showConfirmLeadPresenterDialog = function () {
            $("#confirmLeadPresenterDialog").show();
        }

        var hideConfirmLeadPresenterDialog = function () {
            $("#confirmLeadPresenterDialog").hide();
        }

        var hideAssignLeadPresenterRoleLink = function () {
            $("#assignLeadPresenterRoleLink").hide();
            $("#fauxAssignLeadPresenterRoleLink").show();
        }

        $(function () {

            $('a[class*=btnRemove]').click(function (e) {
                debugger;
                e.preventDefault();
                var id = $(this).parent()[0].id;
                $('#confirmDialog').data('id', id).dialog('open');
            });

            $('#confirmDialog').dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                buttons: {
                    "Remove": function () {
                        var ids = $(this).data("id").split(",");
                        window.location.href = '/Presenter/RemoveSubmissionParticipant?SubmissionParticipantId=' + ids[0] + '&SubmissionId=' + ids[1];
                    },
                    "Cancel": function (e) {
                        $(this).dialog("close");
                    }
                },
            });
        });</script>
}
