﻿@{
    ViewData["Title"] = "Session Admin Start Add/Edit Single Accepted Submission Session Data";
}
<a href="/submissionadmin"><i class="fas fa-home mr-1"></i> Conference Admin Home</a>
<h1 class="text-primary mar-top-10">Add/Edit Single Accepted Submission Session Data</h1>
<hr />

<p>Enter the submission ID for the accepted submission to add or edit that submission's session data.</p>


<form asp-action="SessionDataInput" asp-controller="SessionAdmin">
    <div class="form-group">
        Enter submission ID: <input type="text" name="submissionId" />
    </div>

    <button type="submit" class="btn btn-primary">Add/Edit Session Data</button> &nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="@Url.Action("Index", "SubmissionAdmin" )">Cancel</a>
</form>

<h3 style="color:red; font-weight:bold">@ViewData["error"]</h3>