﻿@model ConferenceSubmission.BindingModels.SessionDataBindingModel

@{
    ViewData["Title"] = "Session Admin - Add Session Data For Accepted Submission";
}
<h1 class="text-primary">Add Session Data For Accepted Submission</h1>
<hr />

<p>
    @Html.Raw(Model.SubmissionData.ConferenceLongName) <br />
@Model.SubmissionData.SubmissionCategoryName <br />
@Model.SubmissionId - @Model.SubmissionData.SubmissionTitle
</p>


<form asp-action="SessionDataAdd" asp-controller="SessionAdmin">
    <div class="form-group">
        <label asp-for="SessionCode"></label>
        <input class="form-control" asp-for="SessionCode" />
        <span asp-validation-for="SessionCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SessionLocation"></label>
        <input class="form-control" asp-for="SessionLocation" />
        <span asp-validation-for="SessionLocation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SessionTrack"></label>
        <input class="form-control" asp-for="SessionTrack" />
        <span asp-validation-for="SessionTrack" class="text-danger"></span>
    </div>

    <div class="form-group">
        <p style="font-weight:bold">
            NOTE: Session start and end datetimes must be in the format
            of 05/27/2019 14:30 (mm/dd/yyyy hh:mm)) - time is specified in 24 hour time.
        </p>
    </div>

    <div class="form-group">
        <label asp-for="SessionStartDateTime"></label>
        <input class="form-control" asp-for="SessionStartDateTime" />
        <span asp-validation-for="SessionStartDateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SessionEndDateTime"></label>
        <input class="form-control" asp-for="SessionEndDateTime" />
        <span asp-validation-for="SessionEndDateTime" class="text-danger"></span>
    </div>

    <!--Add non editable Submission Presentation Method div-->

    <div class="form-group">
        <h3 style="font-weight:bold">Session Presentation Method: @Model.SubmissionPresentationMethod.PresentationMethod.PresentationMethodName.GetDescription()</h3>
    </div>

    <input type="hidden" asp-for="SubmissionId" value="@Model.SubmissionId" />

    <button type="submit" class="btn btn-primary">Save Session Data</button> &nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="@Url.Action("SessionDataStart", "SessionAdmin" )">Cancel</a>
</form>

<h3 style="color:red; font-weight:bold">@ViewData["error"]</h3>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
