﻿@model ConferenceSubmission.BindingModels.SessionDataBindingModel

@{
    ViewData["Title"] = "Session Admin - Added Session Data For Accepted Submission";
}
<h1 class="text-primary">Added Session Data For Accepted Submission</h1>
<hr />


<p>
Session Code: @Model.SessionCode <br />
Session Location: @Model.SessionLocation <br />
Session Track: @Model.SessionTrack  <br />
Session Start DateTime: @Model.SessionStartDateTime <br />
Session End DateTime: @Model.SessionEndDateTime
</p>

<p>
    <a class="btn btn-default" href="@Url.Action("SessionDataStart", "SessionAdmin" )">Session Admin Home</a>
    <a class="btn btn-default" href="@Url.Action("Index", "SubmissionAdmin" )">Submission Admin Home</a>
</p>

