﻿@model ConferenceSubmission.BindingModels.VirtualSessionDataBindingModel

<h1 class="text-primary">Create @Model.SubmssionPresentationMethod.PresentationMethod.PresentationMethodName.GetDescription() Session</h1>
<hr />
<p class="card-text font-size-point85rem mb-1"><span class="font-weight-bold">Submission Title: </span>@Model.SubmissionTitle</p>
<p class="card-text font-size-point85rem mb-1"><span class="font-weight-bold">Submission Category: </span>@Model.SubmissionCategoryName</p>
<p class="card-text font-size-point85rem mb-3"><span class="font-weight-bold">Conference: </span>@Model.ConferenceName</p>
<hr />
<form asp-action="VirtualSessionDataStart" asp-controller="SessionAdmin">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="SessionCode"></label>
        <input class="form-control" asp-for="SessionCode" />
        <span asp-validation-for="SessionCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SessionTrack"></label>
        <input class="form-control" asp-for="SessionTrack" />
        <span asp-validation-for="SessionTrack" class="text-danger"></span>
    </div>

    <div class="alert alert-primary help-text" role="alert">
        NOTE: Session start and end datetimes must be in the format
        of 05/27/2019 14:30 (mm/dd/yyyy hh:mm) - time is specified in 24 hour time.
    </div>
    <div class="form-group">
        <label asp-for="SessionStartDateTime"></label>
        <input class="form-control" asp-for="SessionStartDateTime" />
        <span asp-validation-for="SessionStartDateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SessionEndDateTime"></label>
        <input class="form-control" asp-for="SessionEndDateTime" />
        <span asp-validation-for="SessionEndDateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <h3 style="font-weight:bold">Session Presentation Method: @(Model.SubmssionPresentationMethod.PresentationMethod.PresentationMethodName.GetDescription())</h3>
    </div>

    <input type="hidden" asp-for="SubmissionId" value="@Model.SubmissionId" />
    <input type="hidden" asp-for="SubmissionPresentationMethodId" value="@Model.SubmssionPresentationMethod.SubmissionPresentationMethodId" />
    <input type="hidden" asp-for="PresentationMethodType" value="@Model.SubmssionPresentationMethod.PresentationMethod.PresentationMethodName" />

    <button type="submit" class="btn btn-primary">Create Virtual Session</button>
    <a class="btn btn-default ml-2" href="/submissionadmin/viewsubmission?submissionId=@Model.SubmissionId">Cancel</a>
</form>


@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
