﻿@{
    ViewData["Title"] = "Disclosure Successfully Created";
}

<h1 class="text-primary">Disclosure</h1>
<hr />

@* if submissionId value is 0 means user updated disclosure as part of process of adding himself as a participant
    if submissionId value is -1 means user updated disclosure from link on home page
     else user updated disclosure as part of creating a new submission
     so in each case we need to show a slightly different message to user.
*@
@if (Int32.Parse(ViewData["submissionId"].ToString()) == 0)
{

    <p class="text-16 mar-bot-5">You have been added to the submission and your disclosure created/updated.</p>
    <a asp-controller="Home" asp-action="Index" class="text-16"><i class="fas fa-home"></i> Return Home To View Submission</a>

}
else if (Int32.Parse(ViewData["submissionId"].ToString()) == -1)
{

    <p class="text-16 mar-bot-5">Your disclosure was updated.</p>
    <a asp-controller="Home" asp-action="Index" class="text-16"><i class="fas fa-home"></i> Return Home</a>

}

else
{
    <p class="text-16 mar-bot-5">Your disclosure has been created/updated.</p>
    <p class="text-16 mar-bot-5">Click on 
    <a class="text-16" asp-controller="Submission" asp-action="ProposalSuccess" asp-route-submissionId="@ViewData["submissionId"]"><i class="fas fa-eye"></i> View Submission</a>
    to see your entire submission and get instructions on how to add presenters or edit your submission in the future."</p>

}


