﻿@model ConferenceSubmission.BindingModels.DisclosureBindingModel
@{
    ViewData["Title"] = "Disclosure";
}

<h1 class="color-primary">Disclosure</h1>
<hr />
<p>
    Every presenter is required to fully disclose any relevant financial interest or other
    relationship with the commercial supporter(s) of this educational activity or with the
    manufacturer(s) of any commercial product(s) and/or providers of commercial services
    discussed in this educational activity including 1-year prior to and/or 1-year
    following conference presentation(s).
</p>

<p>
    Every presenter is also required to fully disclose when an unlabeled use of a commercial
    product, or an investigational use not yet approved for any purpose, is discussed during an
    educational activity.
</p>

@if (ViewData.ContainsKey("Error"))
{
    <h3 style="color:red;font-weight:bold">@ViewData["Error"]</h3>
}


<form asp-action="CreateDisclosure" asp-controller="Disclosure" enctype="multipart/form-data">
    <div class="form-group mar-bot-10">
        <h3>Disclosure of Financial Relationships</h3>
        <hr class="hr-sm" />
        <p><b>Part I:</b> Check either A or B. You must check only one button. <span style="color:red">Required *</span></p>
        @{

            for (int i = 0; i < Model.Part1.Count(); i++)
            {
                <div class="checkbox checkboxlist mar-left-15">

                    <label asp-for="@Model.Part1[i].DisclosureQuestionValue">
                        <input asp-for="Part1Answer" value="@Model.Part1[i].DisclosureQuestionValue" type="radio" />
                        @Model.Part1[i].DisclosureQuestionText
                    </label>
                    <input asp-for="@Model.Part1[i].DisclosureQuestionValue" type="hidden" />
                </div>

            }

        }
        <span asp-validation-for="Part1Answer" class="text-danger"></span>

    </div>

    <div class="form-group mar-bot-35">

        <p>
            <b>Part II:</b> If you checked B above, please list all entities and nature of relationship with each, e.g.,
            research grants, stock or bond holdings, employment, ownership or partnership, consulting fees,
            other remuneration (honoraria, travel expenses, etc)
        </p>

        <textarea class="form-control" asp-for="Part2Answer" rows="5"></textarea>

    </div>

    <div class="form-group mar-bot-10">

        <h3>Disclosure of Unlabeled/Investigational Uses of Products</h3>
        <hr class="hr-sm" />
        <p><b>Part III:</b> Check either A or B. You must check only one button. <span style="color: red">Required *</span></p>
        @{

            for (int i = 0; i < Model.Part3.Count(); i++)
            {
                <div class="checkbox checkboxlist mar-left-15">

                    <label asp-for="@Model.Part3[i].DisclosureQuestionValue">
                        <input asp-for="Part3Answer" value="@Model.Part3[i].DisclosureQuestionValue" type="radio" />
                        @Model.Part3[i].DisclosureQuestionText
                    </label>
                    <input asp-for="@Model.Part3[i].DisclosureQuestionValue" type="hidden" />
                </div>

            }

        }
        <span asp-validation-for="Part3Answer" class="text-danger"></span>

    </div>

    <div class="form-group mar-bot-35">

        <p>
            <b>Part IV:</b> If you checked B above, please describe the unapproved or investigational uses of products
            or devices that you will discuss in your material(s)/presentation(s):
        </p>

        <textarea class="form-control" asp-for="Part4Answer" rows="5"></textarea>

    </div>

    <div class="form-group mar-bot-10">

        <h3>Disclosure of Speakers' Bureau</h3>
        <hr class="hr-sm" />
        <p><b>Part V:</b> Check either A or B. You must check only one button. <span style="color: red">Required *</span></p>
        @{

            for (int i = 0; i < Model.Part5.Count(); i++)
            {
                <div class="checkbox checkboxlist mar-left-15">

                    <label asp-for="@Model.Part5[i].DisclosureQuestionValue">
                        <input asp-for="Part5Answer" value="@Model.Part5[i].DisclosureQuestionValue" type="radio" />
                        @Model.Part5[i].DisclosureQuestionText
                    </label>
                    <input asp-for="@Model.Part5[i].DisclosureQuestionValue" type="hidden" />
                </div>

            }

        }
        <span asp-validation-for="Part5Answer" class="text-danger"></span>

    </div>

    <div class="form-group mar-bot-35">

        <p>
            <b>Part VI:</b> If you checked B above, please describe the involvement with the speaker's bureau.
            For example, did you or a member of your immediate family receive training, travel for this training,
            did the company provide audio visualmaterial, did the company pay any expenses, did the company provide
            an honorarium, consulting fee, or any other type of compensation?
        </p>

        <textarea class="form-control" asp-for="Part6Answer" rows="5"></textarea>

    </div>

    @{
        if (Model.isSubmissionForCPQI)
        {

            <div class="form-group mar-bot-35">

                <p>
                    <b>CV File</b> You must use the button below to upload your CV file. The file must be in PDF format.
                </p>

                <input class="form-control" asp-for="@Model.CvFile" type="file" />

            </div>
        }

    }

    <div class=form-group>
        <h3>Acknowledgement</h3>
        <hr class="hr-sm" />
        <p>
            <b>Part VII:</b> I have read the policy on full disclosure. If I have indicated a financial relationship or interest,
            I understand that this information will be reviewed to determine whether a conflict of interest may exist,
            and I may be asked to provide additional information. I understand that failure or refusal to disclose,
            false disclosure, or inability to resolve conflicts of interest will require us to identify a replacement. <br />
            <b>Type your full name in the space below to acknowledge that you will comply with our disclosure policy. </b>
        </p>

        <input class="form-control" asp-for="FullName" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="StfmUserId" value="@Model.StfmUserId" />
    <input type="hidden" asp-for="SubmissionId" value="@Model.SubmissionId" />
    <input type="hidden" asp-for="isSubmissionForCPQI" value="@Model.isSubmissionForCPQI" />
    <button type="submit" class="btn btn-primary">Save</button> &nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="@Url.Action("Index", "Home" )">Cancel</a>
</form>
@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}