﻿body {
    padding-top: 190px;
}

#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hr-sm {
    margin: 0px 0 10px 0;
    margin-left: 0;
    width: 40%;
    border-top: 1px solid rgba(239,141,43,0.2);
}

.hr-md {
    margin: 0px 0 10px 0;
    margin-left: 0;
    width: 70%;
    border-top: 1px solid rgba(239,141,43,0.2);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }

    .hr-sm {
        width: 80% !important;
    }
}

/* */
.app-badge {
    padding: 12px !important;
    font-size: 1.15em !important;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #363636 !important;
    background-color: gainsboro;
    border-radius: 2px !important;
}

/* Common Margin and Padding Classes */
.pad-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pad-5 {
    padding: 5px !important;
}

.pad-15 {
    padding: 15px !important;
}

.mar-top-1 {
    margin-top: 1px !important;
}

.mar-top-2 {
    margin-top: 2px !important;
}

.mar-top-3 {
    margin-top: 3px !important;
}

.mar-top-4 {
    margin-top: 4px !important;
}

.mar-top-5 {
    margin-top: 5px !important;
}

.mar-top-10 {
    margin-top: 10px !important;
}

.mar-top-15 {
    margin-top: 15px !important;
}

.mar-top-20 {
    margin-top: 20px !important;
}

.mar-top-25 {
    margin-top: 25px !important;
}

.mar-top-30 {
    margin-top: 30px !important;
}

.mar-top-35 {
    margin-top: 35px !important;
}

.mar-top-40 {
    margin-top: 40px !important;
}

.mar-top-45 {
    margin-top: 45px !important;
}

.mar-top-50 {
    margin-top: 50px !important;
}

.mar-bot-0 {
    margin-bottom: 0px !important;
}

.mar-bot-1 {
    margin-bottom: 1px !important;
}

.mar-bot-2 {
    margin-bottom: 2px !important;
}

.mar-bot-3 {
    margin-bottom: 3px !important;
}

.mar-bot-4 {
    margin-bottom: 4px !important;
}

.mar-bot-5 {
    margin-bottom: 5px !important;
}

.mar-bot-7 {
    margin-bottom: 7px !important;
}

.mar-bot-10 {
    margin-bottom: 10px !important;
}

.mar-bot-15 {
    margin-bottom: 15px !important;
}

.mar-bot-20 {
    margin-bottom: 20px !important;
}

.mar-bot-25 {
    margin-bottom: 25px !important;
}

.mar-bot-30 {
    margin-bottom: 30px !important;
}

.mar-bot-35 {
    margin-bottom: 35px !important;
}

.mar-bot-40 {
    margin-bottom: 40px !important;
}

.mar-bot-45 {
    margin-bottom: 45px !important;
}

.mar-bot-50 {
    margin-bottom: 50px !important;
}

.mar-left-1 {
    margin-left: 1px !important;
}

.mar-left-2 {
    margin-left: 2px !important;
}

.mar-left-3 {
    margin-left: 3px !important;
}

.mar-left-4 {
    margin-left: 4px !important;
}

.mar-left-5 {
    margin-left: 5px !important;
}

.mar-left-10 {
    margin-left: 10px !important;
}

.mar-left-15 {
    margin-left: 15px !important;
}

.mar-left-20 {
    margin-left: 20px !important;
}

.mar-left-25 {
    margin-left: 25px !important;
}

.mar-left-30 {
    margin-left: 30px !important;
}

.mar-left-35 {
    margin-left: 35px !important;
}

.mar-left-40 {
    margin-left: 40px !important;
}

.mar-left-45 {
    margin-left: 45px !important;
}

.mar-left-50 {
    margin-left: 50px !important;
}

.mar-right-1 {
    margin-right: 1px !important;
}

.mar-right-2 {
    margin-right: 2px !important;
}

.mar-right-3 {
    margin-right: 3px !important;
}

.mar-right-4 {
    margin-right: 4px !important;
}

.mar-right-5 {
    margin-right: 5px !important;
}

.mar-right-10 {
    margin-right: 10px !important;
}

.mar-right-15 {
    margin-right: 15px !important;
}

.mar-right-20 {
    margin-right: 20px !important;
}

.mar-right-25 {
    margin-right: 25px !important;
}

.mar-right-30 {
    margin-right: 30px !important;
}

.mar-right-35 {
    margin-right: 35px !important;
}

.mar-right-40 {
    margin-right: 40px !important;
}

.mar-right-45 {
    margin-right: 45px !important;
}

.mar-right-50 {
    margin-right: 50px !important;
}

/*************/
.pad-0 {
    padding: 0 !important;
}

.pad-top-1 {
    padding-top: 1px !important;
}

.pad-top-2 {
    padding-top: 2px !important;
}

.pad-top-3 {
    padding-top: 3px !important;
}

.pad-top-4 {
    padding-top: 4px !important;
}

.pad-top-5 {
    padding-top: 5px !important;
}

.pad-top-10 {
    padding-top: 10px !important;
}

.pad-top-15 {
    padding-top: 15px !important;
}

.pad-top-20 {
    padding-top: 20px !important;
}

.pad-top-25 {
    padding-top: 25px !important;
}

.pad-top-30 {
    padding-top: 30px !important;
}

.pad-top-35 {
    padding-top: 35px !important;
}

.pad-top-40 {
    padding-top: 40px !important;
}

.pad-top-45 {
    padding-top: 45px !important;
}

.pad-top-50 {
    padding-top: 50px !important;
}

.pad-bot-1 {
    padding-bottom: 1px !important;
}

.pad-bot-2 {
    padding-bottom: 2px !important;
}

.pad-bot-3 {
    padding-bottom: 3px !important;
}

.pad-bot-4 {
    padding-bottom: 4px !important;
}

.pad-bot-5 {
    padding-bottom: 5px !important;
}

.pad-bot-10 {
    padding-bottom: 10px !important;
}

.pad-bot-15 {
    padding-bottom: 15px !important;
}

.pad-bot-20 {
    padding-bottom: 20px !important;
}

.pad-bot-25 {
    padding-bottom: 25px !important;
}

.pad-bot-30 {
    padding-bottom: 30px !important;
}

.pad-bot-35 {
    padding-bottom: 35px !important;
}

.pad-bot-40 {
    padding-bottom: 40px !important;
}

.pad-bot-45 {
    padding-bottom: 45px !important;
}

.pad-bot-50 {
    padding-bottom: 50px !important;
}

.pad-left-1 {
    padding-left: 1px !important;
}

.pad-left-2 {
    padding-left: 2px !important;
}

.pad-left-3 {
    padding-left: 3px !important;
}

.pad-left-4 {
    padding-left: 4px !important;
}

.pad-left-5 {
    padding-left: 5px !important;
}

.pad-left-10 {
    padding-left: 10px !important;
}

.pad-left-15 {
    padding-left: 15px !important;
}

.pad-left-20 {
    padding-left: 20px !important;
}

.pad-left-25 {
    padding-left: 25px !important;
}

.pad-left-30 {
    padding-left: 30px !important;
}

.pad-left-35 {
    padding-left: 35px !important;
}

.pad-left-40 {
    padding-left: 40px !important;
}

.pad-left-45 {
    padding-left: 45px !important;
}

.pad-left-50 {
    padding-left: 50px !important;
}

.pad-right-1 {
    padding-right: 1px !important;
}

.pad-right-2 {
    padding-right: 2px !important;
}

.pad-right-3 {
    padding-right: 3px !important;
}

.pad-right-4 {
    padding-right: 4px !important;
}

.pad-right-5 {
    padding-right: 5px !important;
}

.pad-right-10 {
    padding-right: 10px !important;
}

.pad-right-15 {
    padding-right: 15px !important;
}

.pad-right-20 {
    padding-right: 20px !important;
}

.pad-right-25 {
    padding-right: 25px !important;
}

.pad-right-30 {
    padding-right: 30px !important;
}

.pad-right-35 {
    padding-right: 35px !important;
}

.pad-right-40 {
    padding-right: 40px !important;
}

.pad-right-45 {
    padding-right: 45px !important;
}

.pad-right-50 {
    padding-right: 50px !important;
}
/*************/

/* Margins for extra small devices */
@media(max-width:450px) {
    .mar-bot-15-xs {
        margin-bottom: 15px;
    }
}

/* Margins for small devices */
@media(max-width:767.98px) {
    .mar-top-10-sm {
        margin-top: 10px;
    }
}

/* padding for up to medium devices */
@media(max-width:991.98px) {
    .pad-y-10-md {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .hr-sm {
        width: 60%;
    }
}

/* padding for medium and larger devices */
@media(min-width:768px) {
    .pad-top-7-md {
        padding-top: 7px;
    }
}

/* padding for large devices */
@media(min-width:991.98px) {
    .pad-right-25-lg {
        padding-right: 25px;
    }

    .pad-top-7-lg {
        padding-top: 7px;
    }
}

/* Character Count Stylings */

.exceeded {
    color: #a94442;
}

/* classes the control font size */

.font-1-1 {
    font-size: 1.1em !important;
}

/* classes that manipulate the cursor */
.cursor-default {
    cursor: default;
}

.hover-none:hover {
    text-decoration: none;
}

/* classes that control color */

.color-primary {
    color: #1D417B !important;
}

.color-secondary {
    color: #0096D2 !important;
}

.color-tertiary {
    color: #EF8D2B !important;
}

.color-white {
    color: #fff !important;
}

.color-green {
    color: green !important;
}

.color-link {
    color: #0096D2 !important;
}

    .color-link:hover {
        color: #66d4ff !important;
    }

.bg-black {
    background-color: #212121 !important;
}

.bg-primary {
    background-color: #1D417B !important;
}

.border-tertiary {
    border-color: #EF8D2B !important;
}
/* Classes that style the top nav bar */
.fixed-top-main-nav {
    position: fixed;
    top: 48px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.top-bar-link {
    color: #fff !important;
}

    .top-bar-link:hover {
        color: #e2e2e2 !important;
    }

@media(min-width:768px) {
    .max-width-60-md {
        max-width: 60% !important;
    }
}

@media (min-width: 992px) {
    .pl-lg-40 {
        padding-left: 40px !important;
    }

    .max-width-40-lg {
        max-width: 40% !important;
    }

    .pad-30-lg {
        padding: 30px;
    }
}

@media (min-width: 1200px) {
    .pl-xl-60 {
        padding-left: 60px !important;
    }

    .max-width-30-xl {
        max-width: 30% !important;
    }
}


@media (min-width: 320px) {
    .navbar-expand-xs {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

        .navbar-expand-xs .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row
        }


            .navbar-expand-xs .navbar-nav .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem
            }
}

/* Classes that style cards */

.card.border-tertiary {
    border-width: 1px;
}


/*Classes that control fonts*/
.font-size-1rem {
    font-size: 1rem !important;
}

.font-size-point85rem {
    font-size: .85rem !important;
}

.label-not-bold {
    font-weight: normal !important;
}

.cat-name-lg {
    font-size: 18px !important;
    font-weight: 500 !important;
    margin-bottom: 3px !important;
}

.cat-info-lg {
    font-size: 16px !important;
    font-weight: normal !important;
}

.cat-name-md {
    font-size: 17px !important;
    font-weight: 500 !important;
    margin-bottom: 3px !important;
}

.cat-info-md {
    font-size: 15px !important;
    font-weight: normal !important;
}

.cat-name-sm {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-bottom: 3px !important;
}

.cat-info-sm {
    font-size: 14px !important;
    font-weight: normal !important;
}

.cat-name-xs {
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-bottom: 3px !important;
}

.cat-info-xs {
    font-size: 12px !important;
    font-weight: normal !important;
}

.text-red {
    color: red !important;
}

.text-blue {
    color: #0096D2 !important;
}

.text-green {
    color: green !important;
}

.text-black-70 {
    color: rgba(0,0,0,0.70) !important;
}

.text-12 {
    font-size: 12px !important;
}

.text-13 {
    font-size: 12px !important;
}

.text-14 {
    font-size: 14px !important;
}

.text-15 {
    font-size: 15px !important;
}

.text-16 {
    font-size: 16px !important;
}

/* Classes that add/modify bootstrap badges */
.badge-primary {
    color: #1D417B;
    background-color: #efefef;
    border-radius: 0;
}

    .badge-primary[href]:hover, .badge-primary[href]:focus {
        color: #1D417B;
        text-decoration: none;
        background-color: #dedede;
    }

/*classes for manipulating position*/
.center-y {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Classes for styling help text */
.help-text {
    color: #004085 !important;
    background-color: #cce5ff !important;
    border-color: #b8daff !important;
}


    .help-text > a {
        color: #004085 !important;
        text-decoration: underline;
    }

.accordion-btn {
    text-transform: none !important;
    white-space: normal;
    text-align: left;
    color: #0096D2;
}

    .accordion-btn:hover, .accordion-btn::selection, .accordion-btn:focus {
        text-decoration: none;
    }

    .accordion-btn:hover {
        color: #66d4ff;
    }

    .accordion-btn::selection, .accordion-btn:focus {
        color: #0096D2;
    }

/* This prevents the dropdown arrow from colliding with the number */
.dataTables_length > label > select {
    min-width: 33px;
}

.dataTables_length{
    margin-top: 4px !important;
}

.dt-buttons {
    margin-left: 15px !important;
}

/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    display: inline-block;
}

    /* Add some margins for each label */
    .form-inline label {
        margin: 5px 10px 5px 0;
    }

    /* Style the input fields */
    .form-inline input {
        margin: 5px 0px 5px 0;
        padding: 5px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    /* Style the submit button */
    .form-inline button {
        padding: 5px 5px;
        background-color: dodgerblue;
        border: 1px solid #ddd;
        color: white;
        display: inline-block;
    }

.list-no-bullets{
    list-style-type:none !important;
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 920px;
    }
}

@media (max-width: 767px) {
    .hideOnSmallDevices{
        display:none;
    }
}

@media (min-width: 768px) {
    .hideOnLargeDevices {
        display: none;
    }
}

@media (min-width: 768px){
    .splitDisplayBox {
        border: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        padding: 20px
    }
}

.container-review{
    width:95%;
    margin-right: auto;
    margin-left: auto;
}