﻿.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

.list-no-bullets {
    list-style-type: none !important;
}

.highlight {
    border: 1px solid #444;
    font-weight: bold;
    font-size: 45px;
    background-color: #999;
    height: 1.01em;
    line-height: 1.2em;
}