﻿@using Microsoft.AspNetCore.Authentication
@model ConferenceSubmission.ViewModels.AuthenticationViewModel


<div class="offset-md-2 col-md-8">
    <div class="card pad-30-lg">
        <div class="card-body">
            <h4 class="card-title text-center">To start a new submission, edit a pending submission, or review a past submission, please sign in with your username and password.</h4>
            <p class="card-title text-center font-italic">If you receive a message during the login process requesting access to your basic profile information, please click "Access."</p>
            <div class="mar-top-20">
                @foreach (var scheme in Model.AuthenticationSchemes)
                {
                    <form action="/signin" method="post">
                        <input type="hidden" name="Provider" value="@scheme.Name" />
                        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                        <button class="btn btn-primary center-y text-16" type="submit">Login</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>




